{% extends "base.html.twig" %}

{% block header %}
    {% include "ciudadano/header.html.twig" %}
    <style>
        hr {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .container {
            width: 100%;
        }
        .navbar{
            background-color: rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid #ccc;
        }
        #wrapper {
            padding-left: 250px;
            transition: all 0.4s ease 0s;
        }

        #sidebar-wrapper {
            margin-left: -250px;
            top: 51px;
            left: 250px;
            width: 250px;
            background-color: rgba(0, 0, 0, 0.1);
            position: fixed;
            height: 100%;
            overflow-y: auto;
            z-index: 1000;
            /*transition: all 0.4s ease 0s;*/
        }

        #wrapper.active {
            padding-left: 0;
        }

        #wrapper.active #sidebar-wrapper {
            left: 0;
        }

        #page-content-wrapper {
            width: 100%;
            /*padding-top: 70px;*/
            transition: all 0.4s ease 0s;
            background-color: rgba(0, 0, 0, 0.2);

            margin-left: -250px;
            top: 51px;
            right: 0px;
            /*left: 250px;*/
            position: fixed;
            height: 100%;
            overflow-y: auto;
            z-index: 1000;

        }

        #panel-envio{
            width: 100%;
            position:absolute;
            bottom: 0px;
            height: 135px;
            background-color: rgba(0, 0, 0, 0.2);
            border-top: 1px solid #ccc;
        }

        #panel-chat{
            width: 100%;
            background-color: rgb(255, 255, 255);
            overflow-y: auto;
            /*border-top: 1px solid #ccc;*/
        }

        #panel-chat-descripcion{
            width: 100%;
            height: 50px;
            background-color: rgb(163, 163, 163);
            border-bottom: 1px solid #ccc;
            font-size: 16px;
            color: #E6E6E6;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #panel-chat-descripcion img{
            margin-left: 5px;
            margin-right: 5%;
        }

        .sidebar-nav {
            position: absolute;
            top: 0;
            width: 250px;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .sidebar-nav li {
            /*line-height: 40px;*/
            text-indent: 20px;
        }

        .sidebar-nav li a button:before {
            position: absolute;
            left: 0;
            color: #41484c;
            text-align: center;
            width: 20px;
            line-height: 18px;
        }

        .sidebar-nav li button img,
        .sidebar-nav li button span{
            margin-left: 5%;
        }

        .sidebar-nav li button{
            color: #999999;
            display: block;
            text-decoration: none;
            padding-left: 60px;
        }

        .sidebar-nav li button{
            padding-left: 0px; 
            border: none; 
            background-color: transparent; 
            text-align: left;
        }

        .activo,
        .sidebar-nav li button:hover,
        .sidebar-nav li button:active,
        .sidebar-nav li.active {
            color: #fff;
            background: rgba(255,255,255,0.2);
            text-decoration: none;
        }

        .sidebar-nav li button:active,
        .sidebar-nav li a¡button:focus {
            text-decoration: none;
        }

        .sidebar-nav > .sidebar-brand {
            /*height: 65px;*/
            line-height: 60px;
            font-size: 15px;
        }

        .sidebar-nav > .sidebar-brand button {
            color: #999999;
        }

        .sidebar-nav > .sidebar-brand button:hover {
            color: #fff;
            background: none;
        }

        #menu-toggle {
            text-decoration: none;
            float: left;
            color: black;
            padding-right: 15px;
        }


        @media (max-width:767px) {

            #wrapper {
                padding-left: 0;
            }

            #sidebar-wrapper {
                left: 0;
            }

            #wrapper.active {
                position: relative;
                left: 250px;
            }

            #wrapper.active #sidebar-wrapper {
                left: 250px;
                width: 250px;
            }

            #menu-toggle {
                display: inline-block;
            }

        }

    </style>
{% endblock %}

{% block body %}


    <div id="wrapper">
        <nav class="navbar navbar-fixed-top" id="navbarstyle" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div  class="navbar-brand">
                        <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <a href="/ciudadano/ocio/amigos"><span class="fa fa-arrow-left" style=" margin-top:15px; font-size: 20px;"></span></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">
                                <i class="fa fa-home"></i>
                                HOME
                            </a>
                        </li>
                        <li>
                            <a href="/ciudadano/ocio">
                                <i class="fa fa-briefcase"></i>
                                OCIO
                            </a> 
                        </li>
                        <li>
                            <a href="/ciudadano/ocio/amigos">
                                <i class="fa fa-briefcase"></i>
                                AMIGOS
                            </a> 
                        </li>
                        <li class="active">
                            <a href="#">
                                <i class="fa fa-briefcase"></i>
                                CHAT
                            </a> 
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <nav id="spy">

                <ul class="sidebar-nav nav">
                    <center><h6 style="font-size: 13px; text-transform: uppercase; font-weight: bold;">CHATS DE DISTRITOS</h6></center>
                        {% if DISTRITOS is not null %}
                            {% for DISTRITO in DISTRITOS %}
                            <li>
                                <button onclick="abrir_chat(null, {{ DISTRITO.getIdUsuarioDistrito() }});" id="{{ DISTRITO.getIdUsuarioDistrito() }}" class="btn-block">
                                    <span class="fa fa-bank"></span> 
                                    <span style="padding-left: 30px; text-transform: uppercase; font-size: 13px;">{{ DISTRITO.getNombre() }}</span>
                                </button>
                            </li>
                        {% endfor %}
                    {% endif %}
                    <li role="separator" class="divider"><hr></li>
                    <center><h6 style="font-size: 13px; text-transform: uppercase; font-weight: bold;">CHATS INDIVIDUALES</h6></center>
                        {% if CIUDADANOS is not null %}
                            {% for CIUDADANO in CIUDADANOS %}
                            <li>
                                <button onclick="abrir_chat({{ CIUDADANO.getIdUsuario() }}, null);" id="{{ CIUDADANO.getIdUsuario() }}" class="btn-block">
                                    {% if CIUDADANO.getImagen() is not null%}
                                        <img id="image"
                                             src="{{ asset('images/users/' ~ CIUDADANO.getDni() ~ '/' ~ CIUDADANO.getImagen() ) }}"
                                             class="img-circle"
                                             width="30" height="30"
                                             />
                                    {% else %}
                                        <img id="image"
                                             src="{{ asset('images/fotos-usuarios/default.jpg') }}"
                                             class="img-circle"
                                             width="30" height="30"/>
                                    {% endif %}
                                    <span style="padding-left: 30px; text-transform: lowercase; font-size: 13px;">@{{ CIUDADANO.getSeudonimo() }}</span>
                                </button>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </nav>
        </div>
        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div id="panel-chat-descripcion"></div>
                        <div id="panel-chat"></div>
                    </div>
                </div>
            </div>
            <div id="panel-envio" style="padding: 2%;">
                <div class="col-xs-10">
                    <textarea class="form-control" id="mensaje" style="resize:none; width:100%;"></textarea>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-default" type="button" id="enviar">Enviar</button> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        distrito = null;
        chat_actual = null;
        chat_grupo_actual = null;
        offset = 0;
        $(document).ready(function () {
            var height = $(this).height(), width = $(this).width();

            $('#panel-chat').height($(window).height() - 200);
            ajustarTamanioContenido();
            getDistrito();
            getUltimoChat();
            setInterval(function () {
                abrir_chat(chat_actual, chat_grupo_actual);
            }, 6000);
            $(window).resize(function () {
                if ($(this).height() !== height || $(this).width() !== width) {
                    $('#panel-chat').height($(this).height() - 200);
                    ajustarTamanioContenido();
                    $('.sidebar-nav').height($(this).height() - 50);
                }
            });
        {% if info.message is defined or info.type is defined%}
                $('#box_modal_result').click();
        {% endif %}
            });
            /*Menu-toggle*/
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("active");
                ajustarTamanioContenido();
            });
            function ajustarTamanioContenido() {
                anchura = $('#sidebar-wrapper').css("left");
                if (anchura === "0px") {
                    $('#page-content-wrapper').width($(window).width());
                    $('#panel-envio').width($(window).width());
                } else {
                    $('#page-content-wrapper').width($(window).width() - 250);
                    $('#panel-envio').width($(window).width() - 250);
                }
            }
            function getDistrito() {
                var url = '/ciudadano/getDistrito';
                $.get(url, function (data) {
                    console.log(data);
                    if (data.estado === 'OK') {
                        distrito = data.distrito;
                    } else {
                        distrito = null;
                    }
                });
            }
            function getUltimoChat() {
                var url = '/ciudadano/getUltimoChat';
                $.get(url, function (data) {
                    console.log(data);
                    if (data.estado === 'OK') {
                        if (data.id_grupo !== null) {
                            chat_grupo_actual = data.id_grupo;
                            chat_actual = null;
                            abrir_chat(chat_actual, chat_grupo_actual);
                        }
                        if (data.id_chat !== null) {
                            chat_grupo_actual = null;
                            chat_actual = data.id_chat;
                            abrir_chat(chat_actual, chat_grupo_actual);
                        }
                    } else {
                        chat_actual = null;
                        chat_grupo_actual = null;
                    }
                    return 0;
                });
            }
            function abrir_chat(id_usuario, id_grupo) {
                if (id_usuario !== null) {
                    chat_actual = id_usuario;
                    chat_grupo_actual = null;
                    var url = '/ciudadano/getChat/' + chat_actual + '/' + null + '/' + offset;
                } else if (id_grupo !== null) {
                    chat_grupo_actual = id_grupo;
                    chat_actual = null;
                    var url = '/ciudadano/getChat/' + null + '/' + chat_grupo_actual + '/' + offset;
                }

                if (chat_actual !== null) {
                    var url = '/ciudadano/getChat/' + chat_actual + '/' + null + '/' + offset;
                } else if (chat_grupo_actual !== null) {
                    var url = '/ciudadano/getChat/' + null + '/' + chat_grupo_actual + '/' + offset;
                }

                if (chat_actual !== null || chat_grupo_actual !== null) {
                    $.get(url, function (data) {
                        console.log(data);
                        $('#panel-chat').empty();
                        if (data.estado === 'OK') {
                            contenido = '';
                            $.each(data.mensajes, function (k, v) {
                                contenido += '<div class="col-xs-12" style="margin-top:1%;">';
                                if (v.usuario.alias === v.usuario.mi_alias) {
                                    contenido += '<span style="float:right; background-color: #EBF8A4; padding: 1%; color:black;">';
                                } else {
                                    contenido += '<span style="float:left; background-color: #EBF8A4; padding: 1%; color:black;">';
                                }
                                contenido += v.mensaje;
                                contenido += '</span>';
                                contenido += '</div>';
                            });
                            $('#panel-chat').append(contenido);
                        } else {
                        }
                        $('#panel-chat-descripcion').empty();
                        descripcion = '';
                        if (typeof data.usuario !== 'undefined') {
                            if (data.usuario.imagen !== null) {
                                descripcion += '<img src="{{ asset('images/users/') }}' + data.usuario.dni + '/' + data.usuario.imagen + '" height="40" width="40" class="img-circle">';
                            } else {
                                descripcion += '<img src="{{ asset('images/fotos-usuarios/default.jpg') }}' + '" height="40" width="40" class="img-circle">';
                            }
                            descripcion += 'Chat con @' + data.usuario.alias;
                        }
                        $('#panel-chat-descripcion').append(descripcion);
                    });
                } else {
                    contenido += '<div class="col-lg-12" style="margin-top:1%;">';
                    contenido += '<span style="float:left; background-color: #EBF8A4; padding: 1%; color:black;">';
                    contenido += 'Para comenzar a chatear con amigos o tu distrito selecciona el contacto en la lista';
                    contenido += '</span>';
                    contenido += '</div>';
                    $('#panel-chat').append(contenido);
                }
            }

            $('#enviar').click(function () {
                var mensaje = $('#mensaje').val();
                if ($.trim(mensaje) !== '') {
                    $('#enviar').html('Enviando...');
                    $('#mensaje').val('');
                    datos = {'id_usuario': chat_actual, 'id_distrito': chat_grupo_actual, 'mensaje': mensaje};
                    $.post('/ciudadano/enviarMensajeChat', datos, function (data) {
                        console.log(data);
                        if (data.estado === 'OK') {
                            if (chat_actual !== null) {
                                abrir_chat(chat_actual, null);
                            } else if (chat_grupo_actual !== null) {
                                abrir_chat(null, chat_grupo_actual);
                            }

                        }
                    });
                    $('#enviar').html('Enviar');
                }
            });
    </script>
{% endblock %}