{% extends "base.html.twig" %}

{% block header %}
    {% include "ciudadano/header.html.twig" %}
{% endblock %}

{% block stylesheets %}
    <style>
        .menu span{
            cursor: pointer;
        }
        .modal-header{
            padding: 4% 6%;
        }
        .modal-title{
            font-size: 25px;
        }
        #mensaje-texto{
            font-size: 20px;
        }
        .modal-advice .modal-dialog{
            top: 50%;
        }
        #selector_ciudadanos{
            width: 100%;
        }
        .advertencia{
            font-size: 15px;
        }
        .modal-content{
            background-color: #FFFFFF;
        }
        .modal-box__close {
            cursor: pointer;
            height: 20px;
            position: absolute;
            right: .75em;
            top: .75em;
            width: 20px;
            z-index: 99;
        }
        .rt-svg-icon {
            margin: 0 auto;
            text-align: center;
            height: 20px;
            width: 20px;
        }
        .rt-svg-icon svg {
            height: inherit;
            width: inherit;
        }
        svg:not(:root) {
            overflow: hidden;
        }
        .rt-login-title {
            border-bottom: 1px solid #e4e4e4;
            box-sizing: content-box;
            color: #7e7e7e;
            min-height: 1.5em;
        }
        .rt-login-title,

        .modal__content-center {
            text-align: center;
        }
        .rt-login-title,
        .rt-login-container,

        .content-box--top, 
        .content-box-body, 
        .info-box,
        .text-base-padding, 
        .value-label-list .value-label-list__item {
            padding: .75em;
        }

        .modal-box {
            /* background: #fff; */
            cursor: default;
            display: inline-block;
            max-height: 100vh;
            /* min-width: 100px; */
            position: relative;
            left: 20%;
            /* text-align: left; */
            /* z-index: 10000000001; */
        }
        .input-field input:not([type=radio]){
            background: #f4f5f5;
            border: 1px solid #aaacaf;
            border-radius: 4px;
            height: 40px;
            margin-bottom: .5em;
            outline: 0;
            padding: 10px;
            color: black;
        }


        .basic-values-container .is-first {
            margin-top: 0;
        }
        .basic-values-container, .live-cheers-container, .live-indicator {
            background: rgba(255,255,255,.75);
            position: relative;
            z-index: 1000;
        }
        .value-label-list--horizontal, .value-label-list--stackable {
            display: table;
            width: 100%;
        }
        .value-label-list, 
        .value-label-list--stackable {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .value-label-list, 
        .value-label-list--horizontal{
            overflow: hidden;
        }
        .value-label-list .value-label-list__two-columns {
            display: table;
            width: 100%;
        }
        .value-label-list--horizontal .value-label-list__item{
            display: table-cell;
            vertical-align: middle;
        }
        .value-label-list .value-label-list__item {
            padding: .75em;
        }
        .media-table {
            display: table;
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            zoom: 1;
        }
        .media-table .media__object{
            display: table-cell;
            float: none;
            vertical-align: middle;
            padding-right: .75em;
        }
        .media__object {
            margin-right: .75em;
        }
        .icon--table-header {
            height: 30px;
            width: 40px;
        }
        .media-table .media__body:last-child{
            margin-right: 0;
        }
        .media-table .media__body{
            display: table-cell;
            float: none;
            vertical-align: middle;
        }
        .media__body{
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            zoom: 1;
        }
        .text-no-margin, .text-time-ago {
            margin: 0;
        }
        .text-bold {
            font-weight: 700;
        }
        h4{
            font-size: 18px;
            font-weight: 400;
            margin: 0;
        }
        .text-additional-info {
            font-size: 16px;
            font-size: 1.75rem;
            font-weight: 400;
        }
        @media (min-width: 880px){
            .basic-values-container .value-label-list .value-label-list__item {
                width: 200px;
            }
            .value-label-list .value-label-list__item {
                border-bottom: none;
                border-right: 1px solid #e4e4e4;
                float: none;
            }
        }
        @media only screen and (max-width: 1068px){
            #mensaje-texto,
            .modal-title{
                font-size: 35px;
                font-weight: inherit;
            }

            .advertencia{
                font-size: 25px;
                font-weight: lighter;
            }

            .modal-box {
                left: 10%;
            }
            .input-field input:not([type=radio]){
                border: 5px solid #aaacaf;
                height: 80px;
                margin-bottom: 1%;
            }
            h4{
                font-size: 24px;
            }
            .text-additional-info {
                font-size: 1.65rem;
            }
            .icon--table-header {
                height: 40px;
                width: 50px;
            }
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron">
                <div class="row" style="margin-top:-4%;">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="fa fa-home"></i>
                                    HOME
                                </a>
                                <span class="divider">/</span>
                            </li>
                            <li>
                                <a href="/ciudadano">
                                    <i class="fa fa-child"></i>
                                    CIUDADANO
                                </a> 
                                <span class="divider">/</span>
                            </li>
                            <li>
                                <a href="/ciudadano/ocio">
                                    <i class="fa fa-comments-o"></i>
                                    OCIO
                                </a> 
                                <span class="divider">/</span>
                            </li>
                            <li class="active">
                                <a href="/ciudadano/ocio/amigos">
                                    <i class="fa fa-futbol-o" aria-hidden="true"></i>
                                    DEPORTE
                                </a> 
                            </li>
                            <li style="float:right;">
                                <a href="/logout">
                                    <i class="fa fa-sign-out"></i>
                                    SALIR
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 2%;">
                    {% if LOGIN %}
                        {% for SESION in SESIONES %}
                            <div class="group basic-values-container with-margin is-first">
                                <ul class="value-label-list value-label-list--horizontal is-centered with-icon">
                                    <div class="value-label-list__two-columns">
                                        <li id="ember1778" class="ember-view value-label-list__item">
                                            <div class="media-table value-label-list__group">
                                                <div class="media__object value-label-list__icon">
                                                    <div id="ember1779" data-test-name="icon" title="Distancia" class="ember-view rt-svg-icon icon--table-header is-active">
                                                        <svg viewBox="0 0 42 40" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M22.58 0l.055 4.719h-3.282L19.408 0H7.521L0 40h18.807l.258-14.44h3.858L23.181 40h18.807L34.467 0H22.58m.253 19.804h-3.679l.128-10.926h3.423l.128 10.926" fill="#8996a3" fill-rule="evenodd">

                                                        </path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="media__body value-label-list__label">
                                                    <h4 class="text-bold js-text-bold text-no-margin">
                                                        {% if not SESION.distancia %}-{% else %}{{ SESION.distancia }}{% endif %}
                                                    </h4>
                                                    <h3 class="text-additional-info js-text-additional-info text-no-margin">
                                                        Distancia
                                                    </h3>
                                                </div>
                                            </div>
                                        </li>
                                        <li id="ember1780" class="ember-view value-label-list__item">
                                            <div class="media-table value-label-list__group">
                                                <div class="media__object value-label-list__icon">
                                                    <div id="ember1781" data-test-name="icon" title="Duración" class="ember-view rt-svg-icon icon--table-header is-active">
                                                        <svg viewBox="0 0 101 89" xmlns="http://www.w3.org/2000/svg"><path d="M78.67 13.62c0 1.38.24 2.7.73 3.92 1.93 4.3 5.32 6.47 10.16 6.47 1.3 0 2.67-.2 4.12-.7 4.35-1.8 6.53-5 6.53-9.6 0-1.2-.2-2.5-.7-3.9-1.9-4.1-5.2-6.2-9.9-6.2-1.3 0-2.6.25-4.1.7-4.5 1.86-6.8 5-6.8 9.48M9.2 86.58l34.62-33-7.5-7.18-34.62 33-.25.22C.5 80.56 0 81.72 0 83.1c0 2.77 1.37 4.4 4.12 4.85.48.15.9.23 1.2.23 1.46 0 2.67-.46 3.64-1.4l.24-.22m55.68-41.78c0 2.77 1.3 4.4 3.87 4.85.48.15.9.23 1.2.23h24.22c2.9 0 4.6-1.3 5.08-3.92.16-.47.24-.85.24-1.16 0-2.77-1.4-4.38-4.2-4.85-.5-.15-.9-.23-1.2-.23H75.2V29.55L64.63 39.7v4.85l.27.23m-8.3 16.4L37 65.1h-.5c-2.57.76-3.94 2.46-4.1 5.07 0 2.77 1.37 4.4 4.1 4.85.5.16.9.23 1.23.23l1.45-.23 29.3-6c2.57-.77 3.94-2.38 4.1-4.85-.16-1.54-.64-2.77-1.45-3.7l-.24-.22-21.1-20.08h-.3c-1.3-1.08-2.5-1.62-3.64-1.62-2.9 0-4.6 1.3-5.1 3.93-.16.46-.24.84-.24 1.15.16 1.7.8 3 1.94 3.93l14.08 13.6M67.3 24.7l.24.23c.97.93 2.18 1.4 3.63 1.4 2.74-.78 4.44-2.47 5.08-5.1 0-1.37-.48-2.53-1.45-3.45L57.62 1.38C56.65.5 55.44 0 53.98 0c-1.6.16-2.98.7-4.1 1.62l.23-.23-16.9 16.3H33c-.97 1.4-1.47 2.5-1.47 3.4 0 2.74 1.4 4.4 4.14 4.82.47.14.88.22 1.2.22 1.45-.17 2.74-.7 3.87-1.64L53.97 12 67.3 24.7" fill="#8996a3" fill-rule="evenodd"></path></svg>
                                                    </div>
                                                </div>
                                                <div class="media__body value-label-list__label">
                                                    <h4 class="text-bold js-text-bold text-no-margin">
                                                        {{ SESION.velocidad }}
                                                    </h4>
                                                    <h3 class="text-additional-info js-text-additional-info text-no-margin">
                                                        Ritmo
                                                    </h3>
                                                </div>
                                            </div>
                                        </li>
                                        <li id="ember1780" class="ember-view value-label-list__item">
                                            <div class="media-table value-label-list__group">
                                                <div class="media__object value-label-list__icon">
                                                    <div id="ember1781" data-test-name="icon" title="Duración" class="ember-view rt-svg-icon icon--table-header is-active">
                                                        <svg viewBox="0 0 102 111" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M50.21 18.592c22.534 0 40.868 18.384 40.868 40.984 0 22.597-18.335 40.982-40.868 40.982-22.534 0-40.868-18.384-40.868-40.982 0-22.599 18.335-40.984 40.868-40.984m-2.512 36.622a5.053 5.053 0 0 0-2.514 4.362c0 2.789 2.247 5.04 5.02 5.04 2.777 0 5.02-2.249 5.03-5.03a5.04 5.04 0 0 0-2.512-4.362V36.48h-5.03v18.74M44.34 9.87c-10.124 1.188-19.323 5.415-26.665 11.747l-5.465-5.481-5.33 5.347 5.464 5.48A49.94 49.94 0 0 0 .294 59.584c0 27.644 22.347 50.05 49.913 50.05 27.566 0 49.915-22.41 49.915-50.05 0-25.657-19.248-46.803-44.05-49.714V.78H44.344v9.09" fill="#8a96a3" fill-rule="evenodd">

                                                        </path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="media__body value-label-list__label">
                                                    <h4 class="text-bold js-text-bold text-no-margin">
                                                        {{ SESION.duracion }}
                                                    </h4>
                                                    <h3 class="text-additional-info js-text-additional-info text-no-margin">
                                                        Duración
                                                    </h3>
                                                </div>
                                            </div>
                                        </li>
                                        <li id="ember1782" class="ember-view value-label-list__item">
                                            <div class="media-table value-label-list__group">
                                                <div class="media__object value-label-list__icon">
                                                    <div id="ember1783" data-test-name="icon" title="Calorías" class="ember-view rt-svg-icon icon--table-header is-active">
                                                        <svg viewBox="0 0 78 100" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M64.16 32.933c-.861-1.741 2.067 8.893-5.707 19.286.635-.887.838-2.889.765-3.751-.881-10.211-4.78-11.719-9.319-20.966C39.267 5.813 45.924-1.883 43.791.382c-2.129 2.263-13.586 14.1-23.381 30.12-6.565 10.721-8.01 20.21-7.375 26.737-6.175-6.463-7.125-15.61-7.125-15.61S1.282 53.709.203 65.014C-.807 75.585 1.989 84.311 5.627 88.66c1.425 1.707 3.079 3.075 4.784 4.17 3.955 2.88 10.362 5.166 18.01 6.306-1.627-1.057-3.306-2.376-4.534-4.306-2.47-3.873-6.126-16.27.254-26.336 5.152-8.127 9.163-16.585 12.832-22.17 0 0-.43 3.56 8.721 13.59 4.16 4.556 8.202 8.798 9.348 12.299 1.636 4.989 1.538 9.683-3.01 18.265a28.927 28.927 0 0 1-7.814 9.29c8.806-.583 16.247-2.735 20.55-5.798 1.964-1.184 3.848-2.673 5.448-4.553 4.269-4.989 8.356-15.336 6.534-28.09-1.955-13.633-11.624-26.438-12.591-28.399" fill="#8a96a3" fill-rule="evenodd">

                                                        </path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="media__body value-label-list__label">
                                                    <h4 class="text-bold js-text-bold text-no-margin">
                                                        {{ SESION.kcal }} <span>kcal</span>
                                                    </h4>
                                                    <h3 class="text-additional-info js-text-additional-info text-no-margin">
                                                        Calorías
                                                    </h3>
                                                </div>
                                            </div>
                                        </li>
                                        <li id="ember1785" class="ember-view value-label-list__item">
                                            <div class="media-table value-label-list__group">
                                                <div class="media__object value-label-list__icon">
                                                    <div id="ember1786" data-test-name="icon" title="Ø Frecuencia cardíaca" class="ember-view rt-svg-icon icon--table-header is-active">
                                                        <svg viewBox="0 0 101 83" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M74.895 0c13.784 0 24.959 11.619 24.959 25.957 0 .797-.046 1.581-.115 2.357.115 0 2.386 28.316-49.805 54.27C-2.256 56.627.014 28.314.014 28.314c.046-.776 0-1.56 0-2.357C.014 11.619 11.189 0 24.973 0c13.786 0 24.961 11.619 24.961 25.957C49.934 11.619 61.109 0 74.895 0" fill="#8996a3" fill-rule="evenodd">

                                                        </path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="media__body value-label-list__label">
                                                    <h4 class="text-bold js-text-bold text-no-margin">
                                                        {% if not SESION.ritmo_cardiaco_medio %}-{% else %}{{ SESION.ritmo_cardiaco_medio }}{% endif %}
                                                    </h4>
                                                    <h3 class="text-additional-info js-text-additional-info text-no-margin">
                                                        Ø Frecuencia cardíaca
                                                    </h3>
                                                </div>
                                            </div>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        {% endfor %}
                    {% else %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
        {% if not LOGIN %} contenidoIniciarSesion();{% endif %}
        });
        function contenidoIniciarSesion() {
            $(".modal-header").remove();
            contenido = '';
            contenido += '<div class="modal-box js-modal-box  " style="min-width: 386.2px;">';
            contenido += '    <button type="button" class="modal-box__close js-modal-box__close close" data-dismiss="modal">';
            contenido += '        <div data-test-name="icon" class=" rt-svg-icon icon--medium icon--blue is-active">';
            contenido += '            <svg viewBox="0 0 19 19" xmlns="http://www.w3.org/2000/svg"><path d="M9 7.586l7.07-7.07 1.414 1.414L10.414 9l7.07 7.07-1.414 1.414L9 10.414l-7.07 7.07L.516 16.07 7.586 9 .516 1.93 1.93.516 9 7.586" fill="#FFFFFF" stroke="white" fill-rule="evenodd"></path></svg>';
            contenido += '        </div>';
            contenido += '    </button>';
            contenido += '    <div class="rt-login-title" style="color: white;">';
            contenido += '        Iniciar sesión en Runtastic';
            contenido += '    </div>';
            contenido += '    <div class="rt-login-container">';
            contenido += '        <div class="input-field">';
            contenido += '            <input id="rt-usuario" placeholder="Email" type="email" style="width: 100%;" required>';
            contenido += '        </div>';
            contenido += '        <div class="input-field">';
            contenido += '            <input id="rt-clave" placeholder="Contraseña" type="password" style="width: 100%;" required>';
            contenido += '        </div>';
            contenido += '        <button class="btn btn-primary btn-block" onclick="iniciarSesionRuntastic();">';
            contenido += '            Iniciar sesión';
            contenido += '        </button>';
            contenido += '        <fieldset class="text-center">';
            contenido += '            <a href="https://www.runtastic.com/es/d/usuarios/password/new" class=" rt-link-to">';
            contenido += '                ¿Has olvidado tu contraseña?';
            contenido += '            </a>';
            contenido += '        </fieldset>';
            contenido += '        <fieldset class="text-center">';
            contenido += '            <a href="https://www.runtastic.com">';
            contenido += '                ¿Aún no tienes cuenta? ¡Regístrate aquí!';
            contenido += '            </a>';
            contenido += '        </fieldset>';
            contenido += '    </div>';
            contenido += '</div>';
            $("#mensaje-texto").append(contenido);
            $("#modal-avisos2").click();
        }

        function iniciarSesionRuntastic() {
            var usuario = $("#rt-usuario").val();
            var pass = $("#rt-clave").val();
            mostrarCarga('Verificando datos');
            ruta = '/ciudadano/ocio/deporte/comprobarLogin';
            datos = {'usuario': usuario, 'password': pass};
            $.post(ruta, datos, function (data, status) {
                if (data.estado === 'OK') {
                    descargarInformacionSesiones();
                } else {
                    mostrarResultadoOperacion(data.message);
                }
            });
        }
        function descargarInformacionSesiones() {
            mostrarCarga('Descargando información de las sesiones');
            ruta = '/ciudadano/ocio/deporte/actualizarInfo';
            $.get(ruta, function (data, status) {
                mostrarResultadoOperacion(data.message);
            });
        }

        function mostrarCarga(texto) {
            $("#mensaje-texto").empty();
            contenido = '';
            contenido += '    <div class="row" style="margin-top:2%;">';
            contenido += '      <center>';
            contenido += '          <i class="fa fa-spinner fa-spin"></i>' + texto;
            contenido += '      </center>';
            contenido += '  </div>';
            $("#mensaje-texto").append(contenido);
        }

        function mostrarResultadoOperacion(resultado) {
            $("#mensaje-texto").empty();
            contenido = '';
            contenido += '<div class="row" style="margin-top:2%;">';
            contenido += '  <center>';
            contenido += '      ' + resultado;
            contenido += '  </center>';
            contenido += '</div>';
            contenido += '<div class="row" style="margin-top:2%;">';
            contenido += '  <div class="col-xs-12">';
            contenido += '      <button class="btn btn-primary btn-block" onclick="location.reload();"> OK </button>';
            contenido += '  </div>';
            contenido += '</div>';
            $("#mensaje-texto").append(contenido);
        }
    </script>
{% endblock %}