<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{% if TITULO is defined %}{{ TITULO }}{% else %}$inTime{% endif %}</title>

        <!-- CSS -->
        <link href="{{ asset('css/animate.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.css" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/freelancer.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/timeTo.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/clockpicker.css') }}" rel="stylesheet"/>
        <script src="https://use.fontawesome.com/fa9b27f1c6.js"></script>

        <link href="{{ asset('css/inTime.css')}}" rel="stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'/>
        <link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/customradio.css')}}" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <button type="button" class="btn btn-primary" id="modal-avisos2" style="display:none;" data-toggle="modal" data-target="#modal-advice2">Small modal</button>
    <div id="modales">
        <div class="modal modal-advice" id="modal-advice2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body modal-advice-body">
                        <p id="mensaje-texto"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if MENSAJES is defined and MENSAJES|length > 0%}
        <!-- Small modal -->
        <button type="button" class="btn btn-primary" id="modal-avisos" style="display:none;" data-toggle="modal" data-target="#modal-advice0">Small modal</button>
        <div id="modales">
            <div class="modal modal-advice" id="modal-advice0" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-body modal-advice-body">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img id="image"
                                         src="{{ asset('images/generic/personajes/Metronomista.png') }}" />
                                </div>
                                <div class="col-xs-9">
                                    <p id="mensaje-texto">
                                        <span style="color:red;">
                                            {{ MENSAJES.0.TITULO }}:
                                        </span>
                                        {{ MENSAJES.0.TEXTO }}    
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <button class="btn btn-block btn-primary" class="close" data-dismiss="modal" aria-label="Close"><b>ACEPTAR</b></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endif %}
    {% if ESTADO_USUARIO is defined %}
        {% if ESTADO_USUARIO == 'Vacaciones' %}
            <div class="header-muerte">
                <center>VACACIONES</center>
            </div>
        {% endif %}
        <div class="row" style="margin-bottom:1%;">
            <div id="posicion-reloj">
                {% if ESTADO_USUARIO == 'Activo' and TDV is defined %}
                    <div id="countdown-11"></div>
                {% endif %}
                {% if ESTADO_USUARIO == 'Vacaciones' %}
                    <div id="countdown-11"></div>
                {% endif %}
            </div>
            {% if ESTADO_USUARIO == 'Fallecido' %}
                <div class="header-muerte">
                    FALLECIDO
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="header">
        {% block header %}
            {% include "extension/header.html.twig" %}
        {% endblock %}
    </div>

    {% block body %}
    {% endblock %}


    <div class="footer"> {% include "extension/footer.html.twig" %}</div>
    <!-- JS -->

    <script src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>

    <script src="{{ asset('js/fileinput.min.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ asset('js/clockpicker.js') }}"></script>
    <script src="{{ asset('js/jquery.timeTo.js') }}"></script>
    <script src="{{ asset('js/utils.js') }}"></script>

    <script>
        function responsive_screen() {
            if (window.matchMedia('(min-width: 1200px)').matches) {
                return 40;
            } else if (window.matchMedia('(min-width: 992px)').matches) {
                return 80;
            } else if (window.matchMedia('(min-width:760px)').matches) {
                return 110;
            } else {
                return 42;
            }
        }
        $(document).ready(function () {
            var font_size = responsive_screen();
        {% if ESTADO_USUARIO is defined %}
            {% if TDV is defined %}
                    // Se da un formato específico para soporte de Android/Iphone
                    var arr = "{{TDV.date}}".split(/[- :]/),
                            tdvFormato = new Date(arr[0], arr[1] - 1, arr[2], arr[3], arr[4], arr[5]);
                {% if ESTADO_USUARIO == 'Activo' %}
                        $('#countdown-11').timeTo({
                            //timeTo: new Date(new Date('Wed Nov 30 2016 09:00:00 GMT+0100 (CET)')),
                            timeTo: new Date(new Date(tdvFormato)),
                            displayDays: 2,
                            theme: "white",
                            displayCaptions: true,
                            fontSize: font_size,
                            captionSize: 0
                        });
                {% endif %}
                {% if ESTADO_USUARIO == 'Vacaciones' %}
                        $('#countdown-11').timeTo({
                            seconds: {{ BLOQUEO }},
                            displayDays: 2,
                            theme: "white",
                            displayCaptions: true,
                            fontSize: font_size,
                            captionSize: 0
                        });
                        $('#countdown-11').timeTo('stop');
                {% endif %}
            {% endif %}
                    {% if MENSAJES is defined and MENSAJES|length > 0 %} $('#modal-avisos').click();{% endif %}
        {% endif %}
            });
    </script>
    {% block javascripts %}
    {% endblock %}

</body>
</html>
