{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Oregano" rel="stylesheet">
    <style>
        @font-face {
            font-family: "Kimberley";
            src: url("{{ asset('font/digital-7.ttf') }}");
        }
        #index-logo-app img{
            margin-bottom: 4%;
        }
        .index-frase{
            font-family: 'Oregano', cursive;
            text-align: center;
        }
        .index-autor{
            font-family: 'Oregano', cursive;
            text-align: right;
        }
        .no-padding{
            padding-left: 0px;
            padding-right: 0px;
        }
        .help-block{
            font-family: 'Isocpeur';
        }
        .login-form{
            font-family: 'Kimberley';
        }
        .btn-index{
            padding: 5px 15px;
        }
        .btn-index:hover,
        .btn-index:focus{
            color: #FFFFFF;
            background-color:#000000;
        }
        @media (max-width: 760px){
            #index-titulo-app img{
                height: 135px;
            }
            #index-logo-app img{
                height: 110px;
            }
            .index-frase{
                font-size: 18px;
                font-weight: 500;
            }
            .help-block,
            .index-autor{
                font-size: 29px;
                font-weight: 500;
            }
            .login-form h4{
                font-size: 29px;
            }
            .index-input,
            .btn-index{
                border: 5px solid #000000;
                border-radius: 10px;
            }
        }
        @media (min-width: 760px){
            #index-titulo-app img{
                height: 350px;
            }
            #index-logo-app img{
                height: 280px;
            }
            .index-frase{
                font-size: 70px;
                font-weight: 500;
            }
            .help-block,
            .index-autor{
                font-weight: 500;
                font-size: 50px;
            }
            .login-form h4{
                font-size: 50px;
            }
            .index-input,
            .btn-index{
                border: 5px solid #000000;
                border-radius: 10px;
            }
        }
        @media (min-width: 992px){
            #index-titulo-app img{
                height: 10px;
            }
            #index-logo-app img{
                height: 155px;
            }
            .index-frase{
                font-size: 70px;
                font-weight: 500;
            }
            .help-block,
            .index-autor{
                font-weight: 500;
                font-size: 50px;
            }
            .login-form h4{
                font-size: 50px;
            }
            .index-input{
                /*padding: 50px;*/
                /*height: 80px;*/
            }
            .index-input,
            .btn-index{
                border: 5px solid #000000;
                border-radius: 10px;
                /*font-size: 60px;*/
            }
        }
        @media (min-width: 1200px){
            #index-titulo-app img,
            #index-logo-app img{
                height: 120px;
            }
            .index-frase{
                font-size: 50px;
            }
            .help-block,
            .index-autor{
                font-size: 30px;
            }
            .login-form h4{
                font-size: 18px;
            }
            .index-input {
                padding: 0 10px;
                height: 50px;
            }
            .index-input,
            .btn-index{
                font-size: 20px;
                border: 2px solid #000000;
                border-radius: 7px;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div id="index-titulo-app">
            <center>
                <img alt="titulo-app" src="{{ asset('images/inTime.png') }}"  />
            </center>
        </div>
        <div class="row" style="margin: 0px 1%;">
            <div class="col-lg-6">
                <div class="col-md-12" id="index-logo-app">
                    <center>
                        <img id="logo-app" class="animated pulse" alt="logo-app" src="{{ asset('fondo-principalLow.png') }}"  />
                    </center>
                </div>
                <div class="col-md-12 index-frase">
                    "La vida no se mide por las veces que respiras, sino por
                    los momentos que te dejan sin aliento"
                </div>
                <div class="col-md-12 index-autor">(Hitch)</div>
            </div>
            <div class="col-md-6 login-form">
                <h4><span class="fa fa-lock"></span> INICIAR SESION</h4>
                <form id="form" method="post" action="/login">
                    <div class="row">
                        <div class="form-group col-md-10 col-xs-8 no-padding">
                            <input type="text"
                                   name="DNI" id="usuario" 
                                   class="form-control index-input" 
                                   placeholder="DNI/NIE/@alias"
                                   required>
                            <span class="help-block"></span>
                        </div>
                        <div id="box-key" class="form-group col-md-10 col-xs-8 no-padding">
                            <input type="password" 
                                   name="KEY" id="clave"
                                   class="form-control index-input" 
                                   placeholder="Contrasena"
                                   required>
                            <span id="help-key" class="help-block" style="font-weight: bold;">
                                {% if ERROR is defined %} {{ ERROR }} {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5 no-padding">
                            <button type="submit" class="btn btn-default btn-index" rel="external">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            /*
             var audioElement = document.createElement('audio');
             audioElement.setAttribute('src', '{{ asset('audio/index.mp3') }}');
             
             audioElement.addEventListener('ended', function () {
             this.play();
             }, false);
             audioElement.play();
             */
        });
        setInterval(function () {
            var logo_app = $("#logo-app");
            logo_app.before(logo_app.clone(true)).remove();
        }, 1500);
    </script>
{% endblock %}
