{# empty Twig template #}
{% extends "base.html.twig" %}

{% block header %}
    {% include "guardian/header.html.twig" %}
{% endblock %}

{% block stylesheets %}
    <style>
        *{
            font-size: 25px;
        }
        .modal-header{
            padding: 4% 6%;
        }
        .modal-title{
            font-size: 25px;
        }
        #mensaje-texto{
            font-size: 20px;
        }
        #reporte{
            font-size: 12px;
        }
        #info-image-form{
            width:  290px;
            height: 290px;
        }
        .modal-advice .modal-dialog{
            top: 50%;
        }
        .advertencia{
            font-size: 15px;
        }
        .card {
            margin-top: 20px;
            padding: 30px;
            background-color: rgba(214, 224, 226, 0.2);
            -webkit-border-top-left-radius:5px;
            -moz-border-top-left-radius:5px;
            border-top-left-radius:5px;
            -webkit-border-top-right-radius:5px;
            -moz-border-top-right-radius:5px;
            border-top-right-radius:5px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .card.hovercard {
            position: relative;
            padding-top: 0;
            overflow: hidden;
            text-align: center;
            background-color: #fff;
            background-color: rgba(255, 255, 255, 1);
        }
        .card.hovercard .card-background {
            height: 130px;
        }
        .card-background img {
            -webkit-filter: blur(25px);
            -moz-filter: blur(25px);
            -o-filter: blur(25px);
            -ms-filter: blur(25px);
            filter: blur(25px);
            margin-left: -100px;
            margin-top: -200px;
            min-width: 130%;
        }
        .card.hovercard .useravatar {
            position: absolute;
            top: 15px;
            left: 0;
            right: 0;
        }
        .card.hovercard .useravatar img {
            width: 100px;
            height: 100px;
            max-width: 100px;
            max-height: 100px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            border: 5px solid rgba(255, 255, 255, 0.5);
        }
        .card.hovercard .card-info {
            position: absolute;
            bottom: 14px;
            left: 0;
            right: 0;
        }
        .card.hovercard .card-info .card-title {
            padding:0 5px;
            font-size: 20px;
            line-height: 1;
            color: #262626;
            background-color: rgba(255, 255, 255, 0.1);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
        .card.hovercard .card-info {
            overflow: hidden;
            font-size: 12px;
            line-height: 20px;
            color: #737373;
            text-overflow: ellipsis;
        }
        .card.hovercard .bottom {
            padding: 0 20px;
            margin-bottom: 17px;
        }
        .btn-pref .btn {
            -webkit-border-radius:0 !important;
        }
        .btn-group img{
            height: 60px;
        }
        .datatable {
            padding-bottom: 40px;
        }
        .dataTables_wrapper {
            position: relative;
            clear: both;
            zoom: 1;
        }
        table.dataTable.no-footer {
            border-bottom: 1px solid #111;
        }
        table.dataTable, table.dataTable td, table.dataTable th {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }
        table.dataTable {
            width: 100%;
            margin: 0 auto;
            clear: both;
            border-collapse: separate;
            border-spacing: 0;
        }
        table {
            background-color: transparent;
        }
        table {
            border-spacing: 0;
            border-collapse: collapse;
        }
        .datatable tfoot tr, .datatable thead tr {
            text-transform: uppercase;
        }
        .datatable tr {
            background-color: transparent!important;
        }
        table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_desc_disabled {
            background-repeat: no-repeat;
            background-position: center right;
        }
        table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
            cursor: pointer;
        }
        th.details.sorting_asc {
            visibility: hidden;
        }
        table.dataTable thead td, table.dataTable thead th {
            padding: 10px 18px;
            border-bottom: 1px solid #111;
        }
        table.dataTable tfoot th, table.dataTable thead th {
            font-weight: 700;
        }
        table.dataTable, table.dataTable td, table.dataTable th {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }
        .datatable th {
            padding: 10px!important;
        }
        th {
            text-align: left;
        }
        td, th {
            padding: 0;
        }
        table.dataTable.display tbody tr.odd, table.dataTable.stripe tbody tr.odd {
            background-color: #f9f9f9;
        }
        table.dataTable tbody tr {
            background-color: #fff;
        }
        .datatable tr {
            background-color: transparent!important;
        }
        #depositosMovimientos tbody tr td, #movimientos tbody tr td, #movimientosC tbody tr td {
            text-align: right;
            font-weight: 100!important;
        }
        table.dataTable tbody td, table.dataTable tbody th {
            padding: 8px 10px;
        }
        #depositosMovimientos tbody tr td:nth-child(1), 
        #depositosMovimientos tbody tr td:nth-child(2), 
        #depositosMovimientos tbody tr td:nth-child(3), 
        #movTarjeta tbody tr td.child, 
        #movimientos tbody tr td:nth-child(1), 
        #movimientos tbody tr td:nth-child(2), 
        #movimientos tbody tr td:nth-child(3), 
        #movimientosC tbody tr td:nth-child(1), 
        #movimientosC tbody tr td:nth-child(2), 
        #movimientosC tbody tr td:nth-child(3),
        #entregaAlimentacion tbody tr td:nth-child(1), 
        #entregaAlimentacion tbody tr td:nth-child(2),
        #entregaAlimentacion tbody tr td:nth-child(3),
        #entregaAlimentacionC tbody tr td:nth-child(1), 
        #entregaAlimentacionC tbody tr td:nth-child(2),
        #entregaAlimentacionC tbody tr td:nth-child(3),
        #entregaPaga tbody tr td:nth-child(1), 
        #entregaPaga tbody tr td:nth-child(2),
        #entregaPaga tbody tr td:nth-child(3),
        #entregaPagaC tbody tr td:nth-child(1), 
        #entregaPagaC tbody tr td:nth-child(2),
        #entregaPagaC tbody tr td:nth-child(3),
        #transferencias tbody tr td.child, 
        #transferenciasP tbody tr td.child, 
        #transferenciasPeriodicas tbody tr td.child {
            text-align: left!important;
        }

        .green-number-xs,
        .red-number-xs {
            font-weight: 700;
        }
        .red-number-xs {
            color: #e14147;
        }
        .green-number-xs {
            color: #41a68d;
        }
        #clasificacion-distritos{
            font-size: 45px;
        }
        .hidden-xs{
            font-size: 25px;
        }
        .minicarta{
            position: relative;
        }
        .minicarta img{
            width: 100%;
        }
        .minicarta figcaption{
            display: none;
            position: absolute;
            width: 100%;
            background: rgba(0, 0, 0, 0.77);
            bottom: 0px;
            color: white;
            font-size: 25px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .minicarta:hover figcaption{
            display: block;
        }
        #nivel-usuario{
            font-size: 50px;
        }
        td img{
            width: 100px;
        }
        @media (max-width: 760px){
            #mensaje-texto,
            .modal-title{
                font-size: 23px;
            }
            #reporte,
            .advertencia{
                font-size: 17px;
            }
            #info-image-form{
                width:  290px;
                height: 290px;
            }
            #nivel img,
            #clasificaciones img,
            #badges img,
            #movimientos img,
            #modificar img{
                height: 53px;
            }
            .card.hovercard .card-background {
                height: 153px;
            }
            .card.hovercard .useravatar img {
                width: 117px;
                height: 117px;
                max-width: 117px;
                max-height: 117px;
            }
            .card.hovercard .card-info .card-title {
                font-size: 30px;
            }
            .clasificacion h3,
            .clasificacion i{
                font-size: 60px; 
            }
            .clasificacion span{
                font-size: 120px;
            }

        }
        @media (min-width: 760px){
            legend{
                font-size: 35px;
            }
            #nivel-usuario{
                font-size: 60px;
            }
            #mensaje-texto,
            .modal-title{
                font-size: 35px;
            }
            #reporte,
            .advertencia{
                font-size: 25px;
            }
            #info-image-form{
                width:  280px;
                height: 280px;
            }
            .btn-group img{
                height: 100px;
            }
            .card.hovercard .card-background {
                height: 230px;
            }
            .card.hovercard .useravatar img {
                width: 175px;
                height: 175px;
                max-width: 175px;
                max-height: 175px;
            }
            .card.hovercard .card-info .card-title {
                font-size: 45px;
            }
            .clasificacion h3,
            .clasificacion i{
                font-size: 60px; 
            }
            .clasificacion span{
                font-size: 120px;
            }
            .info-button{
                font-size: 65px;
                border-radius: 15px;
            }
            .hidden-xs{

            }
        }
        @media (min-width: 992px){
            .clasificacion h3,
            .clasificacion i{
                font-size: 60px; 
            }
            .clasificacion span{
                font-size: 120px;
            }
        }
        @media (min-width: 1200px){
            *{
                font-size: 14px;
            }
            .info-button{
                font-size: 20px;
            }
            #nivel-usuario,
            legend{
                font-size: 17px;
            }
            .modal-title{
                font-size: 25px;
            }
            #mensaje-texto{
                font-size: 20px;
            }
            #reporte{
                font-size: 12px;
            }
            #info-image-form{
                width:  290px;
                height: 290px;
            }
            .modal-advice .modal-dialog{
                top: 50%;
            }
            .advertencia{
                font-size: 15px;
            }
            #info-image-form{
                width:  280px;
                height: 280px;
            }
            .btn-group img{
                height: 60px;
            }
            .card.hovercard .card-background {
                height: 130px;
            }
            .card.hovercard .useravatar img {
                width: 100px;
                height: 100px;
                max-width: 100px;
                max-height: 100px;
            }
            .card.hovercard .card-info .card-title {
                font-size: 20px;
            }
            .clasificacion h3,
            .clasificacion i{
                font-size: 30px; 
            }
            .clasificacion span{
                font-size: 60px;
            }
            #clasificacion-distritos{
                font-size: 25px;
            }
            td img{
                width: 60px;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="card hovercard">
                        <div class="card-background" id="foto-perfil-fondo"></div>
                        <div class="useravatar" id="foto-perfil"></div>
                        <div class="card-info"> <span class="card-title" id="alias-perfil"></span></div>
                    </div>
                    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" id="modificar" class="btn btn-primary" href="#tab1" data-toggle="tab" onclick="descargarInfoBasica();">
                                <img src="{{ asset('images/iconos/Jugador/Datos_personales.png') }}" />
                                <div class="hidden-xs">MIS DATOS</div>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="nivel" class="btn btn-default" href="#tab2" data-toggle="tab" onclick="actualizarEntregasAlimentacion();">
                                <img src="{{ asset('images/iconos/Jugador/Alimentacion.png') }}" />
                                <div class="hidden-xs">ALIMENTACIÓN</div>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="clasificaciones" class="btn btn-default" href="#tab3" data-toggle="tab" onclick="actualizarEntregasFelicidad();">
                                <img src="{{ asset('images/iconos/Jugador/Felicidad.png') }}" />
                                <div class="hidden-xs">FELICIDAD</div>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="menu-primer" class="btn btn-default" href="#tab4" data-toggle="tab" onclick="actualizarMovimientos();">
                                <img src="{{ asset('images/iconos/Jugador/Consultar_movimientos.png') }}" />
                                <div class="hidden-xs">MOVIMIENTOS</div>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="menu-segun" class="btn btn-default" onclick="window.history.back();" >
                                <img src="{{ asset('images/iconos/atras.png') }}" />
                                <div class="hidden-xs">ATRÁS</div>
                            </button>
                        </div>
                    </div>

                    <div class="well">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input type="hidden" id="dni-ciudadano" value="{{ DNI }}">
                                        <legend>Distrito:</legend>
                                        <span id="distrito"></span>
                                    </div>
                                    <div class="col-xs-6">
                                        <legend>Nivel:</legend>
                                        <span id="nivel-ciudadano" style="font-weight: bold;"></span>&nbsp;
                                        <span id="xp-ciudadano" style="float:right; font-weight: bold;"></span>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                    <div class="col-xs-6">
                                        <legend>Información personal</legend>
                                        <label for="puesto">Puesto en clasificación global: </label>
                                        <span id="puesto">No clasificado</span><br>
                                        <label for="nombre">Apellidos, Nombre: </label>
                                        <span id="apellidos"> Sin apellidos</span>,&nbsp;<span id="nombre">Sin nombre</span><br>
                                        <label for="dni">DNI: </label>
                                        <span id="dni"></span><br>
                                        <label for="fecha-nacimiento">Fecha de nacimiento: </label>
                                        <span id="fecha-nacimiento">Sin fecha de nacimiento</span><br>
                                        <label for="email">Correo: </label>
                                        <span id="email">Sin email</span><br>
                                        <label for="tdv-ciudadano">TdV: </label>
                                        <span id="tdv-ciudadano"></span><br>
                                    </div>
                                    <div class="col-xs-6">
                                        <legend>Minicartas compradas</legend>
                                        <div id="cartasBonificacion">Este usuario no tiene minicartas compradas</div>
                                        <legend>Donaciones realizadas</legend>
                                        <div id="donaciones">Este usuario no ha realizado ninguna donación</div>
                                        <legend>Préstamos en curso</legend>
                                        <div id="deudas">Este usuario no tiene deudas pendientes</div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 1%;">
                                    <div class="col-xs-12">
                                        <legend><i class="fa fa-heartbeat"></i>&nbsp; Modificar tiempo de vida</legend>
                                        <p style="color: #e14147; font-weight: bold;" id="libre-minuteros"></p>
                                        <div class="col-xs-3">
                                            <div class="row">
                                                <div class="input-group">
                                                    <input type="number" id="dias" class="form-control input-number digit" value="0" min="-100" max="100" />
                                                    <span class="input-group-addon">d</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="row">
                                                <div class="input-group">
                                                    <input type="number" id="horas" class="form-control input-number digit" value="0" min="-24" max="24" />
                                                    <span class="input-group-addon">h</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="row">
                                                <div class="input-group">
                                                    <input type="number" id="minutos" class="form-control input-number digit" value="0" min="-60" max="60" />
                                                    <span class="input-group-addon">m</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="row">
                                                <div class="input-group">
                                                    <input type="number" id="segundos" class="form-control input-number digit" value="0" min="-60" max="60" />
                                                    <span class="input-group-addon">s</span>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="text" placeholder="Motivo" style="margin-top: 1%;" class="form-control" id="motivo">
                                        <button style="margin-top: 1%;" class="btn btn-block btn-primary" onclick="modificarTDV();">OK</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="tab2">
                                <div class="datatable">
                                    <div class="dataTables_wrapper no-footer">
                                        <table id="entregaAlimentacion" class="display contentInfo dataTable no-footer dtr-inline" cellspacing="0" cellpadding="1" width="100%" role="grid" style="width: 100%;">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Sección" style="width: 60px;">
                                                        Sección
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Tipo" style="width: 60px;">
                                                        Tipo
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="F.Entrega" style="width: 128px;">
                                                        F.Entrega
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Enunciado" style="width: 300px;">
                                                        Enunciado
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Entrega" style="width: 137px;">
                                                        Entrega
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Calificación" style="width: 137px;">
                                                        Calificación
                                                    </th>
                                                    <th style="display:none" class="sorting" tabindex="0" aria-controls="movimientosC" aria-label=": activate to sort column ascending" rowspan="1" colspan="1">

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tabla-entregaAlimentacion">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="tab3">
                                <div class="datatable">
                                    <div class="dataTables_wrapper no-footer">
                                        <table id="entregaPaga" class="display contentInfo dataTable no-footer dtr-inline" cellspacing="0" cellpadding="1" width="100%" role="grid" style="width: 100%;">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Fase" style="width: 60px;">
                                                        Fase
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Tipo" style="width: 60px;">
                                                        Tipo
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="F.Entrega" style="width: 128px;">
                                                        F.Entrega
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Enunciado" style="width: 363px;">
                                                        Enunciado
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Entrega" style="width: 137px;">
                                                        Entrega
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Porcentaje" style="width: 60px;">
                                                        Porcentaje
                                                    </th>
                                                    <th style="display:none" class="sorting" tabindex="0" aria-controls="movimientosC" aria-label=": activate to sort column ascending" rowspan="1" colspan="1">

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tabla-entregaFelicidad">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="tab4">
                                <div class="datatable">
                                    <div id="movimientosC_wrapper" class="dataTables_wrapper no-footer">
                                        <table id="movimientosC" class="display contentInfo dataTable no-footer dtr-inline" cellspacing="0" cellpadding="1" width="100%" role="grid" style="width: 100%;">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="#ID" style="width: 128px;">
                                                        #ID
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="F.Operacion" style="width: 128px;">
                                                        F.Operacion
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Concepto" style="width: 363px;">
                                                        Concepto
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Importe" style="width: 74px;">
                                                        Importe
                                                    </th>
                                                    <th style="display:none" class="sorting" tabindex="0" aria-controls="movimientosC" aria-label=": activate to sort column ascending" rowspan="1" colspan="1">

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tabla-movimientos">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            descargarInfoBasica();
            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                $(this).removeClass("btn-default").addClass("btn-primary");
            });
            $('.btn-pref .btn').height($('#menu-primer').height());
        });
        function modificarTDV() {
            var negativo = false;
            var dni = $("#dni-ciudadano").val();
            var dias = parseInt($("#dias").val());
            var horas = parseInt($("#horas").val());
            var minutos = parseInt($("#minutos").val());
            var segundos = parseInt($("#segundos").val());
            if(dias < 0){
                negativo = true;
                dias *= -1;
            }
            if(horas < 0){
                negativo = true;
                horas *= -1;
            }
            if(minutos < 0){
                negativo = true;
                minutos *= -1;
            }
            if(segundos < 0){
                negativo = true;
                segundos *= -1;
            }
            var tiempo = (((((dias * 24) + horas) * 60) + minutos) * 60) + segundos;
            if(negativo){
                tiempo *= -1;
            }
            var motivo = $('#motivo').val();
            $('#modal-avisos2').click();
            mostrarCarga('Enviando solicitud al servidor');
            ruta = '/guardian/directorio/modificarTdV';
            d = {'tdv': tiempo, 'dni': dni, 'motivo': motivo};
            $.post(ruta, d, function (respuesta) {
                data = jQuery.parseJSON(respuesta);
                mostrarResultadoOperacion(data.message);
            });
        }
        function descargarInfoBasica() {
            var dni = $("#dni-ciudadano").val();
            var ruta = '/guardian/directorio/getInfoBasica/' + dni;
            $.get(ruta, function (datos, status) {
                data = jQuery.parseJSON(datos);
                if (data.estado === 'OK') {
                    $('#nivel-ciudadano').html('<b>Nivel: </b>' + data.message.NIVEL);
                    $('#xp-ciudadano').html(data.message.PUNTOS + '<b>xp</b>');
                    if (data.message.IMAGEN) {
                        $('#foto-perfil').html('<img alt="" src="{{ asset('images/users/') }}' + data.message.IMAGEN + '">');
                        $('#foto-perfil-fondo').html('<img class="card-bkimg" alt="" src="{{ asset('images/users/') }}' + data.message.IMAGEN + '">');
                    } else {
                        $('#foto-perfil').html('<img alt="" src="{{ asset('images/fotos-usuarios/default.jpg') }}">');
                        $('#foto-perfil').html('<img alt="" class="card-bkimg" src="{{ asset('images/fotos-usuarios/default.jpg') }}">');
                    }
                    if (data.message.ALIAS) {
                        $('#alias-perfil').html('@' + data.message.ALIAS);
                    } else {
                        $('#alias-perfil').html('Sin alias');
                    }
                    if (data.message.NOMBRE) {
                        $('#nombre').html(data.message.NOMBRE);
                    }
                    if (data.message.APELLIDOS) {
                        $('#apellidos').html(data.message.APELLIDOS);
                    }
                    if (data.message.EMAIL) {
                        $('#email').html('<a href="mailto:' + data.message.EMAIL + '" target="_top">' + data.message.EMAIL + '</a>');
                    }
                    if (data.message.FECHA_NACIMIENTO) {
                        $('#fecha-nacimiento').html(data.message.FECHA_NACIMIENTO);
                    }
                    if (data.message.DISTRITO) {
                        $('#distrito').html('<i class="fa fa-university" aria-hidden="true"></i>&nbsp;' + data.message.DISTRITO);
                    }
                    if (data.message.LIBRE_MINUTEROS) {
                        $('#libre-minuteros').html('Este usuario ha comprado esta semana una carta de bonificación contra minuteros');
                    }
                    contenido = '';
                    if (data.message.TDV.dias) {
                        contenido += data.message.TDV.dias + 'd ';
                    }
                    if (data.message.TDV.horas) {
                        contenido += data.message.TDV.horas + 'h ';
                    }
                    if (data.message.TDV.minutos) {
                        contenido += data.message.TDV.minutos + 'm ';
                    }
                    if (data.message.TDV.segundos) {
                        contenido += data.message.TDV.segundos + 's ';
                    }
                    $('#tdv-ciudadano').html(contenido);
                    if (data.message.TENGO_CARTAS) {
                        contenido = '';
                        $.each(data.message.CARTAS, function (k, v) {
                            color = "#d9534f";
                            mensaje = "USADO/PASADO EL PLAZO";
                            if (v.DISPONIBLE) {
                                color = "#5cb85c";
                                mensaje = "DISPONIBLE";
                            }
                            contenido += '<b>' + v.CARTA + '</b>  (' + v.VECES + ' vez comprada)  <span style="float:right; color:' + color + ';"><b>' + mensaje + '</b></span><br>';
                        });
                        $("#cartasBonificacion").html(contenido);
                    }
                    if (data.message.TENGO_DEUDAS) {
                        contenido = '';
                        $.each(data.message.DEUDAS, function (k, v) {
                            contenido += '<b>Interés: ' + v.INTERES + '</b><br>';
                            contenido += '<span style="color:#5cb85c; float:left;"><b>Sol: ' + v.SOLICITADO.dias + 'd ' + v.SOLICITADO.horas + 'h ' + v.SOLICITADO.minutos + 'm ' + v.SOLICITADO.segundos + 's</b></span><span style="float:right; color:#d9534f;"><b>Rest: ' + v.RESTANTE.dias + 'd ' + v.RESTANTE.horas + 'h ' + v.RESTANTE.minutos + 'm ' + v.RESTANTE.segundos + 's</b></span><br>';
                            contenido += '<hr>';
                        });
                        $("#deudas").html(contenido);
                    }
                    if (data.message.HE_DONADO) {
                        contenido = '';
                        $.each(data.message.DONACIONES, function (k, v) {
                            contenido += '<b>@' + v.CIUDADANO + '</b> <span style="float:right; color:#5cb85c;"><b>' + v.CANTIDAD.dias + 'd ' + v.CANTIDAD.horas + 'h ' + v.CANTIDAD.minutos + 'm ' + v.CANTIDAD.segundos + 's</b></span><br>';
                        });
                        $("#donaciones").html(contenido);
                    }
                    $('#dni').html(dni);
                    $('#puesto').html(data.message.PUESTO);
                }
            });
        }
        function mostrarCarga(texto) {
            $("#mensaje-texto").empty();
            contenido = '';
            contenido += '<div class="row" style="margin-top:2%;">';
            contenido += '  <center>';
            contenido += '      <i class="fa fa-spinner fa-spin"></i>' + texto;
            contenido += '  </center>';
            contenido += '</div>';
            $("#mensaje-texto").append(contenido);
        }

        function mostrarResultadoOperacion(resultado) {
            $("#mensaje-texto").empty();
            contenido = '';
            contenido += '<div class="row" style="margin-top:2%;">';
            contenido += '  <center>';
            contenido += '      ' + resultado;
            contenido += '  </center>';
            contenido += '</div>';
            contenido += '<div class="row" style="margin-top:2%;">';
            contenido += '  <div class="col-xs-12">';
            contenido += '      <button class="btn btn-block" onclick="location.reload();"> ACEPTAR </button>';
            contenido += '  </div>';
            contenido += '</div>';
            //$("#modal-button-aceptar").show();
            $("#mensaje-texto").append(contenido);
        }

        function addReporte(texto, color) {
            contenido = '';
            contenido += '<div class="row">';
            contenido += '  <div class="col-md-12">';
            contenido += '      <p style="color:' + color + '">' + texto + '</p>';
            contenido += '  </div>';
            contenido += '</div>';
            $("#reporte").append(contenido);
        }

        function actualizarMovimientos() {
            $('#tabla-movimientos').empty();
            contenido = '';
            var dni = $("#dni-ciudadano").val();
            ruta = '/guardian/info/actualizarMovimientos/' + dni;
            $.get(ruta, function (datos, status) {
                data = jQuery.parseJSON(datos);
                if (data.estado === 'OK') {
                    $.each(data.message, function (k, v) {
                        contenido += '<tr class="even" role="row">';
                        contenido += '  <td>';
                        contenido += '      #' + v.ID;
                        contenido += '  </td>';
                        contenido += '  <td>';
                        contenido += '      ' + v.FECHA.date;
                        contenido += '  </td>';
                        contenido += '  <td>';
                        contenido += '      ' + v.CONCEPTO;
                        contenido += '  </td>';
                        contenido += '  <td>';
                        if (v.VALANCE === 'NEG') {
                            contenido += '      <span class="red-number-xs">';
                        } else {
                            contenido += '      <span class="green-number-xs">';
                        }
                        if (v.CANTIDAD.dias > 0) {
                            contenido += '          ' + v.CANTIDAD.dias + 'd&nbsp;';
                        }
                        if (v.CANTIDAD.horas > 0) {
                            contenido += '          ' + v.CANTIDAD.horas + 'h&nbsp;';
                        }
                        if (v.CANTIDAD.minutos > 0) {
                            contenido += '          ' + v.CANTIDAD.minutos + 'm&nbsp;';
                        }
                        if (v.CANTIDAD.segundos > 0) {
                            contenido += '          ' + v.CANTIDAD.segundos + 's&nbsp;';
                        }
                        contenido += '      </span>';
                        contenido += '  </td>';
                        contenido += '</tr>';
                    });
                    $('#tabla-movimientos').append(contenido);
                } else {
                    console.log(data);
                }
            });
        }
        function actualizarEntregasAlimentacion() {
            $('#tabla-entregaAlimentacion').empty();
            contenido = '';
            var dni = $("#dni-ciudadano").val();
            ruta = '/guardian/info/actualizarEntregasAlimentacion/' + dni;
            $.get(ruta, function (datos, status) {
                data = jQuery.parseJSON(datos);
                if (data.estado === 'OK') {
                    $.each(data.message, function (k, v) {
                        contenido += '<tr class="even" role="row">';
                        contenido += '  <td>';
                        contenido += '      ' + v.SECCION;
                        contenido += '  </td>';
                        if (v.DISTRITO) {
                            contenido += '<td>';
                            contenido += '  <span class="red-number-xs">DISTRITO<span>';
                            contenido += '</td>';
                        } else {
                            contenido += '<td>';
                            contenido += '  <span class="green-number-xs">INDIVIDUAL<span>';
                            contenido += '</td>';
                        }
                        contenido += '  <td>';
                        contenido += '      ' + v.FECHA;
                        contenido += '  </td>';
                        contenido += '  <td>';
                        contenido += '      ' + v.ENUNCIADO;
                        contenido += '  </td>';
                        contenido += '  <td>';
                        contenido += '      <a href="{{ asset('USUARIOS/') }}' + v.RUTA + '">' + v.NOMBRE + '</a>';
                        contenido += '  </td>';
                        if (v.CALIFICADO) {
                            contenido += '  <td>';
                            contenido += '      <img src="{{ asset('images/badges/') }}' + v.CALIFICACION + '" />';
                            contenido += '  </td>';
                        } else {
                            contenido += '<td>';
                            contenido += '  <span class="red-number-xs">RETO NO CALIFICADO<span>';
                            contenido += '</td>';
                        }
                        contenido += '</tr>';
                    });
                    $('#tabla-entregaAlimentacion').append(contenido);
                } else {
                    console.log(data);
                }
            });
        }
        function actualizarEntregasPagaExtra() {
            $('#tabla-entregaPaga').empty();
            contenido = '';
            var dni = $("#dni-ciudadano").val();
            ruta = '/guardian/info/actualizarEntregasPaga/' + dni;
            $.get(ruta, function (datos, status) {
                data = jQuery.parseJSON(datos);
                if (data.estado === 'OK') {
                    $.each(data.message, function (k, v) {
                        contenido += '<tr class="even" role="row">';
                        contenido += '  <td>';
                        contenido += '      ' + v.FECHA;
                        contenido += '  </td>';
                        contenido += '  <td>';
                        contenido += '      ' + v.ENUNCIADO;
                        contenido += '  </td>';
                        contenido += '  <td>';
                        contenido += '      <a href="{{ asset('USUARIOS/') }}' + v.RUTA + '">' + v.NOMBRE + '</a>';
                        contenido += '  </td>';
                        contenido += '</tr>';
                    });
                    $('#tabla-entregaPaga').append(contenido);
                } else {
                    console.log(data);
                }
            });
        }
        function actualizarEntregasFelicidad() {
            $('#tabla-entregaFelicidad').empty();
            contenido = '';
            var dni = $("#dni-ciudadano").val();
            ruta = '/guardian/info/actualizarEntregasFelicidad/' + dni;
            $.get(ruta, function (datos, status) {
                data = jQuery.parseJSON(datos);
                if (data.estado === 'OK') {
                    $.each(data.message, function (k, v) {
                        contenido += '<tr class="even" role="row">';
                        contenido += '  <td>';
                        contenido += '      ' + v.FASE;
                        contenido += '  </td>';
                         contenido += '  <td>';
                        contenido += '      ' + v.TIPO;
                        contenido += '  </td>';
                        contenido += '  <td>';
                        contenido += '      ' + v.FECHA;
                        contenido += '  </td>';
                        contenido += '  <td>';
                        contenido += '      ' + v.ENUNCIADO;
                        contenido += '  </td>';
                        contenido += '  <td>';
                        contenido += '      <a href="{{ asset('USUARIOS/') }}' + v.RUTA + '">' + v.NOMBRE + '</a>';
                        contenido += '  </td>';
                        contenido += '  <td>';
                        contenido += '      ' + v.PORCENTAJE + '%';
                        contenido += '  </td>';
                        contenido += '</tr>';
                    });
                    $('#tabla-entregaFelicidad').append(contenido);
                } else {
                    console.log(data);
                }
            });
        }
        function getClasificacionGlobal() {
            ruta = '/ciudadano/info/getClasificacionGlobal';
            $.get(ruta, function (data, status) {
                if (data.estado === 'OK') {
                    $("#puesto-global").html(data.message.PUESTO);
                } else {
                    console.log(data);
                }
            });
        }

        function getClasificacionDistrito() {
            ruta = '/ciudadano/info/getClasificacionDistrito';
            $.get(ruta, function (data, status) {
                if (data.estado === 'OK') {
                    $("#puesto-distrito").html(data.message.PUESTO);
                } else {
                    console.log(data);
                }
            });
        }
        function getClasificacionDistritos() {
            ruta = '/ciudadano/info/getClasificacionDistritos';
            $.get(ruta, function (data, status) {
                if (data.estado === 'OK') {
                    $.each(data.message, function (k, v) {
                        contenido = '<div style="float: left;">';
                        contenido += '' + v.DISTRITO;
                        contenido += '</div>';
                        /*
                         contenido += '<div style="float: right;">';
                         if (v.CANTIDAD.dias === 0) {
                         contenido += '00d ';
                         } else if (v.CANTIDAD.dias < 10) {
                         contenido += '0' + v.CANTIDAD.dias + 'd ';
                         } else {
                         contenido += v.CANTIDAD.dias + 'd ';
                         }
                         if (v.CANTIDAD.horas === 0) {
                         contenido += '00d ';
                         } else if (v.CANTIDAD.horas < 10) {
                         contenido += '0' + v.CANTIDAD.horas + 'h ';
                         } else {
                         contenido += v.CANTIDAD.horas + 'h ';
                         }
                         if (v.CANTIDAD.segundos === 0) {
                         contenido += '00d ';
                         } else if (v.CANTIDAD.segundos < 10) {
                         contenido += '0' + v.CANTIDAD.segundos + 's ';
                         } else {
                         contenido += v.CANTIDAD.segundos + 's ';
                         }
                         contenido += '</div>';
                         */
                        contenido += '<br/>';
                        $("#clasificacion-distritos").append(contenido);
                    });
                } else {
                    console.log(data);
                }
            });
        }
    </script>
{% endblock %}