{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block header %}
    {% include "guardian/header.html.twig" %}
{% endblock %}

{% block stylesheets %}
    <style>
        .aviso-azul{
            background-color: #337ab7;
        }
        .list-group a{
            font-size: 45px;
            text-decoration: none !important;
            color: black;
        }
        .list-group a:hover{
            font-size: 55px;
        }
        .list-group-item{
            border-width: 2px;
        }
        .list-group-item:first-child{
            margin-bottom: 1%;
        }
        #logout{
            float: right;
            color: black;
        }
        #logout img{
            width: 50px;
        }
        .card-description{
            color: #999999;
        }
        .card {
            font-size: 36px;
            display: inline-block;
            position: relative;
            width: 100%;
            margin: 25px 0;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
            border-radius: 3px;
            color: rgba(0,0,0, 0.87);
            background: #fff;
        }
        .card .card-height-indicator {
            margin-top: 100%;
        }
        .card .title {
            margin-top: 0;
            margin-bottom: 5px;
        }
        .card .card-image {
            height: 60%;
            position: relative;
            overflow: hidden;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: -30px;
            border-radius: 6px;
        }
        .card .card-image img {
            width: 100%;
            height: 100%;
            border-radius: 6px;
            pointer-events: none;
        }
        .card .card-image .card-title {
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: #fff;
            font-size: 1.3em;
            text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
        }
        .card .category:not([class*="text-"]) {
            color: #999999;
        }
        .card .card-content {
            padding: 15px 20px;
        }
        .card .card-content .category {
            margin-bottom: 0;
        }
        .card .card-header {
            box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
            margin: -20px 15px 0;
            border-radius: 3px;
            padding: 15px;
            background-color: #999999;
        }
        .card .card-header .title {
            color: #FFFFFF;
        }
        .card .card-header .category {
            margin-bottom: 0;
            color: rgba(255, 255, 255, 0.62);
        }
        .card .card-header.card-chart {
            padding: 0;
            min-height: 160px;
        }
        .card .card-header.card-chart + .content h4 {
            margin-top: 0;
        }
        .card .card-header .ct-label {
            color: rgba(255, 255, 255, 0.7);
        }
        .card .card-header .ct-grid {
            stroke: rgba(255, 255, 255, 0.2);
        }
        .card .card-header .ct-series-a .ct-point,
        .card .card-header .ct-series-a .ct-line,
        .card .card-header .ct-series-a .ct-bar,
        .card .card-header .ct-series-a .ct-slice-donut {
            stroke: rgba(255, 255, 255, 0.8);
        }
        .card .card-header .ct-series-a .ct-slice-pie,
        .card .card-header .ct-series-a .ct-area {
            fill: rgba(255, 255, 255, 0.4);
        }
        .card .chart-title {
            position: absolute;
            top: 25px;
            width: 100%;
            text-align: center;
        }
        .card .chart-title h3 {
            margin: 0;
            color: #FFFFFF;
        }
        .card .chart-title h6 {
            margin: 0;
            color: rgba(255, 255, 255, 0.4);
        }
        .card .card-footer {
            margin: 0 20px 10px;
            padding-top: 10px;
            border-top: 1px solid #eeeeee;
        }
        .card .card-footer .content {
            display: block;
        }
        .card .card-footer div {
            display: inline-block;
        }
        .card .card-footer .author {
            color: #999999;
        }
        .card .card-footer .stats {
            line-height: 22px;
            color: #999999;
            font-size: 12px;
        }
        .card .card-footer .stats .material-icons {
            position: relative;
            top: 4px;
            font-size: 16px;
        }
        .card .card-footer h6 {
            color: #999999;
        }
        .card img {
            width: 100%;
            height: auto;
        }
        .card .category .material-icons {
            position: relative;
            top: 6px;
            line-height: 0;
        }
        .card .category-social .fa {
            font-size: 24px;
            position: relative;
            margin-top: -4px;
            top: 2px;
            margin-right: 5px;
        }
        .card .author .avatar {
            width: 30px;
            height: 30px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 5px;
        }
        .card .author a {
            color: #3C4858;
            text-decoration: none;
        }
        .card .author a .ripple-container {
            display: none;
        }
        .card .table {
            margin-bottom: 0;
        }
        .card .table tr:first-child td {
            border-top: none;
        }
        .card [data-background-color="purple"] {
            background: linear-gradient(60deg, #ab47bc, #8e24aa);
            box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
        }
        .card [data-background-color="pink"] {
            background: linear-gradient(60deg, #ff5db1, #ef017c);
            box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
        }
        .card [data-background-color="blue"] {
            background: linear-gradient(60deg, #26c6da, #00acc1);
            box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
        }
        .card [data-background-color="green"] {
            background: linear-gradient(60deg, #66bb6a, #43a047);
            box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
        }
        .card [data-background-color="orange"] {
            background: linear-gradient(60deg, #ffa726, #fb8c00);
            box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
        }
        .card [data-background-color="red"] {
            background: linear-gradient(60deg, #ef5350, #e53935);
            box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
        }
        .card [data-background-color] {
            color: #FFFFFF;
        }
        .card [data-background-color] a {
            color: #FFFFFF;
        }

        .card-stats .title {
            margin: 0;
        }
        .card-stats .card-header {
            float: left;
            text-align: center;
        }
        .card-stats .card-header i {
            font-size: 36px;
            line-height: 56px;
            width: 56px;
            height: 56px;
        }
        .card-stats .card-content {
            text-align: right;
            padding-top: 10px;
        }

        .card-nav-tabs .header-raised {
            margin-top: -30px;
        }
        .card-nav-tabs .nav-tabs {
            background: transparent;
            padding: 0;
        }
        .card-nav-tabs .nav-tabs-title {
            float: left;
            padding: 10px 10px 10px 0;
            line-height: 24px;
        }

        .card-plain {
            background: transparent;
            box-shadow: none;
        }
        .card-plain .card-header {
            margin-left: 0;
            margin-right: 0;
        }
        .card-plain .content {
            padding-left: 5px;
            padding-right: 5px;
        }
        .card-plain .card-image {
            margin: 0;
            border-radius: 3px;
        }
        .card-plain .card-image img {
            border-radius: 3px;
        }
        @media (min-width: 1200px){
            .list-group a{
                font-size: 18px;
            }
            .list-group a:hover{
                font-size: 23px;
            }
            #logout img{
                width: 20px;
            }
            .card {
                font-size: 14px;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <legend style="border-bottom-width: 0px;">Opciones de administrador<a href="/logout" id="logout">Salir<img alt="Logo" src="{{ asset('images/iconos/exit.png') }}" /></a></legend>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="/guardian/ajustes">
                        <div class="card-header" data-background-color="orange">
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Ajustes</p>
                            &nbsp;
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="/guardian/censo/ciudadanos">
                        <div class="card-header" data-background-color="green">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Censo</p>
                            &nbsp;
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="/guardian/asistencia">
                        <div class="card-header" data-background-color="red">
                            <i class="fa fa-address-card"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Citas</p>
                            {% if CITAS is defined %}
                                {% if CITAS >= 0 %}
                                    <span id="aviso-citas" style="color: green;" class="animated pulse">
                                        {{ CITAS }}
                                    </span>
                                {% endif %}
                            {% endif %}
                            {% if CITAS_HOY is defined %}
                                {% if CITAS_HOY >= 0 %}
                                    <span id="aviso-citas-hoy" style="color:blue;" class="animated pulse">
                                        {{ CITAS_HOY }}
                                    </span>
                                {% endif %}
                            {% endif %}

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="/ciudadano/ocio/amigos/chat">
                        <div class="card-header" data-background-color="blue">
                            <i class="fa fa-comments-o"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Chat</p>
                            {% if CHAT is defined %}
                                {% if CHAT >= 0 %}
                                    <span id="aviso-chat" class="animated pulse">
                                        {{ CHAT }}
                                    </span>
                                {% endif %}
                            {% endif %}

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="/ciudadano/ocio/amigos/fotos">
                        <div class="card-header" data-background-color="green">
                            <i class="fa fa-picture-o"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Galería</p>
                            &nbsp;
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="/guardian/apuestas/proponer">
                        <div class="card-header" data-background-color="purple">
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Apuestas</p>
                            &nbsp;
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="/guardian/ejercicios/alimentacion">
                        <div class="card-header" data-background-color="blue">
                            <i class="fa fa-cutlery"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Alimentación</p>
                            {% if ALIMENTACION is defined %}
                                {% if ALIMENTACION >= 0 %}
                                    <span id="aviso-alimentacion" class="animated pulse">
                                        {{ ALIMENTACION }}
                                    </span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="/guardian/ejercicios/deporte">
                        <div class="card-header" data-background-color="orange">
                            <i class="fa fa-signal"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Deporte</p>
                            &nbsp;
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="/guardian/ejercicios/inspeccion">
                        <div class="card-header" data-background-color="purple">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Inspección de trabajo</p>
                            &nbsp;
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="/guardian/ejercicios/paga">
                        <div class="card-header" data-background-color="red">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Paga extra</p>
                            {% if PAGA is defined %}
                                {% if PAGA >= 0 %}
                                    <span id="aviso-paga" class="animated pulse">
                                        {{ PAGA }}
                                    </span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="/guardian/mina">
                        <div class="card-header" data-background-color="green">
                            <i class="fa fa-qrcode"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Mina</p>
                            &nbsp;
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="/guardian/ejercicios/felicidad">
                        <div class="card-header" data-background-color="purple">
                            <i class="fa fa-smile-o"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Felicidad</p>
                            {% if FELICIDAD is defined %}
                                {% if FELICIDAD >= 0 %}
                                    <span id="aviso-felicidad" class="animated pulse">
                                        {{ FELICIDAD }}
                                    </span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="/guardian/ejercicios/proyectoInnovacion">
                        <div class="card-header" data-background-color="pink">
                            <i class="fa fa-lightbulb-o"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Proyecto de innovación</p>
                            &nbsp;
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <a href="/generarExcel">
                        <div class="card-header" data-background-color="green">
                            <i class="fa fa-file-excel-o"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">CVS</p>
                            &nbsp;
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
    <script>
        setInterval(function () {
            var avisoCitas = $("#aviso-citas");
            var avisoCitasHoy = $("#aviso-citas-hoy");
            var avisoChat = $("#aviso-chat");
            var avisoAlimentacion = $("#aviso-alimentacion");
            var avisoPaga = $("#aviso-paga");
            var avisoFelicidad = $("#aviso-felicidad");

            avisoCitas.before(avisoCitas.clone(true)).remove();
            avisoCitasHoy.before(avisoCitasHoy.clone(true)).remove();
            avisoChat.before(avisoChat.clone(true)).remove();
            avisoAlimentacion.before(avisoAlimentacion.clone(true)).remove();
            avisoPaga.before(avisoPaga.clone(true)).remove();
            avisoFelicidad.before(avisoFelicidad.clone(true)).remove();
        }, 1500);
    </script>
{% endblock %}