{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block header %}
    {% include "guardian/header.html.twig" %}
{% endblock %}

{% block stylesheets %}
    <style>
        .aviso-azul{
            background-color: #337ab7;
        }
        .list-group a{
            font-size: 45px;
            text-decoration: none !important;
            color: black;
        }
        .list-group a:hover{
            font-size: 55px;
        }
        .list-group-item{
            border-width: 2px;
        }
        .list-group-item:first-child{
            margin-bottom: 1%;
        }
        #logout{
            float: right;
            color: black;
        }
        #logout img{
            width: 50px;
        }
        @media (min-width: 1200px){
            .list-group a{
                font-size: 18px;
            }
            .list-group a:hover{
                font-size: 23px;
            }
            #logout img{
                width: 20px;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row bordes border-radius">
            <div class="row">
                <div class="col-xs-12">
                    <legend>Opciones de administrador<a href="/logout" id="logout">Salir<img alt="Logo" src="{{ asset('images/iconos/exit.png') }}" /></a></legend>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-group">
                        <a href="/guardian/ajustes">
                            <li class="list-group-item">
                                Ajustes
                            </li>
                        </a>
                        <a href="/guardian/censo/ciudadanos">
                            <li class="list-group-item">
                                Censo
                            </li>
                        </a>

                        <a href="/guardian/asistencia">
                            <li class="list-group-item">
                                Citas
                                {% if CITAS is defined %}
                                    {% if CITAS > 0 %}
                                        <span id="aviso-citas" class="badge badge-aviso2 animated pulse">
                                            {{ CITAS }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                                {% if CITAS_HOY is defined %}
                                    {% if CITAS_HOY > 0 %}
                                        <span id="aviso-citas-hoy" class="badge badge-aviso2 aviso-azul animated pulse">
                                            {{ CITAS_HOY }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </li>
                        </a>
                        <a href="/ciudadano/ocio/amigos/chat">
                            <li class="list-group-item">
                                Chat
                                {% if CHAT is defined %}
                                    {% if CHAT > 0 %}
                                        <span id="aviso-chat" class="badge badge-aviso2 animated pulse">
                                            {{ CHAT }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </li>
                        </a>
                        <a href="/ciudadano/ocio/amigos/fotos">
                            <li class="list-group-item">
                                Galería
                            </li>
                        </a>
                        <a href="/guardian/apuestas/proponer">
                            <li class="list-group-item">
                                Loterías y apuestas
                            </li>
                        </a>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-group">
                        <a href="/guardian/ejercicios/alimentacion">
                            <li class="list-group-item">
                                Alimentación
                                {% if ALIMENTACION is defined %}
                                    {% if ALIMENTACION > 0 %}
                                        <span id="aviso-alimentacion" class="badge badge-aviso2 animated pulse">
                                            {{ ALIMENTACION }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </li>
                        </a>
                        <a href="/guardian/ejercicios/deporte">
                            <li class="list-group-item">
                                Deporte
                            </li>
                        </a>
                        <a href="/guardian/ejercicios/inspeccion">
                            <li class="list-group-item">
                                Inspección de Trabajo
                            </li>
                        </a>
                        <a href="/guardian/ejercicios/paga">
                            <li class="list-group-item">
                                Paga extra
                                {% if PAGA is defined %}
                                    {% if PAGA > 0 %}
                                        <span id="aviso-paga" class="badge badge-aviso2 animated pulse">
                                            {{ PAGA }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </li>
                        </a>
                        <a href="/guardian/mina">
                            <li class="list-group-item">
                                Minas
                            </li>
                        </a>
                        <a href="/guardian/ejercicios/felicidad">
                            <li class="list-group-item">
                                Felicidad
                                {% if FELICIDAD is defined %}
                                    {% if FELICIDAD > 0 %}
                                        <span id="aviso-felicidad" class="badge badge-aviso2 animated pulse">
                                            {{ FELICIDAD }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
    <script>
        setInterval(function () {
            var avisoCitas = $("#aviso-citas");
            var avisoCitasHoy = $("#aviso-citas-hoy");
            var avisoChat = $("#aviso-chat");
            var avisoAlimentacion = $("#aviso-alimentacion");
            var avisoPaga = $("#aviso-paga");
            var avisoFelicidad = $("#aviso-felicidad");
            
            avisoCitas.before(avisoCitas.clone(true)).remove();
            avisoCitasHoy.before(avisoCitasHoy.clone(true)).remove();
            avisoChat.before(avisoChat.clone(true)).remove();
            avisoAlimentacion.before(avisoAlimentacion.clone(true)).remove();
            avisoPaga.before(avisoPaga.clone(true)).remove();
            avisoFelicidad.before(avisoFelicidad.clone(true)).remove();
        }, 1500);
    </script>
{% endblock %}