{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block header %}
    {% include "guardian/header.html.twig" %}
{% endblock %}

{% block stylesheets %}
    <style>
        .aviso-azul{
            background-color: #337ab7;
        }
        .list-group a{
            font-size: 45px;
            text-decoration: none !important;
            color: black;
        }
        .list-group a:hover{
            font-size: 55px;
        }
        .list-group-item{
            border-width: 2px;
        }
        .list-group-item:first-child{
            margin-bottom: 1%;
        }
        #logout{
            float: right;
            color: black;
        }
        #logout img{
            width: 50px;
        }
        @media (min-width: 1200px){
            .list-group a{
                font-size: 18px;
            }
            .list-group a:hover{
                font-size: 23px;
            }
            #logout img{
                width: 20px;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row bordes border-radius">
            <div class="row">
                <div class="col-xs-12">
                    <legend>Opciones de administrador<a href="/logout" id="logout">Salir<img alt="Logo" src="{{ asset('images/iconos/exit.png') }}" /></a></legend>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-group">
                        <a href="/guardian/ajustes">
                            <li class="list-group-item">
                                Ajustes
                            </li>
                        </a>
                        <a href="/guardian/censo/ciudadanos">
                            <li class="list-group-item">
                                Censo
                            </li>
                        </a>
                        
                        <a href="/guardian/asistencia">
                            <li class="list-group-item">
                                Citas
                                {% if CITAS is defined %}
                                    {% if CITAS > 0 %}
                                        <span class="badge badge-aviso2">
                                            {{ CITAS }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                                {% if CITAS_HOY is defined %}
                                    {% if CITAS_HOY > 0 %}
                                        <span class="badge badge-aviso2 aviso-azul">
                                            {{ CITAS_HOY }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </li>
                        </a>
                        <a href="/ciudadano/ocio/amigos/chat">
                            <li class="list-group-item">
                                Chat
                                {% if CHAT is defined %}
                                    {% if CHAT > 0 %}
                                        <span class="badge badge-aviso2">
                                            {{ CHAT }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </li>
                        </a>
                        <a href="/ciudadano/ocio/amigos/fotos">
                            <li class="list-group-item">
                                Galería
                            </li>
                        </a>
                        <a href="/guardian/apuestas/proponer">
                            <li class="list-group-item">
                                Loterías y apuestas
                            </li>
                        </a>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-group">
                        <a href="/guardian/ejercicios/alimentacion">
                            <li class="list-group-item">
                                Alimentación
                                {% if ALIMENTACION is defined %}
                                    {% if ALIMENTACION > 0 %}
                                        <span class="badge badge-aviso2">
                                            {{ ALIMENTACION }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </li>
                        </a>
                        <a href="/guardian/ejercicios/deporte">
                            <li class="list-group-item">
                                Deporte
                            </li>
                        </a>
                        <a href="/guardian/ejercicios/inspeccion">
                            <li class="list-group-item">
                                Inspección de Trabajo
                            </li>
                        </a>
                        <a href="/guardian/ejercicios/paga">
                            <li class="list-group-item">
                                Paga extra
                                {% if PAGA is defined %}
                                    {% if PAGA > 0 %}
                                        <span class="badge badge-aviso2">
                                            {{ PAGA }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </li>
                        </a>
                        <a href="/guardian/mina">
                            <li class="list-group-item">
                                Minas
                            </li>
                        </a>
                        <a href="/guardian/ejercicios/felicidad">
                            <li class="list-group-item">
                                Felicidad
                                {% if FELICIDAD is defined %}
                                    {% if FELICIDAD > 0 %}
                                        <span class="badge badge-aviso2">
                                            {{ FELICIDAD }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function () {
        {% if info.message is defined or info.type is defined%}
                $('#box_modal_result').click();
        {% endif %}
                $('.day').parent('.form-group').addClass('col-xs-4');
                $('.hour').parent('.form-group').addClass('col-xs-4');
                $('.minute').parent('.form-group').addClass('col-xs-4');
                $('.help').css("margin-left", "1%");
                $(".help-block").each(function () {
                    $(this).parent('.form-group').children('.control-label').after($(this).children('.help'));
                });
                $('.datetimepicker').datetimepicker({
                    lang: 'es',
                    timepicker: true,
                    format: 'd-m-Y h:i',
                    minDate: $.now()
                });
                $('.datepicker').datetimepicker({
                    lang: 'es',
                    timepicker: false,
                    format: 'd-m-Y',
                    minDate: $.now()
                });

                var convertDate = function (tdv) {
                    var part = tdv.split(" ");
                    var sdate = part[0].split('-');
                    var stime = part[1].split(':');
                    return new Date(Date.UTC(sdate[0], sdate[1] - 1, sdate[2], stime[0], stime[1], stime[2]))
                };

                function responsive_screen() {
                    if (window.matchMedia('screen and (max-width: 368px)').matches) {
                        return 25;
                    } else {
                        return 40;
                    }
                }

        {% if tdv is defined %}
                var t1 = convertDate('{{ tdv }}'), now = (new Date()).getTime();
                if (t1.getTime() < now) {
                    t1 = 0
                }
                $('#countdown-1').timeTo({
                    timeTo: t1, //Mostramos un contador con la fecha de fin
                    displayDays: 3,
                    theme: "white",
                    displayCaptions: true,
                    fontSize: responsive_screen(),
                    start:               {% if estado == 4 %} false{% else %}{% if estado == 2 %}
                            true{% endif %}{% endif %},
                    captionSize: 10
                }, function () {
                    $('#countdown-1').timeTo("stop");
                });
        {% endif %}
        {% if tdv_usuario is defined %}
                var t2 = convertDate('{{ tdv_usuario }}'), now = (new Date()), s = true;
                if (t2.getTime() < now.getTime()) {
                    t2 = 0;
                    s = false
                }
                $('#countdown-2').timeTo({
                    timeTo: t2, //Mostramos un contador con la fecha de fin
                    displayDays: 3,
                    countdown: s,
                    theme: "white",
                    displayCaptions: true,
                    fontSize: 18,
                    start:               {% if estado == 4 %} false{% else %}{% if estado == 2 %}s{% endif %}{% endif %},
                    captionSize: 10
                }, function () {
                    $('#countdown-2').timeTo("stop");
                });
        {% endif %}
            });
    </script>
{% endblock %}