<div class="row" style="margin-bottom: 1%;">
    <div class="col-md-11">
        {% if info.message is defined or info.type is defined%}
            <button type="button" class="btn btn-info btn-lg"
                    data-toggle="modal" data-target="#modal_result"
                    style="display:none;" id="box_modal_result">Open Modal
            </button>
            <div id="error_general">
                <div id="modal_result" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content {{ info.type }}">
                            <div class="modal-header panel-heading">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" style="color:white;">Resultado</h4>
                            </div>
                            <div class="modal-body">
                                {% if 'danger' in info.type %}
                                    <img id="image" 
                                         src="{{ asset('images/generic/error.jpg') }}"
                                         class="img-rounded" width="200" height="200" />
                                {% else %}
                                    <img id="image" 
                                         src="{{ asset('images/generic/success.jpg') }}"
                                         class="img-rounded" width="200" height="200" />
                                {% endif %}

                                <div class="col-sm-6" style="float: right">
                                    {% if info.message is defined%}
                                        <p style="color: white;">{{ info.message }}</p>
                                    {%endif%}
                                    {% if info.correctos is defined%}
                                        <h5 style="color:green;"><strong>Usuarios registrados</strong></h5>
                                        <p style="color: white;">{{ info.correctos }}</p>
                                    {%endif%}
                                    {% if info.incorrectos is defined%}
                                        <h5 style="color:red;"><strong>Formato no válido</strong></h5>
                                        <p style="color: white;">{{ info.incorrectos }}</p>
                                    {%endif%}
                                    {% if info.repetidos is defined%}
                                        <h5 style="color:orangered;"><strong>Usuarios que ya existian</strong></h5>
                                        <p style="color: white;">{{ info.repetidos }}</p>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
