{# empty Twig template #}
{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">
    <style>
        .desplegable{
            border: 2px #000000 solid;
            border-radius: 5px;
            min-height: 69px;
        }
        .responsive{
            display: none;
        }
        .btn-primary a{
            color: white;
        }
        .btn-default a{
            color: black;
        }
        thead,
        tfoot{
            color: white;
            background: #337ab7;
        }
        table.dataTable thead .sorting,
        table.dataTable thead .sorting_asc,
        table.dataTable thead .sorting_desc
        {
            background-image: none;
        }
        table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
            opacity: 1;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
            /*color: #333 !important;*/
            font-weight: bold;
            font-size: 102%;
            /*border: 2px solid #979797;*/
            border-radius: 50px;
            color: white !important;
            background: #337ab7;
            /*
            background-color: white;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ffffff)); 
            background: -webkit-linear-gradient(top, white 0%, #ffffff 100%);
            background: -moz-linear-gradient(top, white 0%, #ffffff 100%);
            background: -ms-linear-gradient(top, white 0%, #ffffff 100%);
            background: -o-linear-gradient(top, white 0%, #ffffff 100%);
            background: linear-gradient(to bottom, white 0%, #ffffff 100%);
            */
        }
        @media (min-width: 1200px){
            .responsive{
                display: table-cell;
            }
        }
    </style>
{% endblock %}

{% block header %}
    {% include "guardian/header.html.twig" %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="tienda" class="btn {% if SECCION == 'CIUDADANOS' %} btn-primary {% else %} btn-default {% endif %} btn13">
                        <a href="/guardian/censo/ciudadanos">
                            <span class="fa fa-user" aria-hidden="true"></span>
                            <div class="hidden-xs">CIUDADANOS</div>
                        </a>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="proceso" class="btn {% if SECCION == 'CENSO' %} btn-primary {% else %} btn-default {% endif %} btn13">
                        <a href="/guardian/censo/registro">
                            <span class="fa fa-bookmark" aria-hidden="true"></span>
                            <div class="hidden-xs">REGISTRO</div>
                        </a>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="resultados" class="btn {% if SECCION == 'DISTRITOS' %} btn-primary {% else %} btn-default {% endif %} btn13">
                        <a href="/guardian/censo/distritos">
                            <span class="fa fa-users" aria-hidden="true"></span>
                            <div class="hidden-xs">DISTRITOS</div>
                        </a>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="exit" class="btn btn-default btn4" onclick="window.history.back();" >
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        <div class="hidden-xs">ATRÁS</div>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="row bordes border-radius" style="margin-top:1%;">
                        {% if SECCION == 'CENSO' %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <legend>Registro de usuarios</legend>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <dl class="dl-horizontal">
                                            <dt>
                                                Instrucciones
                                            </dt>
                                            <dt>
                                                Registro de usuarios
                                            </dt>
                                            <dd>
                                                Este formulario registra usuarios <strong>exclusivamente</strong> por DNI/NIE.
                                            </dd>
                                            <dd>
                                                Introduzca de forma separada (por espacio en blanco) los DNI/NIE con letra que desea dar de alta.
                                            </dd>
                                            <dt>
                                                Resultado
                                            </dt>
                                            <dd>
                                                Se dará de alta a cada jugador asignándole su correspondiente DNI/NIE como contraseña.
                                            </dd>
                                            <dd>
                                                En caso de que se introduzca un DNI/NIE en un formato no válido se le comunicará.
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <form id="form" method="post" action="/guardian/censo/registro" >
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <legend><i class="fa fa-heartbeat"></i>&nbsp;Tiempo de vida</legend>
                                                    <div class="left-inner-addon ">
                                                        <i class="fa fa-calendar"></i>
                                                        <input class="form-control" type="datetime-local" name="TDV">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12" style="display:inline-block; position:relative;">
                                                    <legend><i class="fa fa-id-card"></i> Entrada de DNI/NIE</legend>
                                                    <textarea class="form-control" name="DATOS_REGISTRO" rows="5" style="resize:none; width:100%;"></textarea>
                                                    <i class="fa fa-users" style="position:absolute; bottom:37px; right:85px;"></i>
                                                    <button class="btn btn-default" style="position:absolute; bottom:30px; right:25px;" type="submit">Alta</button>                                
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-12'>
                                    <legend>TdV para todos</legend>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input type="text" id="motivo_tdv" placeholder="Motivo" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left: 0px; margin-right: 0px; margin-top: 1%;">
                                        <div class="col-xs-3">
                                            <div class="row">
                                                <div class="input-group">
                                                    <input type="number" id="dias_tdv" class="form-control input-number" value="0" min="0" max="100" />
                                                    <span class="input-group-addon">d</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="row">
                                                <div class="input-group">
                                                    <input type="number" id="horas_tdv" class="form-control input-number" value="0" min="0" max="24" />
                                                    <span class="input-group-addon">h</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="row">
                                                <div class="input-group">
                                                    <input type="number" id="minutos_tdv" class="form-control input-number" value="0" min="0" max="60" />
                                                    <span class="input-group-addon">m</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="row">
                                                <div class="input-group">
                                                    <input type="number" id="segundos_tdv" class="form-control input-number" value="0" min="0" max="60" />
                                                    <span class="input-group-addon">s</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-block btn-default" style="margin-top:1%;" onclick="TdVParaTodos();">APLICAR OPERACIÓN</button>

                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-12'>
                                    <legend>Vacaciones para todos</legend>
                                    <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                        <div class="col-xs-3">
                                            <div class="row">
                                                <div class="input-group">
                                                    <input type="number" id="dias_vacaciones" class="form-control input-number" value="0" min="0" max="100" />
                                                    <span class="input-group-addon">d</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="row">
                                                <div class="input-group">
                                                    <input type="number" id="horas_vacaciones" class="form-control input-number" value="0" min="0" max="24" />
                                                    <span class="input-group-addon">h</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="row">
                                                <div class="input-group">
                                                    <input type="number" id="minutos_vacaciones" class="form-control input-number" value="0" min="0" max="60" />
                                                    <span class="input-group-addon">m</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="row">
                                                <div class="input-group">
                                                    <input type="number" id="segundos_vacaciones" class="form-control input-number" value="0" min="0" max="60" />
                                                    <span class="input-group-addon">s</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-block btn-default" style="margin-top:1%;" onclick="vacacionesParaTodos();">VACACIONES</button>

                                </div>
                            </div>
                        {% elseif SECCION == 'CIUDADANOS' %}
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="tabla" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>PUESTO</th>
                                                <th>PUESTO (MES)</th>
                                                <th class="responsive">NIVEL/XP</th>
                                                <th class="responsive">DISTRITO</th>
                                                <th>SEUDÓNIMO</th>
                                                <th class="responsive">NOMBRE</th>
                                                <th class="responsive">EMAIL</th>
                                                <th>TdV</th>
                                                <th class="responsive">ESTADO</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>PUESTO</th>
                                                <th>PUESTO (MES)</th>
                                                <th class="responsive">NIVEL/XP</th>
                                                <th class="responsive">DISTRITO</th>
                                                <th>SEUDÓNIMO</th>
                                                <th class="responsive">NOMBRE</th>
                                                <th class="responsive">EMAIL</th>
                                                <th>TdV</th>
                                                <th class="responsive">ESTADO</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% for JUGADOR in JUGADORES %}
                                                <tr>
                                                    <td><a href="/guardian/directorio/getDirectorio/{{ JUGADOR.DNI }}">{{ JUGADOR.PUESTO }}</a></td>
                                                    <td><a href="/guardian/directorio/getDirectorio/{{ JUGADOR.DNI }}">{{ JUGADOR.PUESTO_MES }}</a></td>
                                                    <td class="responsive"><a href="/guardian/directorio/getDirectorio/{{ JUGADOR.DNI }}">{{ JUGADOR.NIVEL }}/{{ JUGADOR.XP }}</a></td>
                                                    <td class="responsive"><a href="/guardian/directorio/getDirectorio/{{ JUGADOR.DNI }}">{% if JUGADOR.DISTRITO is not null %}{{ JUGADOR.DISTRITO }}{% else %} <b style="color: red">SIN DISTRITO ASIGNADO</b> {% endif %}</a></td>
                                                    <td><a href="/guardian/directorio/getDirectorio/{{ JUGADOR.DNI }}">{{ JUGADOR.ALIAS }}</a></td>
                                                    <td class="responsive"><a href="/guardian/directorio/getDirectorio/{{ JUGADOR.DNI }}">{{ JUGADOR.NOMBRE }}&nbsp;{{ JUGADOR.APELLIDOS }}</a></td>
                                                    <td class="responsive"><a href="/guardian/directorio/getDirectorio/{{ JUGADOR.DNI }}">{{ JUGADOR.EMAIL }}</a></td>
                                                        {% if JUGADOR.TDV_RED %}
                                                        <td style="color:red; font-weight: bold;"><a href="/guardian/directorio/getDirectorio/{{ JUGADOR.DNI }}">{{ JUGADOR.TDV.dias }}D {{ JUGADOR.TDV.horas }}H {{ JUGADOR.TDV.minutos }}M {{ JUGADOR.TDV.segundos }}S</a></td>
                                                    {% else %}
                                                        <td style="color:green; font-weight: bold;"><a href="/guardian/directorio/getDirectorio/{{ JUGADOR.DNI }}">{{ JUGADOR.TDV.dias }}D {{ JUGADOR.TDV.horas }}H {{ JUGADOR.TDV.minutos }}M {{ JUGADOR.TDV.segundos }}S</a></td>
                                                    {% endif %}
                                                    <td class="responsive"><a href="/guardian/directorio/getDirectorio/{{ JUGADOR.DNI }}">{{ JUGADOR.ESTADO }}</a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% elseif SECCION == 'DISTRITOS' %}
                            <div class="row">
                                <legend>CREAR UN DISTRITO</legend>
                                <form method="post" action="/guardian/censo/creardistrito">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-users" style=""></i></span>
                                                <input type="text" class="form-control" name="NOMBRE" placeholder="NOMBRE DEL DISTRITO" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-primary btn-block">
                                            Crear
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <legend>GESTIÓN DE DISTRITOS</legend>
                                <div class="row" style="margin-bottom: 1%;">
                                    <div class="col-md-6 col-md-offset-3">
                                        <select class="form-control" id="id-selector-distritos">
                                            {% if DISTRITOS is not empty %}
                                                <option value="0"> - SELECCIONA UN DISTRITO - </option>
                                                {% for DISTRITO in DISTRITOS %}
                                                    <option value="{{ DISTRITO.getIdUsuarioDistrito() }}">{{ DISTRITO.getNombre() }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="desplegable-titulo">
                                            <center><i class="fa fa-users"></i> CIUDADANOS SIN DISTRITO</center>
                                        </div>
                                        <div class="desplegable" id="id-desplegable-sin-distrito"> </div>

                                    </div>

                                    <div class="col-xs-6">
                                        <div class="desplegable-titulo">
                                            <center><i class="fa fa-users"></i><span id="id-desplegable-titulo">CIUDADANOS DEL DISTRITO</span></center>
                                        </div>
                                        <div class="desplegable" id="id-desplegable-distrito"> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="font-size: 15px; font-weight: bold; text-transform: uppercase;">
                                <legend>DISTRITOS</legend>
                                {% if DISTRITOS is not empty %}
                                    {% for DISTRITO in DISTRITOS %}
                                        <div class="col-md-12">
                                            <legend style="font-size:15px;">CIUDADANOS DEL DISTRITO {{ DISTRITO.getNombre() }}</legend>
                                            <table id="{{'tabla' ~ DISTRITO.getIdUsuarioDistrito() }}" class="table table-striped table-bordered" cellspacing="0" width="100%" >
                                                <thead>
                                                    <tr>
                                                        <th>DNI</th>
                                                        <th>SEUDÓNIMO</th>
                                                        <th>NOMBRE</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>DNI</th>
                                                        <th>SEUDÓNIMO</th>
                                                        <th>NOMBRE</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    {% for JUGADOR in JUGADORES %}
                                                        {% if JUGADOR.getIdDistrito() is not null %}
                                                            {% if JUGADOR.getIdDistrito() == DISTRITO %}
                                                                <tr>
                                                                    <td><a href="/guardian/directorio/getDirectorio/{{ JUGADOR.getDni() }}">{{ JUGADOR.getDni() }}</a></td>
                                                                    <td><a href="/guardian/directorio/getDirectorio/{{ JUGADOR.getDni() }}">{{ JUGADOR.getSeudonimo() }}</a></td>
                                                                    <td><a href="/guardian/directorio/getDirectorio/{{ JUGADOR.getDni() }}">{{ JUGADOR.getNombre() }}&nbsp;{{ JUGADOR.getApellidos() }}</a></td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <center><p style="font-weight: bold; font-size: 15px; color:red;">AÚN NO HAY NINGÚN DISTRITO DEFINIDO</p></center>
                                    {% endif %}
                            </div>
                        {% endif %}                            
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function () {
            rellenaCiudadanosSinDistritos();
        {% if info.message is defined or info.type is defined%}
                $('#box_modal_result').click();
        {% endif %}
        {% if SECCION == 'CIUDADANOS' %}
                $('#tabla').DataTable({
                    "language": {
                        "search": "Buscar ciudadano: ",
                        "lengthMenu": "Mostrando _MENU_ resultados por página",
                        "zeroRecords": "No hay resultados",
                        "info": "Página _PAGE_ de _PAGES_",
                        "infoEmpty": "No hay datos disponibles",
                        "infoFiltered": "(filtered from _MAX_ total records)",
                        "paginate": {
                            "sFirst": '<span style="color: #337ab7;" class="fa fa-step-backward"></span>',
                            "sPrevious": '<span style="color: #337ab7;" class="fa fa-caret-left"></span>',
                            "sNext": '<span style="color: #337ab7;" class="fa fa-caret-right"></span>',
                            "sLast": '<span style="color: #337ab7;" class="fa fa-step-forward"></span>'
                        }
                    }
                });
        {% endif %}
            });
        {% if SECCION == 'DISTRITOS' %}
            {% if DISTRITOS is defined %}
                {% for DISTRITO in DISTRITOS %}
                    $('#tabla{{ DISTRITO.getIdUsuarioDistrito() }}').DataTable({
                        "language": {
                            "search": "Buscar ciudadano: ",
                            "lengthMenu": "Mostrando _MENU_ resultados por página",
                            "zeroRecords": "No hay resultados",
                            "info": "Página _PAGE_ de _PAGES_",
                            "infoEmpty": "No hay datos disponibles",
                            "infoFiltered": "(filtered from _MAX_ total records)",
                            "paginate": {
                                "sFirst": '<span style="color: #337ab7;" class="fa fa-step-backward"></span>',
                                "sPrevious": '<span style="color: #337ab7;" class="fa fa-caret-left"></span>',
                                "sNext": '<span style="color: #337ab7;" class="fa fa-caret-right"></span>',
                                "sLast": '<span style="color: #337ab7;" class="fa fa-step-forward"></span>'
                            }
                        }
                    });
                {% endfor %}
            {% endif %}
        {% endif %}
            distrito = 0;
            $('#id-selector-distritos').change(function () {
                $('#id-desplegable-titulo').text('CIUDADANOS DEL DISTRITO ' + $('#id-selector-distritos :selected').text());
                distrito = $(this).val();
                rellenaListaDistritoSeleccionado();

            });
            function rellenaListaDistritoSeleccionado() {
                $('#id-desplegable-distrito').empty();
                if (distrito !== 0 && distrito !== '0') {
                    ruta = '/guardian/obtenerCiudadanosDistrito/' + distrito;
                    $.get(ruta, function (data, status) {
                        console.log(data);
                        if (data.respuesta === 'OK') {
                            $.each(data.ciudadanos, function (k, v) {
                                texto = '';
                                if ((typeof v.DNI) !== 'undefined') {
                                    texto += '<div class="col-md-12 usuario-item" onclick="quitar(' + v.ID + ');">';
                                    texto += v.DNI + ' ' + v.NOMBRE + ' ' + v.APELLIDOS + ' <small><i class="fa fa-at"></i>' + v.SEUDONIMO + '</small>';
                                    texto += '</div>';
                                } else {
                                    texto += v + '';
                                }
                                $('#id-desplegable-distrito').append(texto);
                            });
                        }
                    });
                }
            }
            function rellenaCiudadanosSinDistritos() {
                $('#id-desplegable-sin-distrito').empty();
                ruta = '/guardian/obtenerCiudadanosSinDistrito';
                $.get(ruta, function (data, status) {
                    console.log(data);
                    if (data.respuesta === 'OK') {
                        $.each(data.ciudadanos, function (k, v) {
                            texto = '';
                            if ((typeof v.DNI) !== 'undefined') {
                                texto += '<div class="col-md-12 usuario-item" onclick="aniade(' + v.ID + ');">';
                                texto += v.DNI + ' ' + v.NOMBRE + ' ' + v.APELLIDOS + ' <small><i class="fa fa-at"></i>' + v.SEUDONIMO + '</small>';
                                texto += '</div>';
                            } else {
                                texto += v + '';
                            }
                            $('#id-desplegable-sin-distrito').append(texto);
                        });
                    }
                });
            }
            function aniade(idCiudadano) {
                if (distrito !== 0 && distrito !== '0') {
                    ruta = '/guardian/aniadeCiudadanoADistrito/' + idCiudadano + '/' + distrito;
                    $.get(ruta, function (data, status) {
                        console.log(data);
                        if (data.respuesta === 'OK') {
                            rellenaListaDistritoSeleccionado();
                            rellenaCiudadanosSinDistritos();
                        }
                    });
                } else {
                    alert('Debes seleccionar un distrito');
                }
            }
            function TdVParaTodos() {
                var dias = parseInt($("#dias_tdv").val());
                var horas = parseInt($("#horas_tdv").val());
                var minutos = parseInt($("#minutos_tdv").val());
                var segundos = parseInt($("#segundos_tdv").val());
                var motivo = $("#motivo_tdv").val();
                var tiempo = (((((dias * 24) + horas) * 60) + minutos) * 60 + segundos);
                if ($.trim(motivo) === "") {
                    alert('Debes escribir un motivo');
                } else if (tiempo === 0) {
                    alert('Debes insertar un TdV válido');
                } else {
                    ruta = '/guardian/tdvParaTodos';
                    datos = {
                        'tiempo': tiempo,
                        'motivo': motivo
                    };
                    $.post(ruta, datos, function (respuesta, status) {
                        data = jQuery.parseJSON(respuesta);
                        alert(data.message);
                        location.reload();
                    });
                }
            }
            function vacacionesParaTodos() {
                var dias = parseInt($("#dias_vacaciones").val());
                var horas = parseInt($("#horas_vacaciones").val());
                var minutos = parseInt($("#minutos_vacaciones").val());
                var segundos = parseInt($("#segundos_vacaciones").val());
                var tiempo = (((((dias * 24) + horas) * 60) + minutos) * 60 + segundos);
                if (tiempo <= 0) {
                    alert('Debes insertar un tiempo de vacaciones válido');
                } else {
                    ruta = '/guardian/vacacionesParaTodos';
                    datos = {
                        'tiempo': tiempo
                    };
                    $.post(ruta, datos, function (respuesta, status) {
                        data = jQuery.parseJSON(respuesta);
                        alert(data.message);
                        location.reload();
                    });
                }
            }
    </script>
{% endblock %}