{% extends "base.html.twig" %}

{% block header %}
    {% include "ciudadano/header.html.twig" %}
{% endblock %}


{% block body %}
    <div class="container-fluid">
        <!--
        <div class="row">
            <div class="col-xs-12">
                <div class="component" style="margin-top: 1%;">
                    <button class="cn-button" id="cn-button">
                    </button>
                    <div class="cn-wrapper" id="cn-wrapper">
                        <ul>
                            <li><a href="/ciudadano/info"><span></span></a></li>
                            <li><a href="#"><span></span></a></li>
                            <li><a href="#"><span></span></a></li>
                            <li><a href="#"><span></span></a></li>
                            <li><a href="#"><span></span></a></li>
                            <li><a href="#"><span></span></a></li>
                            <li><a href="#"><span></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="row" id="fel-tra">            
            <div class="menu" id="menu-felicidad">
                <a href="/ciudadano/felicidad"><img alt="Logo" src="{{ asset('images/iconos/Felicidad.png') }}"  /></a>
            </div>
            <div class="menu contenedor-badge" id="menu-trabajo" style="float:right;">
                <a href="/ciudadano/trabajo">
                    <img alt="Logo" src="{{ asset('images/iconos/Trabajo.png') }}"  />
                    {% if MENSAJES_INSPECCION is defined and MENSAJES_PAGA is defined %}
                        {% if MENSAJES_INSPECCION|length > 0 or MENSAJES_PAGA|length > 0%}
                            <span class="badge badge-aviso">
                                {{ MENSAJES_INSPECCION|length + MENSAJES_PAGA|length}}
                            </span>
                        {% endif %}
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="row" id="oci-asi">
            <div class="menu" id="menu-asistencia">
                <a href="/ciudadano/asistencia"><img alt="Logo" src="{{ asset('images/iconos/Asistencia_medica.png') }}"  /></a>
            </div>
            <div class="menu" id="menu-jugador">
                <a href="/ciudadano/info">
                    <img alt="Logo" src="{{ asset('images/iconos/Jugador.png') }}"  />
                </a>
            </div>
            <div class="menu" id="menu-ocio" style="float:right;">
                <a href="/ciudadano/ocio">
                    <img alt="Logo" src="{{ asset('images/iconos/Ocio.png') }}" />
                </a>
            </div>
        </div>
        <div class="row" id="ali-pre">
            <div class="menu" id="menu-prestamo">
                <a href="/ciudadano/prestamos">
                    <img alt="Logo" src="{{ asset('images/iconos/Prestamos.png') }}"  />
                </a>
            </div>
            <div class="menu" id="menu-alimentacion" style="float:right;">
                <a href="/ciudadano/alimentacion">
                    <img alt="Logo" src="{{ asset('images/iconos/Alimentacion.png') }}"  />
                </a>
            </div>
        </div>
        <div class="row" id="log-sal">
            <div id="menu-logo">
                <img alt="Logo" src="{{ asset('images/inTime.png') }}"  />
            </div>
            <div id="menu-salir" style="float:right;">
                <a href="/logout"><img alt="Logo" src="{{ asset('images/iconos/exit.png') }}" /></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function comprobarInformacion(redireccion) {
            var ruta = '/comprobarInformacionPersonal';
            $.get(ruta, function (data, status) {
                $("#modal-avisos2").click();
                mostrarCarga('Recuperando datos personales...');
                if (data.respuesta === 'OK') {
                    window.location.href = redireccion;
                } else {
                    mostrarResultadoOperacion(data.message, 'info');
                }
            });
        }
        function mostrarCarga(texto) {
            $("#mensaje-texto").empty();
            contenido = '';
            contenido += '<div class="row" style="margin-top:2%;">';
            contenido += '  <center>';
            contenido += '      <i class="fa fa-spinner fa-spin"></i>' + texto;
            contenido += '  </center>';
            contenido += '</div>';
            $("#mensaje-texto").append(contenido);
        }

        function mostrarResultadoOperacion(resultado, redireccion) {
            $("#mensaje-texto").empty();
            contenido = '';
            contenido += '<div class="row" style="margin-top:2%;">';
            contenido += '  <center>';
            contenido += '      ' + resultado;
            contenido += '  </center>';
            contenido += '</div>';
            contenido += '<div class="row" style="margin-top:2%;">';
            contenido += '  <div class="col-xs-12">';
            if (redireccion === null) {
                contenido += '      <button class="btn btn-block" onclick="location.reload();"> ACEPTAR </button>';
            } else {
                console.log(redireccion);
                contenido += '      <button class="btn btn-block" id="redirect-info"> IR A INFORMACION </button>';
            }
            contenido += '  </div>';
            contenido += '</div>';
            //$("#modal-button-aceptar").show();
            $("#mensaje-texto").append(contenido);
        }
        $('#redirect-info').click(function () {
            window.location.replace('/ciudadano/info');
        });
        $(document).on('mobileinit', function () {
            $.mobile.ignoreContentEnabled = true;
        });
        $(document).ready(function () {
            {% if info.message is defined or info.type is defined%} $('#box_modal_result').click();{% endif %}
        });
    </script>
{% endblock %}