
{% extends "base.html.twig" %}

{% block header %}
    {% include "ciudadano/header.html.twig" %}
{% endblock %}

{% block stylesheets %}
    <style>
        .badge{
            background-color: #E0B831;
            padding: 9px 9px;
        }
        .tarjeta-ejercicio{
            margin-top: 1%;
        }
        .badge,
        .ejercicio-evaluado,
        .ejercicio-calificacion{
            font-size: 45px;
        }
        .ejercicio-calificacion{
            text-align: right;
        }
        .ejercicio-calificacion img{
            height: 10px;
        }
        @media (min-width: 1200px){
            .badge,
            .ejercicio-evaluado{
                font-size: 14px;
            }
            .ejercicio-calificacion{
                font-size: 16px;
            }
            .ejercicio-calificacion img{
                height: 20px;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        {% if SECCION is defined %}
            {% if SECCION == 'inspeccion_trabajo'%}
                {% set SECCION_TEXTO = 'INSPECCIÓN DE TRABAJO' %}
            {% elseif SECCION == 'paga_extra'%}
                {% set SECCION_TEXTO = 'PAGA EXTRA' %}
            {% endif %}
        {% else %}
            {% set SECCION_TEXTO = 'SECCIÓN NO DEFINIDA' %}
        {% endif %}
        <div class="row">
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" style="margin-bottom: 1%;" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn-menu-last" onclick="window.history.back();" >
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        <div class="hidden-xs">ATRÁS</div>
                    </button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row bordes border-radius">
                    {% if EJERCICIOS is defined and EJERCICIOS|length > 0 %}
                        {% set contador = 1 %}
                        {% for EJERCICIO in EJERCICIOS %}
                            {%if not contador is divisible by(2)%}
                                <div class="row">
                                {% endif %}
                                <div class="col-md-5 tarjeta-ejercicio {%if contador is divisible by(2)%} col-md-offset-2 {%endif%}" 
                                     style=" {% if not EJERCICIO.ELEGIBLE %} opacity: 0.5; {% endif %} ">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            {% if not EJERCICIO.VISTO %}
                                                <span class="badge">NUEVO</span>
                                            {% elseif EJERCICIO.EVALUADO is defined %}
                                                <span class="fa fa-eye"></span> <span class="ejercicio-evaluado"> EJERCICIO EVALUADO</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-6" class="ejercicio-calificacion">
                                            {% if EJERCICIO.EVALUADO is defined %}
                                                <img src="{{ asset('images/badges/' ~ EJERCICIO.EVALUADO.getCorrespondenciaIcono()) }}" title="{{ EJERCICIO.EVALUADO.getCorrespondenciaTexto() }}" />
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 tarjeta-ejercicio-tipo">
                                            <span class="fa fa-check-square"> </span>
                                            {{ EJERCICIO.TIPO }}
                                        </div>
                                        <div class="col-xs-6 tarjeta-ejercicio-fecha" style="float:right;">
                                            <span class="fa fa-calendar"> </span>
                                            {{ EJERCICIO.FECHA.date }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 tarjeta-ejercicio-enunciado">
                                            <div class="row">
                                                <div class="col-xs-1">
                                                    <span class="fa fa-graduation-cap"></span>
                                                </div>
                                                <div class="col-xs-11">
                                                    {{ EJERCICIO.ENUNCIADO }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if (SECCION_TEXTO == 'PAGA EXTRA' and EJERCICIO.ELEGIBLE) or (SECCION_TEXTO == 'INSPECCIÓN DE TRABAJO' and EJERCICIO.EVALUADO is not defined) %}
                                        <div class="row" style="margin-top: 2%;">
                                            {% if (SECCION_TEXTO == 'PAGA EXTRA') %}
                                                {% if EJERCICIO.ESTADO == 'solicitado' %}
                                                    <div class="col-md-6 col-md-offset-6">
                                                        <button class="btn btn-warning btn-block" style="font-weight: 600; font-size: 15px;" onclick="arena_ejercicio({{ EJERCICIO.ID }});"> ENTREGAR </button>
                                                    </div>
                                                {% elseif EJERCICIO.ESTADO == 'entregado' %}
                                                    <div class="col-md-6 col-md-offset-6">
                                                        <button class="btn btn-warning btn-block" style="font-weight: 600; font-size: 15px;" onclick="arena_ejercicio({{ EJERCICIO.ID }});"> MODIFICAR ENTREGA </button>
                                                    </div>
                                                {% else %}
                                                    <div class="col-md-6 col-md-offset-6">
                                                        <button class="btn btn-warning btn-block" style="font-weight: 600; font-size: 15px;" onclick="solicitar({{ EJERCICIO.ID }});">SOLICITAR({{ EJERCICIO.SOLICITANTES }}/{{ EJERCICIO.NUM_MAX_SOLICITANTES }})</button>
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                <div class="col-md-4 col-md-offset-8">
                                                    <button class="btn btn-warning btn-block" style="font-weight: 600; font-size: 15px;" onclick="arena_ejercicio({{ EJERCICIO.ID }});">HAZLO!</button>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% elseif SECCION_TEXTO == 'PAGA EXTRA' and not EJERCICIO.ELEGIBLE %}
                                        
                                    {% endif %}
                                </div>
                                {%if contador is divisible by(2)%}
                                </div>
                            {% endif %}
                            {% set contador = contador + 1 %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
        {% if info.message is defined or info.type is defined%}
                $('#box_modal_result').click();
        {% endif %}
            });

            function arena_ejercicio(id) {
                var ruta = '/arena/' + id;
                window.location.replace(ruta);
            }
            function solicitar(id) {
                var ruta = '/solicitar/' + id;
                $.get(ruta, function (data, status) {
                    console.log(data);
                    if (data.respuesta === 'OK') {
                        var redirect_ruta = '/ciudadano/trabajo/paga_extra';
                        window.location.replace(redirect_ruta);
                    } else {
                        $('#mensaje-titulo').html('&nbsp;ERROR...');
                        $('#mensaje-texto').html(data.mensaje);
                        $('#modal-avisos2').click();
                    }
                });
            }
    </script>
{% endblock %}