{% extends "base.html.twig" %}

{% block header %}
    {% include "ciudadano/header.html.twig" %}
{% endblock %}

{% block stylesheets %}
    <style>
        .titulo-xs{
            display: block;
        }
        .separador-tweets{
            border-top: 2px solid #000000;
        }
        .tweet-perfil{
            padding-left: 5%; 
            padding-top: 1%;
        }
        .tweet-perfil img{
            width: 146px;
            height: 146px;
        }
        .tweet-perfil p{
            font-size: 25px; 
            color: #8899A6;
        }
        .tweet-cuerpo{
            padding-left: 5%;
        }
        .tweet-cuerpo p{
            font-size: 45px; 
            line-height: 40px; 
            font-weight: 400;
        }
        .div-tweet-folders-mvl{
            display: block;
        }
        .div-tweet-folders-comp{
            display: none;
        }
        .btn-group img{
            height: 70px;
        }
        .panel-btn-seguir button{
            border-width: 0px;
        }
        .panel-btn-seguir button img{
            height: 100px;
        }
        .titulo-xs{
            font-size: 20px;
        }
        .input-group-btn .btn{
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            border-left-width: 0px;
        }
        .panel-seguir{
            margin-top: 1%;
        }
        select{
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
        }
        .panel-btn-seguir div{
            display: table-cell;
            float: none;
            /*width: 1%;*/
        }
        .button-tweet-panel{
            border-bottom: 2px #000000 solid;
        }
        .button-tweet-panel img{
            width: 100%;
        }
        #img-compartir{
            width: 30%;
        }
        .btn-group-tweet img{
            height: 140px;
            width: auto;
        }
        .compartir-alias{
            font-size: 40px;
            margin-right: 30px;
        }
        @media (max-width: 760px){
            .tweet-perfil img{
                width: 73px;
                height: 73px;
            }
            .tweet-perfil p{
                font-size: 13px;
            }
            .tweet-cuerpo p{
                line-height: 22px; 
                font-size: 16px;
            }
            .button-tweet-folders-comp img,
            .button-tweet-folders img{
                height: 75px;
            }
            .div-tweet-folders-mvl{
                display: none;
            }
            .div-tweet-folders-comp{
                display: block;
            }
            .btn-group img{
                height: 31px;
            }
            .panel-btn-seguir button img{
                height: 47px;
            }
            .btn-group-tweet img{
                height: 70px;
                width: auto;
            }
            .panel-seguir{
                margin-top: 1%;
            }
            .compartir-alias{
                font-size: 20px;
                margin-right: 15px;
            }
            .titulo-xs{
                font-size: 15px;
            }
        }
        @media (min-width: 1200px){
            .tweet-perfil img{
                width: 73px;
                height: 73px;
            }
            .tweet-perfil p{
                font-size: 13px;
            }
            .tweet-cuerpo p{
                line-height: 22px; 
                font-size: 16px;
            }
            .button-tweet-folders-comp img,
            .button-tweet-folders img{
                height: 150px;
            }
            .div-tweet-folders-mvl{
                display: none;
            }
            .div-tweet-folders-comp{
                display: block;
            }
            .btn-group img{
                height: 31px;
            }
            .panel-btn-seguir button img{
                height: 31px;
            }
            .btn-group-tweet img{
                height: 70px;
                width: auto;
            }
            .titulo-xs{
                font-size: 20px;
            }
            .panel-seguir{
                margin-top: 0%;
            }
            .compartir-alias{
                font-size: 20px;
                margin-right: 15px;
            }
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal_compartir" id="modal_compartir_button" style="display:none;"></button>
        <div class="modal modal-advice" id="modal_compartir">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div id="modal-usuarios"></div>
                        <input type="hidden" value="" name="id_tweet" id="share_id_tweet" />
                        <input type="hidden" value="" name="id_tuitero" id="share_id_tuitero" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary btn13 btn-menu-first" id="menu-primer" href="#tab1" data-toggle="tab">
                        <span class="fa fa-twitter animated pulse" aria-hidden="true" id="contador-tweets"></span>
                        <div class="titulo-xs">TWITTER</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn13" id="menu-segun" href="#tab2" data-toggle="tab" onclick="descargarMochila(1);">
                        <img src="{{ asset('images/iconos/Twitter/Carpeta_Texto.png') }}"/>
                        <div class="titulo-xs">TEXTO</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn13" href="#tab3" data-toggle="tab" onclick="descargarMochila(2);">
                        <img src="{{ asset('images/iconos/Twitter/Carpeta_audiovisual.png') }}"/>
                        <div class="titulo-xs">AUDIOVISUAL</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn13" href="#tab4" data-toggle="tab" onclick="descargarMochila(3);">
                        <img src="{{ asset('images/iconos/Twitter/Carpeta_herramientas.png') }}"/>
                        <div class="titulo-xs">HERRAMIENTAS</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn13" href="#tab5" data-toggle="tab" onclick="descargarMochila(4);">
                        <img src="{{ asset('images/iconos/Twitter/Carpeta_compartir.png') }}"/>
                        <div class="titulo-xs">COMPARTIDOS</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn4 btn-menu-last" onclick="window.history.back();" >
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        <div class="titulo-xs">ATRÁS</div>
                    </button>
                </div>
            </div>
            <div class="col-md-12 bordes border-radius" style="margin-top: 1%;">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <div class="row">
                            <div class="col-lg-5">
                                <span class="flecha-select">
                                    <select class="custom-select" id="selector_tuits">
                                    </select>
                                </span>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group panel-seguir">
                                    <span class="input-group-addon"><a href="https://twitter.com/">@</a></span>
                                    <input type="text" class="form-control" id="input-seguir" placeholder="usuario" aria-describedby="basic-addon1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-menu-last" id="button-seguir">SEGUIR</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ventana-tweets" id="principal-tweets"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tab2">
                        <div class="row">
                            <div class="ventana-tweets" id="mochila-tweets-1"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tab3">
                        <div class="row">
                            <div class="ventana-tweets" id="mochila-tweets-2"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tab4">
                        <div class="row">
                            <div class="ventana-tweets" id="mochila-tweets-3"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tab5">
                        <div class="row">
                            <div class="ventana-tweets" id="mochila-tweets-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var usuario_compartir = 0;
        var contador_mochila = 0;
        var offset = 10;
        function almacenarTweet(id_tweet, tipo_tweet, alias_usu_dest) {
            var id = id_tweet;
            var alias = $('#alias-' + id).val();
            var tweet = $('#tweet-' + id).val();
            var id_tweet = $('#id-' + id).val();
            var datos = {
                'id_tweet': id_tweet,
                'id_tuitero': alias,
                'tipo_tweet': tipo_tweet,
                'alias_usu_dest': alias_usu_dest,
                'text_tweet': tweet
            };
            var url = '/ciudadano/trabajo/jornada_laboral/almacenarTweet';
            $.post(url, datos, function (datos) {
                data = jQuery.parseJSON(datos);
                alert(data.message);
                getNumTweetsHoy();
            });
        }
        function aniadeIdTweet(id_tweet) {
            var ruta = '/ciudadano/ocio/altruismo/getCiudadanosDonar';
            $.get(ruta, function (datos) {
                data = jQuery.parseJSON(datos);
                if (data.estado === 'OK') {
                    contenido = '';
                    contenido += '<div class="row">';
                    contenido += '  <div class="col-xs-12">';
                    contenido += '      <legend>Comparte este tweet con tus compañeros</legend>';
                    contenido += '  </div>';
                    contenido += '</div>';
                    contenido += '<div class="row">';
                    contenido += '  <div class="col-xs-12">';
                    contenido += '      <select class="custom-select" id="selector_ciudadanos">';
                    contenido += '          <option selected value="0">Selecciona a un ciudadano</option>';
                    $.each(data.message.CIUDADANOS, function (k, v) {
                        contenido += '<option value="' + v.ID + '">@' + v.ALIAS + '</option>';
                    });
                    contenido += '      </select>';
                    contenido += '  </div>';
                    contenido += '</div>';
                    contenido += '<div class="row" style="margin-top:2%;">';
                    contenido += '  <div class="col-xs-6 col-xs-offset-3">';
                    contenido += '      <button class="btn btn-block btn-primary" onclick="getUsuarioACompartir(' + id_tweet + ')"> COMPARTIR </button>';
                    contenido += '  </div>';
                    contenido += '</div>';
                    $('#modal-usuarios').html(contenido);
                } else {
                    alert(data.message);
                }
            });
            $('#modal_compartir_button').click();
        }
        function getUsuarioACompartir(id_tweet) {
            usuario_compartir = $("#selector_ciudadanos").val();
            if (usuario_compartir === "0") {
                alert('No se ha seleccionado ningun ciudadano');
            } else {
                almacenarTweet(id_tweet, 4, usuario_compartir);
            }
            $('#modal_compartir').modal('toggle');
        }
        function descargarSeguidos() {
            var ruta = '/ciudadano/trabajo/jornada_laboral/getSeguidos';
            $.get(ruta, function (datos, status) {
                data = jQuery.parseJSON(datos);
                if (data.estado === 'OK') {
                    contenido = '';
                    contenido += '<option selected value="0">Troyanos de cabecera</option>';
                    $.each(data.message, function (k, v) {
                        contenido += '<option value="' + v.ID + '">' + v.ID + '</option>';
                    });
                    $('#selector_tuits').html(contenido);
                } else {
                    alert(data.message);
                }
            });
        }
        function dejarDeSeguir(id_contador) {
            var usuario_tw = $('#alias-'+id_contador).attr('data-alias');
            var url = '/ciudadano/trabajo/jornada_laboral/dejarDeSeguir/' + usuario_tw;
            $.get(url, function (datos) {
                data = jQuery.parseJSON(datos);
                alert(data.message);
                location.reload();
            });
        }
        function descargarTuits(id) {
            var contador_tweet = 0;
            var ruta = '/ciudadano/trabajo/jornada_laboral/descargarTuits/' + id + '/' + offset;
            $.get(ruta, function (datos, status) {
                data = jQuery.parseJSON(datos);
                console.log(data);
                //exit(0);
                if (data.estado === 'OK') {
                    contenido = '';
                    contenido += '<legend>Tweets de @' + data.message.ALIAS + '<span style="float: right;" id="alias-'+contador_tweet+'" data-alias="' + data.message.ALIAS + '" onclick="dejarDeSeguir('+contador_tweet+');">dejar de seguir</span></legend>';
                    $.each(data.message.TWEETS, function (k, v) {
                        contenido += '<div class="row">';
                        contenido += '  <div class="col-xs-12">';
                        contenido += '  <div id="base_' + v.ID_STR + '">';
                        contenido += '      <input type="hidden" id="id-' + contador_tweet + '" value="' + v.ID_STR + '">';
                        contenido += '      <input type="hidden" id="alias-' + contador_tweet + '" value="' + v.ALIAS + '">';
                        contenido += '      <input type="hidden" id="tweet-' + contador_tweet + '" value="' + v.TWEET + '">';
                        contenido += '      <div class="row tweet-perfil">';
                        contenido += '          <div style="display: inline-block">';
                        contenido += '              <img src="' + v.IMG_PERFIL + '" alt="profile_twitter" class="img-thumbnail"/>';
                        contenido += '          </div>';
                        if (v.RETWEET) {
                            contenido += '      <div style="display: inline-block; margin-left: 2%;">';
                            contenido += '          <p> Tweet de <strong>' + v.NOMBRE_COMP + '</strong> @' + v.ALIAS + '<br> Retweet por @' + data.message.ALIAS + '<br>' + v.FECHA + '</p>';
                            contenido += '      </div>';
                        } else {
                            contenido += '      <div style="display: inline-block; margin-left: 2%;">';
                            contenido += '          <p> Tweet de <strong>' + v.NOMBRE_COMP + '</strong> @' + v.ALIAS + '<br>' + v.FECHA + '</p>';
                            contenido += '      </div>';
                        }
                        contenido += '      </div>';
                        contenido += '      <div class="row tweet-cuerpo">';
                        contenido += '          <div class="col-xs-11">';
                        contenido += '              <p>' + v.TWEET + '</p>';
                        arrayLinks = getEnlaces(v.TWEET);
                        $.each(arrayLinks, function (lk, lv) {
                            contenido += '          <p><a href="' + lv + '">' + lv + '</a></p>';
                        });
                        if (v.FOTO) {
                            $.each(v.FOTOS, function (fk, fv) {
                                contenido += '      <div class="col-lg-6 col-lg-offset-3">';
                                contenido += '          <img style="width: 100%;" src="' + fv + '" alt="media_twitter" />';
                                contenido += '      </div>';
                            });
                        }
                        if (v.VIDEO) {
                            $.each(v.VIDEOS, function (vk, vv) {
                                contenido += '      <div class="col-lg-6 col-lg-offset-3">';
                                contenido += '          <div class="embed-responsive embed-responsive-16by9">';
                                contenido += '              <video loop class="embed-responsive-item" controls>';
                                contenido += '                  <source src="' + vv + '" type="video/mp4">';
                                contenido += '              </video>';
                                contenido += '          </div>';
                                contenido += '      </div>';
                            });
                        }
                        contenido += '          </div>';
                        contenido += '      </div>';
                        contenido += '  </div>';
                        contenido += '  </div>';
                        contenido += '  <div class="col-xs-12" id="' + v.ID_STR + '">';
                        contenido += '      <div class="btn-pref btn-group btn-group-justified btn-group-lg btn-group-tweet" role="group" >';
                        contenido += '          <div class="btn-group panel-btn-seguir" role="group">';
                        contenido += '              <button type="button" class="btn btn-default" onclick="almacenarTweet(' + contador_tweet + ', 1, null);">';
                        contenido += '                  <img src="{{ asset('images/iconos/Twitter/Texto.png') }}" />';
                        contenido += '              </button>';
                        contenido += '          </div>';
                        contenido += '          <div class="btn-group panel-btn-seguir" role="group">';
                        contenido += '              <button type="button" class="btn btn-default" onclick="almacenarTweet(' + contador_tweet + ', 2, null);"">';
                        contenido += '                  <img src="{{ asset('images/iconos/Twitter/Audiovisual.png') }}" />';
                        contenido += '              </button>';
                        contenido += '          </div>';
                        contenido += '          <div class="btn-group panel-btn-seguir" role="group">';
                        contenido += '              <button type="button" class="btn btn-default" onclick="almacenarTweet(' + contador_tweet + ', 3, null);">';
                        contenido += '                  <img src="{{ asset('images/iconos/Twitter/Herramientas.png') }}" />';
                        contenido += '              </button>';
                        contenido += '          </div>';
                        contenido += '          <div class="btn-group panel-btn-seguir" role="group">';
                        contenido += '              <button type="button" class="btn btn-default" onclick="aniadeIdTweet(' + contador_tweet + ');">';
                        contenido += '                  <img id="img-compartir" src="{{ asset('images/iconos/Twitter/Compartir.png') }}" />';
                        contenido += '              </button>';
                        contenido += '          </div>';
                        contenido += '      </div>';
                        contenido += '  </div>';
                        contenido += '</div>';
                        contenido += '<hr class="separador-tweets">';
                        contador_tweet++;
                    });
                    contenido += '  <div class="col-xs-12">';
                    contenido += '      <div class="btn-pref btn-group btn-group-justified btn-group-lg btn-group-tweet" role="group" >';
                    contenido += '          <div class="btn-group panel-btn-seguir" role="group">';
                    contenido += '              <button type="button" class="btn btn-default" id="cargarMas" seguidor="' + id + '" onclick="cargarMas();">';
                    contenido += '                  <span class="fa fa-caret-square-o-down" aria-hidden="true"></span>';
                    contenido += '                  <div class="titulo-xs" style="display: inline-block;">VER MÁS</div>';
                    contenido += '              </button>';
                    contenido += '          </div>';
                    contenido += '      </div>';
                    contenido += '  </div>';
                    $('#principal-tweets').html(contenido);
                } else {
                    alert(data.message);
                }
            });
        }
        function descargarMochila(id_tipo) {
            contador_mochila = 0;
            var ruta = '/ciudadano/trabajo/jornada_laboral/mostrarMochila/' + id_tipo;
            $.get(ruta, function (datos, status) {
                data = jQuery.parseJSON(datos);
                console.log(data);
                mostrarMochila(id_tipo, data.message.TWEETS);
            });
        }

        function mostrarMochila(id_tipo, TWEETS) {
            contador_mochila=0;
            contenido = '';
            $.each(TWEETS, function (k, v) {
                contenido += '<div class="row">';
                contenido += '  <div id="base_' + v.ID_STR + '">';
                contenido += '      <div class="row tweet-perfil">';
                contenido += '          <div style="display: inline-block">';
                contenido += '              <img src="' + v.IMG_PERFIL + '" alt="profile_twitter" class="img-thumbnail"/>';
                contenido += '          </div>';
                contenido += '      <div style="display: inline-block; margin-left: 2%;">';
                contenido += '          <p> Tweet de <strong>' + v.NOMBRE_COMP + '</strong> @' + v.ALIAS + '<br>' + v.FECHA + '</p>';
                contenido += '      </div>';
                contenido += '      </div>';
                contenido += '      <div class="row tweet-cuerpo">';
                contenido += '          <div class="col-xs-11">';
                contenido += '              <p>' + v.TWEET + '</p>';
                if (v.FOTO) {
                    $.each(v.FOTOS, function (fk, fv) {
                        contenido += '      <div class="col-lg-6 col-lg-offset-3">';
                        contenido += '          <img style="width: 100%;" src="' + fv + '" alt="media_twitter" />';
                        contenido += '      </div>';
                    });
                }
                if (v.VIDEO) {
                    $.each(v.VIDEOS, function (vk, vv) {
                        contenido += '      <div class="col-lg-6 col-lg-offset-3">';
                        contenido += '          <div class="embed-responsive embed-responsive-16by9">';
                        contenido += '              <video loop class="embed-responsive-item" controls>';
                        contenido += '                  <source src="' + vv + '" type="video/mp4">';
                        contenido += '              </video>';
                        contenido += '          </div>';
                        contenido += '      </div>';
                    });
                }
                contenido += '          </div>';
                contenido += '      </div>';
                contenido += '  </div>';
                contenido += '  <div class="col-xs-12">';
                contenido += '      <div class="btn-pref btn-group btn-group-justified btn-group-lg btn-group-tweet" role="group" >';
                contenido += '          <div class="btn-group panel-btn-seguir" role="group">';
                contenido += '              <button type="button" class="btn btn-default" id="m' + contador_mochila + '-'+id_tipo+'" onclick="eliminarTweet(' + id_tipo + ',' + contador_mochila + ');" idTweet="' + v.ID_STR + '">';
                contenido += '                  <span class="fa fa-trash" aria-hidden="true"></span>';
                contenido += '                  <div class="titulo-xs" style="display: inline-block;">ELIMINAR</div>';
                contenido += '              </button>';
                contenido += '          </div>';
                contenido += '      </div>';
                contenido += '  </div>';
                contenido += '</div>';
                contador_mochila++;
            });
            $('#mochila-tweets-' + id_tipo).html(contenido);
        }
        function eliminarTweet(id_mochila, id_id_tweet) {
            var id_tweet = $("#m" + id_id_tweet + "-" + id_mochila).attr('idTweet');
            var datos = {
                'id_tweet': id_tweet,
                'id_mochila': id_mochila
            };
            var url = '/ciudadano/trabajo/jornada_laboral/eliminarTweet';
            $.post(url, datos, function (datos) {
                data = jQuery.parseJSON(datos);
                alert(data.message);
                location.reload();

            });
        }
        function getNumTweetsHoy() {
            var url = '/ciudadano/trabajo/jornada_laboral/getNumeroTweetsSemana';
            $.get(url, function (datos) {
                data = jQuery.parseJSON(datos);
                if(data.estado === 'OK'){
                    var numTweets = data.message;
                    $('#contador-tweets').html(numTweets);
                }
            });
        }
        $('#button-seguir').click(function () {
            var seguir = $('#input-seguir').val();
            if ($.trim(seguir) !== '') {
                $('#input-seguir').val('');
                $('#button-seguir').html('ENVIANDO');
                datos = {'usuario_tw': seguir};
                $.post('/ciudadano/trabajo/jornada_laboral/seguir', datos, function (datos) {
                    data = jQuery.parseJSON(datos);
                    if (data.estado === 'OK') {
                        descargarSeguidos();
                        descargarTuits(data.message.ALIAS);
                    }
                });
                $('#button-seguir').html('SEGUIR');
            }
        });
        function igualarMenu() {
            var a1 = $('#menu-primer').height();
            var a2 = $('#menu-segun').height();
            var max = a1;
            if (a1 < a2) {
                max = a2;
            }
            $('.btn13').height(max);
            $('.btn4').height(max);
        }
        function cargarMas(){
            var seguidor = $("#cargarMas").attr('seguidor'); 
            offset += 10;
            console.log(seguidor);
            descargarTuits(seguidor);
        }
        $(document).ready(function () {
            {% if info.message is defined or info.type is defined %} $('#box_modal_result').click();{% endif %}
            descargarSeguidos();
            getNumTweetsHoy();
            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                $(this).removeClass("btn-default").addClass("btn-primary");
            });
            $('#selector_tuits').on('change', function () {
                var seguidor = this.value;
                if (seguidor !== '0') {
                    offset = 10;
                    descargarTuits(seguidor);
                }
            });
            igualarMenu();
        });

    </script>
{% endblock %}