{% extends "base.html.twig" %}

{% block header %}
    {% include "ciudadano/header.html.twig" %}
{% endblock %}

{% block stylesheets %}
    <style>
        .tweet-perfil{
            padding-left: 5%; 
            padding-top: 1%;
        }
        .tweet-perfil img{
            width: 146px;
            height: 146px;
        }
        .tweet-perfil p{
            font-size: 25px; 
            color: #8899A6;
        }
        .tweet-cuerpo{
            padding-left: 5%;
        }
        .tweet-cuerpo p{
            font-size: 45px; 
            line-height: 40px; 
            font-weight: 400;
        }
        .button-tweet-folders img{
            height: 200px;
        }
        .div-tweet-folders-mvl{
            display: block;
        }
        .div-tweet-folders-comp{
            display: none;
        }
        .btn-group img{
            height: 70px;
        }
        .hidden-xs{
            font-size: 20px;
        }
        .input-group-btn .btn{
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            border-left-width: 0px;
        }
        @media (min-width: 1200px){
            .tweet-perfil img{
                width: 73px;
                height: 73px;
            }
            .tweet-perfil p{
                font-size: 13px;
            }
            .tweet-cuerpo p{
                line-height: 22px; 
                font-size: 16px;
            }
            .button-tweet-folders-comp img,
            .button-tweet-folders img{
                height: 150px;
            }
            .div-tweet-folders-mvl{
                display: none;
            }
            .div-tweet-folders-comp{
                display: block;
            }
            .btn-group img{
                height: 31px;
            }
            .hidden-xs{
                font-size: 20px;
            }
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary btn13 btn-menu-first" href="#tab1" data-toggle="tab">
                        <span class="fa fa-twitter" aria-hidden="true"></span>
                        <div class="hidden-xs">TWITTER</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn13" href="#tab2" data-toggle="tab">
                        <img src="{{ asset('images/iconos/Twitter/Carpeta_audiovisual.png') }}"/>
                        <div class="hidden-xs">TEXTO</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn13" href="#tab3" data-toggle="tab">
                        <img src="{{ asset('images/iconos/Twitter/Carpeta_audiovisual.png') }}"/>
                        <div class="hidden-xs">AUDIOVISUAL</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn13" href="#tab4" data-toggle="tab">
                        <img src="{{ asset('images/iconos/Twitter/Carpeta_herramientas.png') }}"/>
                        <div class="hidden-xs">HERRAMIENTAS</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn13" href="#tab5" data-toggle="tab">
                        <img src="{{ asset('images/iconos/Twitter/Carpeta_compartir.png') }}"/>
                        <div class="hidden-xs">COMPARTIDOS</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn4 btn-menu-last" onclick="window.history.back();" >
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        <div class="hidden-xs">ATRÁS</div>
                    </button>
                </div>
            </div>
            <div class="col-md-12 bordes border-radius" style="margin-top: 1%;">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <div class="row">
                            <div class="col-lg-5">
                                <select class="custom-select" id="selector_tuits">
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <span class="input-group-addon">@</span>
                                    <input type="text" class="form-control" name="TWITEER" placeholder="usuario" aria-describedby="basic-addon1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-menu-last">SEGUIR</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ventana-tweets"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tab2">
                        Tabla 2
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function almacenar(id_tweet, id_tuitero, tipo_tweet, alias_usu_dest, text_tweet) {
            var url = "service/store_tweet/" + id_tweet + "/" + id_tuitero + "/" + tipo_tweet + "/" + alias_usu_dest + "/" + text_tweet + "";
            var texto = [];
            var multimedia = [];
            var recursos = [];
            var compartidos = [];
            $("#mochila_texto").empty();
            $("#mochila_multimedia").empty();
            $("#mochila_recursos").empty();
            $("#mochila_compartidos").empty();
            $.get(url, function (data, status) {
                console.log(data);
                texto = data.datos.texto;
                multimedia = data.datos.multimedia;
                recursos = data.datos.recursos;
                compartidos = data.datos.compartidos;
                actualizar_mochilas(texto, 'mochila_texto');
                actualizar_mochilas(multimedia, 'mochila_multimedia');
                actualizar_mochilas(recursos, 'mochila_recursos');
                actualizar_mochilas(compartidos, 'mochila_compartidos');
            });
        }

        function actualizar_mochilas(mochila, mochila_div) {
            for (var i = 0, l = mochila.length; i < l; i++) {
                $('#' + mochila_div).append('<div class="col-xs-2 slot-mochila" onclick="show_tweet(' + mochila[i] + ')"><center><i class="fa fa-twitter"></i></center></div>');
            }
            if (mochila.length === 0) {
                $('#' + mochila_div + '_super').addClass('oculto');
            } else {
                $('#' + mochila_div + '_super').removeClass('oculto');
            }
        }

        function show_tweet(id_mochila) {
            var url = 'service/show_tweet/' + id_mochila;
            var datos;
            $.get(url, function (data) {
                //console.log(data);
                datos = data;

                // vaciar modal_tweet_tittle
                $("#modal_tweet_tittle").empty();
                // vaciar modal_tweet_body
                $("#modal_tweet_body").empty();
                var body = '<div class="row" style="padding-left: 5%; padding-top: 1%;"><div class="col-xs-3" id="modal_tweet_perfil">';
                //if(datos['retweeted_status'] != 'undefined'){
                //    var imagen_perfil = datos['retweeted_status']['user']['profile_image_url'];
                //    var imagen_perfil = datos['retweeted_status']['user']['profile_image_url'];
                //}
                //else{
                //var imagen_perfil = datos['user']['profile_image_url'];
                var imagen_perfil = datos['user']['profile_image_url'];
                //}
                body += '<img src="' + imagen_perfil + '" alt="profile_twitter" class="img-thumbnail"/>';
                body += '</div><div class="col-xs-9"><div class="row">';
                //if(datos['retweeted_status'] != 'undefined' ){
                //    body += '<p style="font-size: 13px; color: #8899A6;">Tweet de ' +
                //            '<strong>'+datos['retweeted_status']['user']['name']+'</strong> @'+
                //            datos['retweeted_status']['user']['screen_name']+'<br> Retweet por';
                //}
                //else{
                body += '<p id="modal_tweet_descripcion" style="color: #8899A6;">';
                //}
                body += '<strong>' + datos['user']['name'] + '</strong> @' + datos['user']['screen_name'] + '<br>' + datos['created_at'] + '</p></div></div></div>';
                body += '<div class="row"  style="padding-left: 5%;"><div class="col-xs-11 texto-tweet">';
                body += '<p style="font-weight: 400; color:black;">' + datos['text'] + '</p>';
                if (datos['extended_entities'] !== 'undefined') {
                    for (var i = 0, l = datos['extended_entities']['media'].length; i < l; i++) {
                        if (datos['extended_entities']['media'][i]['type'] === 'photo') {
                            body += '<img style="width: 100%;"src="' + datos['extended_entities']['media'][i]['media_url'] + '" alt="media_twitter" class="img-responsive"/>';
                        }
                    }
                    if (datos['extended_entities']['media'][0]['type'] === 'video') {
                        body += '<div align="center" class="embed-responsive embed-responsive-16by9"><video loop class="embed-responsive-item" controls>' +
                                '<source src="' + datos['extended_entities']['media'][0]['video_info']['url'] + '" type="video/mp4"></video></div>';
                    }
                }
                body += '</div></div>';
                header = 'Tweet de ' + datos['alias'];
                $("#modal_tweet_tittle").append(header);
                $("#modal_tweet_body").append(body);
            });
            $('#modal_tweet_button').click();
        }

        function aniadeIdTweet(id_tweet, id_tuitero) {
            //alert(id_tweet);
            //$(this).find(":hidden").filter(':not(input[name=csrfmiddlewaretoken])').remove();
            //$("#formulario_share").find(":hidden").filter(':not(input[name=id_tweet])').remove();
            //$("#formulario_share").append('<input type="hidden" name="id_tweet" value="'+id_tweet+'" />');
            //$("#formulario_share").find(":text").filter(':not(input[name=id_tweet])').remove();
            //$("#formulario_share").append('<input type="text" name="id_tweet" value="'+id_tweet+'" />');
            $('#share_id_tweet').val(id_tweet);
            $('#share_id_tuitero').val(id_tuitero);
            $('#modal_compartir_button').click();
        }
        function descargarSeguidos(){
            var ruta = '/ciudadano/trabajo/jornada_laboral/getSeguidos';
            $.get(ruta, function (datos, status) {
                data = jQuery.parseJSON(datos);
                if (data.estado === 'OK') {
                    contenido  = '';
                    contenido += '<option selected value="0">Seleccione una cuenta de twitter</option>';
                    $.each(data.message, function (k, v) {
                        contenido += '<option value="'+v.ID+'">'+v.ID+'</option>';
                    });
                    $('#selector_tuits').html(contenido);
                }
                else{
                    alert(data.message);
                }
            });
        }
        function descargarTuits(id){
            var ruta = '/ciudadano/trabajo/jornada_laboral/descargarTuits/' + id;
            $.get(ruta, function (datos, status) {
                data = jQuery.parseJSON(datos);
                if (data.estado === 'OK') {
                    contenido  = '';
                    contenido += '<legend>Tweets de @'+data.message.ALIAS+'</legend>';
                    $.each(data.message.TWEETS, function (k, v) {
                        contenido += '<div class="row">';
                        contenido += '  <div id="base_' + v.ID_STR + '">';
                        contenido += '      <div class="row tweet-perfil">';
                        contenido += '          <div style="display: inline-block">';
                        contenido += '              <img src="'+v.IMG_PERFIL+'" alt="profile_twitter" class="img-thumbnail"/>';
                        contenido += '          </div>';
                        if(v.RETWEET){
                            contenido += '      <div style="display: inline-block; margin-left: 2%;">';
                            contenido += '          <p> Tweet de <strong>'+v.NOMBRE_COMP+'</strong> @'+v.ALIAS+'<br> Retweet por @'+data.message.ALIAS+'<br>'+v.FECHA+'</p>';
                            contenido += '      </div>';
                        } else {
                            contenido += '      <div style="display: inline-block; margin-left: 2%;">';
                            contenido += '          <p> Tweet de <strong>'+v.NOMBRE_COMP+'</strong> @'+v.ALIAS+'<br></p>';
                            contenido += '      </div>';
                        }
                        contenido += '      </div>';
                        contenido += '      <div class="row tweet-cuerpo">';
                        contenido += '          <div class="col-xs-11">';
                        contenido += '              <p>'+v.TWEET+'</p>';
                        if(v.FOTO){
                            $.each(v.FOTOS, function (fk, fv) {
                                contenido += '      <div class="col-lg-6 col-lg-offset-3">';
                                contenido += '          <img style="widht: 100%;" src="'+fv+'" alt="media_twitter" />';
                                contenido += '      </div>';
                            });
                        }
                        if(v.VIDEO){
                            $.each(v.VIDEOS, function (vk, vv) {
                                contenido += '      <div class="col-lg-6 col-lg-offset-3">';
                                contenido += '          <div class="embed-responsive embed-responsive-16by9">';
                                contenido += '              <video loop class="embed-responsive-item" controls>';
                                contenido += '                  <source src="'+vv+'" type="video/mp4">';
                                contenido += '              </video>';
                                contenido += '          </div>';
                                contenido += '      </div>';
                            });
                        }
                        contenido += '          </div>';
                        contenido += '      </div>';
                        contenido += '  </div>';
                        contenido += '  <div class="row" id="' + v.ID_STR + '">';
                        contenido += '      <div class="col-lg-12">';
                        contenido += '          <div class="col-lg-9 col-lg-offset-2 col-xs-9 col-xs-offset-2">';
                        contenido += '              <div class="button-tweet-panel" onclick="almacenar('+v.ID_STR+', '+v.ALIAS+', 1, null, "'+v.TWEET.replace('/','')+');">';
                        contenido += '                  <img src="{{ asset('images/iconos/Twitter/Texto.png') }}" />';
                        contenido += '              </div>';
                        contenido += '              <div class="button-tweet-panel" onclick="almacenar('+v.ID_STR+', '+v.ALIAS+', 2, null, "'+v.TWEET.replace('/','')+');">';
                        contenido += '                  <img src="{{ asset('images/iconos/Twitter/Audiovisual.png') }}" />';
                        contenido += '              </div>';
                        contenido += '              <div class="button-tweet-panel" onclick="almacenar('+v.ID_STR+', '+v.ALIAS+', 3, null, "'+v.TWEET.replace('/','')+');">';
                        contenido += '                  <img src="{{ asset('images/iconos/Twitter/Herramientas.png') }}" />';
                        contenido += '              </div>';
                        contenido += '              <div class="button-tweet-panel" onclick="almacenar('+v.ID_STR+', '+v.ALIAS+');">';
                        contenido += '                  <img src="{{ asset('images/iconos/Twitter/Compartir.png') }}" />';
                        contenido += '              </div>';
                        contenido += '          </div>';
                        contenido += '      </div>';
                        contenido += '  </div>';
                        contenido += '</div>';
                    });
                    $('.ventana-tweets').html(contenido);
                }
                else{
                    alert(data.message);
                }
            });
        }
        $(document).ready(function () {
        {% if info.message is defined or info.type is defined %} $('#box_modal_result').click();{% endif %}
            descargarSeguidos();
            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                $(this).removeClass("btn-default").addClass("btn-primary");
            });
            $('#selector_tuits').on('change', function () {
                var seguidor = this.value;
                if( seguidor !== '0'){
                    descargarTuits(seguidor);
                }
            });
            // Cargamos los tweets de la mochila
            //almacenar('null', 'null', 'null', 'null', null);
        });

    </script>
{% endblock %}