{# empty Twig template #}
{# empty Twig template #}
{# empty Twig template #}
{% extends "base.html.twig" %}

{% block header %}
    {% include "ciudadano/header.html.twig" %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 jumbotron">
            <div class="row" style="margin-top:-4%;">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">
                                <i class="fa fa-home"></i>
                                HOME
                            </a>
                            <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="/ciudadano/trabajo">
                                <i class="fa fa-briefcase"></i>
                                TRABAJO
                            </a> 
                            <span class="divider">/</span>
                        </li>
                        <li class="active">
                            <i class="fa fa-search"></i> PAGA EXTRA
                        </li>
                        <li style="float:right;">
                            <a href="/logout">
                                <i class="fa fa-sign-out"></i>
                                SALIR
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" style="margin-bottom: 1%;">
                <div class="col-md-12">
                {% if EJERCICIOS is defined and EJERCICIOS|length > 0 %}
                    {% set contador = 1 %}
                    {% for EJERCICIO in EJERCICIOS %}
                        
                    {%if contador is divisible by(2)%}
                        <div class="row">
                        <div class="col-md-5 tarjeta-ejercicio" 
                             style="margin-top: 1%; {% if EJERCICIO.NOTA %}{% if EJERCICIO.NOTA > 2 %} background-color: rgba(36,231,17,0.4); {% elseif EJERCICIO.NOTA < 3 %} background-color: rgba(204,6,5,0.4); {% endif %}{% endif %}">
                    {%else%}
                        <div class="col-md-5 tarjeta-ejercicio" 
                             style="margin-top: 1%; {% if EJERCICIO.NOTA %}{% if EJERCICIO.NOTA > 2 %} background-color: rgba(36,231,17,0.4); {% elseif EJERCICIO.NOTA < 3 %} background-color: rgba(204,6,5,0.4); {% endif %}{% endif %}">
                    {%endif%}
                            <div class="row">
                            <div class="col-xs-6">
                                {% if EJERCICIO.VISTO %}
                                    <span class="fa fa-eye"></span>
                                {% else %}
                                    <span class="badge" style="font-size: 14px; background-color: #E0B831; padding: 9px 9px;">NUEVO</span>
                                    <!--<span class="fa fa-eye-slash"></span>-->
                                {% endif %}
                            </div>
                            <div class="col-xs-6" style="text-align: right; font-size: 16px;">
                                {% if EJERCICIO.NOTA %}
                                    {{ EJERCICIO.NOTA }}
                                {% else %}
                                    S/N
                                {% endif %}
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 tarjeta-ejercicio-tipo">
                                    <span class="fa fa-check-square"> </span>
                                    {{ EJERCICIO.TIPO }}
                                </div>
                                <div class="col-xs-6 tarjeta-ejercicio-fecha" style="float:right;">
                                    <span class="fa fa-calendar"> </span>
                                    {{ EJERCICIO.FECHA.date }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 tarjeta-ejercicio-enunciado">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <span class="fa fa-graduation-cap"></span>
                                        </div>
                                        <div class="col-xs-9">
                                            {{ EJERCICIO.ENUNCIADO }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 2%;">
                                <div class="col-md-4 col-md-offset-8">
                                    <button class="btn btn-warning btn-block" style="font-weight: 600; font-size: 15px;" onclick="arena_ejercicio({{ EJERCICIO.ID }});">HAZLO!</button>
                                </div>
                            </div>
                        </div>
                        
                    {%if contador is divisible by(2)%}</div>{%endif%}
                    {% set contador = contador + 1 %}
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
        {% if info.message is defined or info.type is defined%}
                $('#box_modal_result').click();
        {% endif %}
            });
            
            function arena_ejercicio(id){
                var ruta = '/arena/'+id;
                window.location.replace(ruta);
            }
    </script>
{% endblock %}