{# empty Twig template #}
{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block header %}
    {% include "guardian/header.html.twig" %}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/alimentacion.css')}}" rel="stylesheet" type="text/css" />
    <style>
        .form-control{
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }
        .alert{
            font-size: 40px;
        }
        #ejercicio-evaluacion,
        #ejercicios{
            font-size: 50px;  
        }
        .caja-opcion{
            border-left: 5px #337ab7 solid;
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 1%;
        }
        .fila-producto{
            height: 20vw;
        }
        .slot{
            padding-top: 5px;
            padding-bottom: 5px;
            margin-left: 0px;
            width:  20vw;
            height: 20vw;
        }
        .slot img{
            height: 12vw;
        }
        @media (max-width: 760px){

        }
        @media (min-width: 760px){
            .slot{
                width:  15vw;
                height: 15vw;
            }
            .slot img{
                height: 10vw;
            }
        }
        @media (min-width: 992px){

        }
        @media (min-width: 1200px){
            .slot{
                width:  6vw;
                height: 6vw;
            }
            .slot img{
                height: 4vw;
            }
            #ejercicio-evaluacion,
            #ejercicios{
                font-size: 20px;  
            }
            .alert{
                font-size: 15px;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="tienda" class="btn btn-primary btn13" href="#tab1" data-toggle="tab">
                        <span class="fa fa-shopping-cart" aria-hidden="true"></span>
                        <div class="hidden-xs">COMIDA</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="proceso" class="btn btn-default btn13" href="#tab2" data-toggle="tab">
                        <span class="fa fa-refresh" aria-hidden="true"></span>
                        <div class="hidden-xs">BEBIDA</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="resultados" class="btn btn-default btn13" href="#tab3" data-toggle="tab" onclick="getEjercicios();">
                        <span class="fa fa-refresh" aria-hidden="true"></span>
                        <div class="hidden-xs">RESULTADOS</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="exit" class="btn btn-default btn4" onclick="window.history.back();" >
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        <div class="hidden-xs">ATRÁS</div>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content">
                    <div id="alerta" style="margin-top: 1%;"></div>
                    <div class="tab-pane fade in active" id="tab1">
                        <div class="row bordes" style="margin-top:1%;">
                            <legend>Proponer una entrega en comida</legend>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="icono_comida">Icono</label>
                                    <select class="custom-select" id="icono_comida">
                                        <option selected value="0">Seleccione un icono identificativo</option>
                                        {% if ICONOS_COMIDA is defined %}
                                            {% for ICONO in ICONOS_COMIDA %}
                                                <option value="{{ ICONO.getIdEjercicioIcono() }}">{{ ICONO.getNombre() }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label for="ejercicio-distrito-comida">Ejercicio de distrito</label>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            ¿Quiere marcar este ejercicio como ejercicio de distrito?
                                            <div class="material-switch pull-right">
                                                <input id="ejercicio-distrito-comida" type="checkbox"/>
                                                <label for="ejercicio-distrito-comida" class="label-primary"></label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <label for="enunciado_comida" style="margin-top:1%;">Enunciado de la entrega</label>
                            <textarea class="form-control" id="enunciado_comida" rows="3"></textarea>
                            <label for="caja_coste" style="margin-top:1%;">Coste</label>
                            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="dias_comida" class="form-control input-number" value="0" min="0" max="100" />
                                            <span class="input-group-addon">d</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="horas_comida" class="form-control input-number" value="0" min="0" max="24" />
                                            <span class="input-group-addon">h</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="minutos_comida" class="form-control input-number" value="0" min="0" max="60" />
                                            <span class="input-group-addon">m</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="segundos_comida" class="form-control input-number" value="0" min="0" max="60" />
                                            <span class="input-group-addon">s</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-block btn-default" style="margin-top:1%;" onclick="publicarComida();">PUBLICAR</button>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tab2">
                        <div class="row bordes" style="margin-top: 1%;">
                            <legend>Proponer una entrega en bebida</legend>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="icono_bebida">Icono</label>
                                    <select class="custom-select" id="icono_bebida">
                                        <option selected value="0">Seleccione un icono identificativo</option>
                                        {% if ICONOS_BEBIDA is defined %}
                                            {% for ICONO in ICONOS_BEBIDA %}
                                                <option value="{{ ICONO.getIdEjercicioIcono() }}">{{ ICONO.getNombre() }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label for="ejercicio-distrito-bebida">Ejercicio de distrito</label>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            ¿Quiere marcar este ejercicio como ejercicio de distrito?
                                            <div class="material-switch pull-right">
                                                <input id="ejercicio-distrito-bebida" type="checkbox"/>
                                                <label for="ejercicio-distrito-bebida" class="label-primary"></label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <label for="enunciado_bebida" style="margin-top: 1%;">Enunciado de la entrega</label>
                            <textarea class="form-control" id="enunciado_bebida" rows="3"></textarea>
                            <label for="caja_coste" style="margin-top: 1%;">Coste</label>
                            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="dias_bebida" class="form-control input-number" value="0" min="0" max="100" />
                                            <span class="input-group-addon">d</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="horas_bebida" class="form-control input-number" value="0" min="0" max="24" />
                                            <span class="input-group-addon">h</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="minutos_bebida" class="form-control input-number" value="0" min="0" max="60" />
                                            <span class="input-group-addon">m</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="segundos_bebida" class="form-control input-number" value="0" min="0" max="60" />
                                            <span class="input-group-addon">s</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-block btn-default" onclick="publicarBebida();" style="margin-top: 1%;">PUBLICAR</button>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tab3">
                        <div class="row" style="margin-top: 1%;">
                            <div id="ejercicios"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tab4">
                        <div class="row" style="margin-top: 1%;">
                            <div id="ejercicio-evaluacion"></div>
                        </div>
                    </div>
                    <div class="row bordes bonificadores" style="margin-top: 1%;">
                        <legend>Bonificación por calificación</legend>
                        {% for c in ULT_CAL_C %}
                            <img src="{{ asset('images/badges/' ~ c.CALIFICACION.getCorrespondenciaIcono())}}" />
                            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="dias{{c.CALIFICACION.getIdCalificaciones()}}" class="form-control input-number" value="{{c.BONIFICACION.dias}}" min="0" max="100" />
                                            <span class="input-group-addon">d</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="horas{{c.CALIFICACION.getIdCalificaciones()}}" class="form-control input-number" value="{{c.BONIFICACION.horas}}" min="0" max="24" />
                                            <span class="input-group-addon">h</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="minutos{{c.CALIFICACION.getIdCalificaciones()}}" class="form-control input-number" value="{{c.BONIFICACION.minutos}}" min="0" max="60" />
                                            <span class="input-group-addon">m</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="segundos{{c.CALIFICACION.getIdCalificaciones()}}" class="form-control input-number" value="{{c.BONIFICACION.segundos}}" min="0" max="60" />
                                            <span class="input-group-addon">s</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        function setSuccess(message) {
            contenido = '<div class="alert alert-success alert-dismissable">';
            contenido += '   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>';
            contenido += '   ' + message;
            contenido += '</div>';
            return contenido;
        }
        function setAlert(message) {
            contenido = '<div class="alert alert-danger alert-dismissable">';
            contenido += '   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>';
            contenido += '   ' + message;
            contenido += '</div>';
            return contenido;
        }
        function getEjercicios() {
            ruta = '/guardian/alimentacion/getEjerciciosAlimentacion';
            $.get(ruta, function (datos, status) {
                data = jQuery.parseJSON(datos);
                if (data.estado === 'OK') {
                    mostrarEjercicios(data.message);
                } else {
                    $('#alerta').html(setAlert(data.message));
                }
            });
        }
        function mostrarEjercicios(ejercicios) {
            $('#ejercicios').html('');
            $.each(ejercicios, function (k, v) {
                contenido = '<div class="col-lg-6" style="margin-bottom: 1%;">';
                contenido += '  <div class="row bordes border-radius" style="margin: 1%;">';
                if (v.DISTRITO) {
                    contenido += '   <div class="col-lg-12">';
                    contenido += '      <center><h1>EJERCICIO DE DISTRITO</h1></center>';
                    contenido += '  </div>';
                }
                contenido += '   <div class="col-lg-12">';
                contenido += '      ' + v.ENUNCIADO;
                contenido += '  </div>';
                contenido += '  <div class="col-md-12">';
                contenido += '      <span class="fa fa-money"> </span>&nbsp;';
                if (v.COSTE.dias !== 0) {
                    contenido += '<span style="color:red;">' + v.COSTE.dias + '</span>d&nbsp;';
                }
                if (v.COSTE.horas !== 0) {
                    contenido += '<span style="color:red;">' + v.COSTE.horas + '</span>h&nbsp;';
                }
                if (v.COSTE.minutos !== 0) {
                    contenido += '<span style="color:red;">' + v.COSTE.minutos + '</span>m&nbsp;';
                }
                if (v.COSTE.segundos !== 0) {
                    contenido += '<span style="color:red;">' + v.COSTE.segundos + '</span>s&nbsp;';
                }
                if (!v.COSTE.segundos &&
                        !v.COSTE.minutos &&
                        !v.COSTE.horas &&
                        !v.COSTE.dias) {
                    contenido += '<span style="color:green;">gratis</span>&nbsp;';
                }
                contenido += '  </div>';
                if (v.ENTREGAS_PENDIENTES) {
                    contenido += '  <div class="col-lg-12">';
                    contenido += '      <button class="btn btn-block btn-primary" href="#tab4" data-toggle="tab" onclick="getEntregas(' + v.ID + ');">';
                    contenido += '          Corregir ' + v.ENTREGAS_PENDIENTES + ' entregas pendientes';
                    contenido += '      </button>';
                    contenido += '  </div>';
                } else {
                    contenido += '  <div class="col-lg-12">';
                    contenido += '      <button class="btn btn-block btn-primary" href="#tab4" data-toggle="tab" onclick="getEntregas(' + v.ID + ');">';
                    contenido += '          Ver evaluaciones';
                    contenido += '      </button>';
                    contenido += '  </div>';
                }
                contenido += '  </div>';
                contenido += '</div>';
                $('#ejercicios').append(contenido);
            });
        }
        function getEntregas(id) {
            $('#ejercicio-evaluacion').html('');
            ruta = '/guardian/alimentacion/getEntregasAlimentacion/' + id;
            $.get(ruta, function (datos, status) {
                data = jQuery.parseJSON(datos);
                if (data.estado === 'OK') {
                    console.log(data.message);
                    mostrarEntregas(data.message);
                } else {
                    $('#alerta').html(setAlert(data.message));
                }
            });
        }
        function mostrarEntregas(entregas) {
            $.each(entregas.CALIFICACIONES, function (k, v) {
                contenido = '<div class="col-lg-12 bordes border-radius" style="margin-bottom: 1%;">';
                if (!entregas.DISTRITO) {
                    contenido += '   <div class="col-lg-12">';
                    contenido += '      <legend>Datos del ciudadano</legend>';
                    contenido += '      <a href="/guardian/directorio/getDirectorio/'+v.CIUDADANO.DNI+'">' + v.CIUDADANO.NOMBRE + ' ' + v.CIUDADANO.APELLIDOS + ' @' + v.CIUDADANO.ALIAS + ' DNI' + v.CIUDADANO.DNI + '</a>';
                    contenido += '  </div>';
                } else {
                    contenido += '   <div class="col-lg-12">';
                    contenido += '      <legend>Datos del distrito</legend>';
                    contenido += '      DISTRITO: ' + v.DISTRITO;
                    contenido += '  </div>';
                }
                if (v.CALIFICACION.ESTADO !== 'solicitado') {
                    contenido += '   <div class="col-lg-12">';
                    contenido += '      <div class="row">';
                    contenido += '          <legend>Datos de la entrega</legend>';
                    contenido += '          <div class="col-xs-6">';
                    contenido += '              Fecha de entrega: ' + v.ENTREGA.FECHA.date;
                    contenido += '          </div>';
                    contenido += '          <div class="col-xs-6">';
                    contenido += '              Entrega: <a href="{{ asset('USUARIOS/') }}' + v.CIUDADANO.DNI + '/' + v.SECCION + '/' + v.ENTREGA.ID + '/' + v.ENTREGA.NOMBRE + '">' + v.ENTREGA.NOMBRE + '</a>';
                    contenido += '          </div>';
                    contenido += '      </div>';
                    contenido += '  </div>';
                }
                contenido += '  <div class="row">';
                contenido += '  <div class="col-lg-12" style="margin-top: 1%;">';
                contenido += '      <legend>Evaluación</legend>';
                if (v.CALIFICACION.ESTADO === 'entregado') {
                    contenido += '      <div class="slot fila btn-menu-first">';
                    contenido += '          <span class="btn-tienda" id="image-tienda-' + v.ENTREGA.ID + '' + entregas.NOTAS[0].ID + '" onclick="setNota(' + v.ENTREGA.ID + ',' + entregas.NOTAS[0].ID + ');">';
                    contenido += '              <center><img src="{{ asset('images/badges/') }}' + entregas.NOTAS[0].ICONO + '" /></center>';
                    contenido += '          </span>';
                    contenido += '      </div>';
                    contenido += '      <div class="slot fila">';
                    contenido += '          <span class="btn-tienda" id="image-tienda-' + v.ENTREGA.ID + '' + entregas.NOTAS[1].ID + '" onclick="setNota(' + v.ENTREGA.ID + ',' + entregas.NOTAS[1].ID + ');">';
                    contenido += '              <center><img src="{{ asset('images/badges/') }}' + entregas.NOTAS[1].ICONO + '" /></center>';
                    contenido += '          </span>';
                    contenido += '      </div>';
                    contenido += '      <div class="slot fila">';
                    contenido += '          <span class="btn-tienda" id="image-tienda-' + v.ENTREGA.ID + '' + entregas.NOTAS[2].ID + '" onclick="setNota(' + v.ENTREGA.ID + ',' + entregas.NOTAS[2].ID + ');">';
                    contenido += '              <center><img src="{{ asset('images/badges/') }}' + entregas.NOTAS[2].ICONO + '" /></center>';
                    contenido += '          </span>';
                    contenido += '      </div>';
                    contenido += '      <div class="slot fila">';
                    contenido += '          <span class="btn-tienda" id="image-tienda-' + v.ENTREGA.ID + '' + entregas.NOTAS[3].ID + '" onclick="setNota(' + v.ENTREGA.ID + ',' + entregas.NOTAS[3].ID + ');">';
                    contenido += '              <center><img src="{{ asset('images/badges/') }}' + entregas.NOTAS[3].ICONO + '" /></center>';
                    contenido += '          </span>';
                    contenido += '      </div>';
                    contenido += '      <div class="slot fila">';
                    contenido += '          <span class="btn-tienda" id="image-tienda-' + v.ENTREGA.ID + '' + entregas.NOTAS[4].ID + '" onclick="setNota(' + v.ENTREGA.ID + ',' + entregas.NOTAS[4].ID + ');">';
                    contenido += '              <center><img src="{{ asset('images/badges/') }}' + entregas.NOTAS[4].ICONO + '" /></center>';
                    contenido += '          </span>';
                    contenido += '      </div>';
                    contenido += '      <div class="slot fila btn-menu-last">';
                    contenido += '          <span class="btn-tienda" id="image-tienda-' + v.ENTREGA.ID + '' + entregas.NOTAS[5].ID + '" onclick="setNota(' + v.ENTREGA.ID + ',' + entregas.NOTAS[5].ID + ');">';
                    contenido += '              <center><img src="{{ asset('images/badges/') }}' + entregas.NOTAS[5].ICONO + '" /></center>';
                    contenido += '          </span>';
                    contenido += '      </div>';
                }
                if (v.CALIFICACION.ESTADO === 'evaluado') {
                    contenido += '  <p>Entrega ya evaluada</p>';
                    contenido += '  <div class="slot border-radius">';
                    contenido += '      <span class="btn-tienda">';
                    contenido += '          <center><img src="{{ asset('images/badges/') }}' + v.CALIFICACION.ICONO + '" /></center>';
                    contenido += '      </span>';
                    contenido += '  </div>';
                }
                if (v.CALIFICACION.ESTADO === 'solicitado') {
                    contenido += '  <p>Este ciudadano ha solicitado el ejercicio</p>';
                }
                contenido += '  </div>';
                contenido += '  </div>';
                contenido += '<div id="aviso-entrega-' + v.ENTREGA.ID + '"></div>';
                contenido += '</div>';
                $('#ejercicio-evaluacion').append(contenido);
            });
        }
        function setNota(idCalificacion, idNota) {
            var idCajas = $.trim(idCalificacion + '' + idNota);
            var idAviso = $.trim(idCalificacion);
            $(".btn-tienda").addClass("opacidad");
            $("#tab3 .slot").css('background-color', 'gray');
            $("#image-tienda-" + idCajas).removeClass("opacidad");
            $("#image-tienda-" + idCajas).parent().css('background-color', 'white');
            ruta = '/guardian/setCalificacion';
            datos = {
                'idCalificacion': idCalificacion,
                'idNota': idNota
            };
            $.post(ruta, datos, function (datos, status) {
                data = jQuery.parseJSON(datos);
                //console.log(data.message);
                if (data.estado === 'OK') {
                    $('#aviso-entrega-' + idAviso).html(setSuccess(data.message));
                } else {
                    $('#aviso-entrega-' + idAviso).html(setAlert(data.message));
                }
            });
        }
        function publicarComida() {
            var enunciado = $("#enunciado_comida").val();
            var icono = $("#icono_comida").val();
            var dias = parseInt($("#dias_comida").val());
            var horas = parseInt($("#horas_comida").val());
            var minutos = parseInt($("#minutos_comida").val());
            var segundos = parseInt($("#segundos_comida").val());
            var bonificadores = obtenerBonificadores();
            var distrito = $("#ejercicio-distrito-comida:checked").length;
            tiempo = (((((dias * 24) + horas) * 60) + minutos) * 60 + segundos);
            if (icono === '0') {
                alert('Debe seleccionar un icono');
            } else if ($.trim(enunciado) === '') {
                alert('Debe insertar un enunciado');
            } else if (tiempo < 0) {
                alert('Debes insertar un coste válido');
            } else {
                ruta = '/guardian/ejercicios/alimentacion/publicar';
                tiempo = (((((dias * 24) + horas) * 60) + minutos) * 60 + segundos);
                datos = {
                    'SECCION': 'comida',
                    'ENUNCIADO': enunciado,
                    'ICONO': icono,
                    'COSTE': tiempo,
                    'DISTRITO': distrito
                };
                $.each(bonificadores, function (k, v) {
                    $.each(v, function (kk, vv) {
                        datos[kk] = vv;
                    });
                });
                $.post(ruta, datos, function (data, status) {
                    alert(data.message);
                    location.reload();
                });
            }
        }
        function publicarBebida() {
            var enunciado = $("#enunciado_bebida").val();
            var icono = $("#icono_bebida").val();
            var dias = parseInt($("#dias_bebida").val());
            var horas = parseInt($("#horas_bebida").val());
            var minutos = parseInt($("#minutos_bebida").val());
            var segundos = parseInt($("#segundos_bebida").val());
            var bonificadores = obtenerBonificadores();
            var distrito = $("#ejercicio-distrito-bebida:checked").length;
            tiempo = ((((dias * 24) + horas) * 60) + minutos) * 60 + segundos;
            if (icono === '0') {
                alert('Debe seleccionar un icono');
            } else if ($.trim(enunciado) === '') {
                alert('Debe insertar un enunciado');
            } else if (tiempo < 0) {
                alert('Debes insertar un coste válido');
            } else {
                ruta = '/guardian/ejercicios/alimentacion/publicar';
                datos = {
                    'SECCION': 'bebida',
                    'ENUNCIADO': enunciado,
                    'ICONO': icono,
                    'COSTE': tiempo,
                    'DISTRITO': distrito
                };
                $.each(bonificadores, function (k, v) {
                    $.each(v, function (kk, vv) {
                        datos[kk] = vv;
                    });
                });
                $.post(ruta, datos, function (data, status) {
                    alert(data.message);
                    location.reload();
                });
            }
        }
        $(document).ready(function () {
            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                $(this).removeClass("btn-default").addClass("btn-primary");
            });
        {% if info.message is defined or info.type is defined%} $('#box_modal_result').click();{% endif %}
        });
        function obtenerBonificadores() {
            var respuesta = [];
        {% for c in ULT_CAL_C %}
            {% set id = c.CALIFICACION.getIdCalificaciones() %}
                    var dias = parseInt($("#dias{{ id }}").val());
                    var horas = parseInt($("#horas{{ id }}").val());
                    var minutos = parseInt($("#minutos{{ id }}").val());
                    var segundos = parseInt($("#segundos{{ id }}").val());
                    var tiempo = (((((dias * 24) + horas) * 60) + minutos) * 60 + segundos);
                    var aux = {'BONIFICACION_{{ id }}': tiempo};
                    respuesta.push(aux);
        {% endfor %}
                return respuesta;
            }
    </script>
{% endblock %}
