{# empty Twig template #}
{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block header %}
    {% include "guardian/header.html.twig" %}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/alimentacion.css')}}" rel="stylesheet" type="text/css" />
    <style>
        .form-control{
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="tienda" class="btn btn-primary btn13" href="#tab1" data-toggle="tab">
                        <span class="fa fa-shopping-cart" aria-hidden="true"></span>
                        <div class="hidden-xs">COMIDA</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="proceso" class="btn btn-default btn13" href="#tab2" data-toggle="tab">
                        <span class="fa fa-refresh" aria-hidden="true"></span>
                        <div class="hidden-xs">BEBIDA</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="exit" class="btn btn-default btn4" onclick="window.history.back();" >
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        <div class="hidden-xs">ATRÁS</div>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <div class="row bordes" style="margin-top:1%;">
                            <legend>Proponer una entrega en comida</legend>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="icono_comida">Icono</label>
                                    <select class="custom-select" id="icono_comida">
                                        <option selected value="0">Seleccione un icono identificativo</option>
                                        {% if ICONOS_COMIDA is defined %}
                                            {% for ICONO in ICONOS_COMIDA %}
                                                <option value="{{ ICONO.getIdEjercicioIcono() }}">{{ ICONO.getNombre() }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label for="ejercicio-distrito-comida">Ejercicio de distrito</label>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            ¿Quiere marcar este ejercicio como ejercicio de distrito?
                                            <div class="material-switch pull-right">
                                                <input id="ejercicio-distrito-comida" type="checkbox"/>
                                                <label for="ejercicio-distrito-comida" class="label-primary"></label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <label for="enunciado_comida" style="margin-top:1%;">Enunciado de la entrega</label>
                            <textarea class="form-control" id="enunciado_comida" rows="3"></textarea>
                            <label for="caja_coste" style="margin-top:1%;">Coste</label>
                            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="dias_comida" class="form-control input-number" value="0" min="0" max="100" />
                                            <span class="input-group-addon">d</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="horas_comida" class="form-control input-number" value="0" min="0" max="24" />
                                            <span class="input-group-addon">h</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="minutos_comida" class="form-control input-number" value="0" min="0" max="60" />
                                            <span class="input-group-addon">m</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="segundos_comida" class="form-control input-number" value="0" min="0" max="60" />
                                            <span class="input-group-addon">s</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-block btn-default" style="margin-top:1%;" onclick="publicarComida();">PUBLICAR</button>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tab2">
                        <div class="row bordes" style="margin-top: 1%;">
                            <legend>Proponer una entrega en bebida</legend>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="icono_bebida">Icono</label>
                                    <select class="custom-select" id="icono_bebida">
                                        <option selected value="0">Seleccione un icono identificativo</option>
                                        {% if ICONOS_BEBIDA is defined %}
                                            {% for ICONO in ICONOS_BEBIDA %}
                                                <option value="{{ ICONO.getIdEjercicioIcono() }}">{{ ICONO.getNombre() }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label for="ejercicio-distrito-bebida">Ejercicio de distrito</label>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            ¿Quiere marcar este ejercicio como ejercicio de distrito?
                                            <div class="material-switch pull-right">
                                                <input id="ejercicio-distrito-bebida" type="checkbox"/>
                                                <label for="ejercicio-distrito-bebida" class="label-primary"></label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <label for="enunciado_bebida" style="margin-top: 1%;">Enunciado de la entrega</label>
                            <textarea class="form-control" id="enunciado_bebida" rows="3"></textarea>
                            <label for="caja_coste" style="margin-top: 1%;">Coste</label>
                            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="dias_bebida" class="form-control input-number" value="0" min="0" max="100" />
                                            <span class="input-group-addon">d</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="horas_bebida" class="form-control input-number" value="0" min="0" max="24" />
                                            <span class="input-group-addon">h</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="minutos_bebida" class="form-control input-number" value="0" min="0" max="60" />
                                            <span class="input-group-addon">m</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="segundos_bebida" class="form-control input-number" value="0" min="0" max="60" />
                                            <span class="input-group-addon">s</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-block btn-default" onclick="publicarBebida();" style="margin-top: 1%;">PUBLICAR</button>
                        </div>
                    </div>
                    <div class="row bordes bonificadores" style="margin-top: 1%;">
                        <legend>Bonificación por calificación</legend>
                        {% for c in ULT_CAL_C %}
                            <img src="{{ asset('images/badges/' ~ c.CALIFICACION.getCorrespondenciaIcono())}}" />
                            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="dias{{c.CALIFICACION.getIdCalificaciones()}}" class="form-control input-number" value="{{c.BONIFICACION.dias}}" min="0" max="100" />
                                            <span class="input-group-addon">d</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="horas{{c.CALIFICACION.getIdCalificaciones()}}" class="form-control input-number" value="{{c.BONIFICACION.horas}}" min="0" max="24" />
                                            <span class="input-group-addon">h</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="minutos{{c.CALIFICACION.getIdCalificaciones()}}" class="form-control input-number" value="{{c.BONIFICACION.minutos}}" min="0" max="60" />
                                            <span class="input-group-addon">m</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="segundos{{c.CALIFICACION.getIdCalificaciones()}}" class="form-control input-number" value="{{c.BONIFICACION.segundos}}" min="0" max="60" />
                                            <span class="input-group-addon">s</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        function publicarComida() {
            var enunciado = $("#enunciado_comida").val();
            var icono = $("#icono_comida").val();
            var dias = parseInt($("#dias_comida").val());
            var horas = parseInt($("#horas_comida").val());
            var minutos = parseInt($("#minutos_comida").val());
            var segundos = parseInt($("#segundos_comida").val());
            var bonificadores = obtenerBonificadores();
            var distrito = $("#ejercicio-distrito-comida:checked").length;
            tiempo = (((((dias * 24) + horas) * 60) + minutos) * 60 + segundos);
            if (icono === '0') {
                alert('Debe seleccionar un icono');
            } else if ($.trim(enunciado) === '') {
                alert('Debe insertar un enunciado');
            } else if (tiempo < 0) {
                alert('Debes insertar un coste válido');
            } else {
                ruta = '/guardian/ejercicios/alimentacion/publicar';
                tiempo = (((((dias * 24) + horas) * 60) + minutos) * 60 + segundos);
                datos = {
                    'SECCION': 'comida',
                    'ENUNCIADO': enunciado,
                    'ICONO': icono,
                    'COSTE': tiempo,
                    'DISTRITO': distrito
                };
                $.each(bonificadores, function (k, v) {
                    $.each(v, function (kk, vv) {
                        datos[kk] = vv;
                    });
                });
                console.log(datos);
                $.post(ruta, datos, function (data, status) {
                    alert(data.message);
                    location.reload();
                });
            }
        }
        function publicarBebida() {
            var enunciado = $("#enunciado_bebida").val();
            var icono = $("#icono_bebida").val();
            var dias = parseInt($("#dias_bebida").val());
            var horas = parseInt($("#horas_bebida").val());
            var minutos = parseInt($("#minutos_bebida").val());
            var segundos = parseInt($("#segundos_bebida").val());
            var bonificadores = obtenerBonificadores();
            var distrito = $("#ejercicio-distrito-bebida:checked").length;
            tiempo = ((((dias * 24) + horas) * 60) + minutos) * 60 + segundos;
            if (icono === '0') {
                alert('Debe seleccionar un icono');
            } else if ($.trim(enunciado) === '') {
                alert('Debe insertar un enunciado');
            } else if (tiempo < 0) {
                alert('Debes insertar un coste válido');
            } else {
                ruta = '/guardian/ejercicios/alimentacion/publicar';
                datos = {
                    'SECCION': 'bebida',
                    'ENUNCIADO': enunciado,
                    'ICONO': icono,
                    'COSTE': tiempo,
                    'DISTRITO': distrito
                };
                $.each(bonificadores, function (k, v) {
                    $.each(v, function (kk, vv) {
                        datos[kk] = vv;
                    });
                });
                $.post(ruta, datos, function (data, status) {
                    alert(data.message);
                    location.reload();
                });
            }
        }
        $(document).ready(function () {
            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                $(this).removeClass("btn-default").addClass("btn-primary");
            });
        {% if info.message is defined or info.type is defined%}
                $('#box_modal_result').click();
        {% endif %}
            });
            function obtenerBonificadores() {
                var respuesta = [];
        {% for c in ULT_CAL_C %}
            {% set id = c.CALIFICACION.getIdCalificaciones() %}
                    var dias = parseInt($("#dias{{ id }}").val());
                    var horas = parseInt($("#horas{{ id }}").val());
                    var minutos = parseInt($("#minutos{{ id }}").val());
                    var segundos = parseInt($("#segundos{{ id }}").val());
                    var tiempo = (((((dias * 24) + horas) * 60) + minutos) * 60 + segundos);
                    var aux = {'BONIFICACION_{{ id }}': tiempo};
                    respuesta.push(aux);
        {% endfor %}
                return respuesta;
            }
    </script>
{% endblock %}
