{% extends "base.html.twig" %}

{% block header %}
    {% include "ciudadano/header.html.twig" %}
{% endblock %}

{% block stylesheets %}
    <style>
        .texto-personaje-cita{
            font-size: 50px;
            text-align: center;
        }
        .texto-personaje-autor{
            font-size: 30px;
            text-align: right;
        }
        .red-border{
            border-color: red;
        }
        .green-border{
            border-color: green;
        }
        .metronomista img{
            width: auto;
            height: 200px;
        }
        .prestamo{
            font-size: 41px;
        }
        legend{
            font-size: 35px;
        }
        .btn13,
        .btn4{
            border-style: solid;
            border-color: #000000;
        }
        .btn13{
            border-right: 6px;
        }
        
        .red-border,
        .green-border,
        .btn13,
        .btn4,
        .bordes{
            border-width: 2px;
        }
        .btn-block{
            font-size: 45px;
        }
        .bordes{
            border-radius: 15px;
        }
        @media (min-width: 1200px){
            .texto-personaje-cita{
                font-size: 25px;
            }
            .texto-personaje-autor{
                font-size: 20px;
            }
            .prestamo,
            legend{
                font-size: 14px;
            }
            .btn13{
                border-right: 2px;
            }
            .btn-block{
                font-size: 20px;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" style="margin-bottom: 1%;" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary btn-menu-first" href="#tab1" data-toggle="tab">
                        <span class="fa fa-clock-o" aria-hidden="true"></span>
                        <div class="hidden-xs">IMPORTE</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn-menu" href="#tab2" data-toggle="tab">
                        <span class="fa fa-refresh" aria-hidden="true"></span>
                        <div class="hidden-xs">EN CURSO</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn-menu-last" onclick="window.history.back();" >
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        <div class="hidden-xs">ATRÁS</div>
                    </button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="tab-content">
                        <div class="tab-pane fade in active bordes" id="tab1">
                            <legend>Solicitar un préstamo</legend>
                            <p class="texto-personaje-cita">
                                Tipo de interés aplicable: {{ INTERES }}
                            </p>
                            <div class="row" style="margin-left: 0px; margin-right: 0px; margin-top: 1%;">
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="dias" class="form-control input-number" value="0" min="0" max="100" />
                                            <span class="input-group-addon">d</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="horas" class="form-control input-number" value="0" min="0" max="24" />
                                            <span class="input-group-addon">h</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="minutos" class="form-control input-number" value="0" min="0" max="60" />
                                            <span class="input-group-addon">m</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="row">
                                        <div class="input-group">
                                            <input type="number" id="segundos" class="form-control input-number" value="0" min="0" max="60" />
                                            <span class="input-group-addon">s</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-4">
                                    <button class="btn btn-block btn-primary" style="margin-top: 2%" onclick="solicitarPrestamo();">SOLICITAR</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="tab2">
                            {% if DEUDAS is defined %}
                                {% for DEUDA in DEUDAS %}
                                    <div class="col-lg-12 bordes {% if DEUDA.ESTADO %} red-border {% else %} green-border {% endif %} prestamo" style="margin-bottom: 1%;">
                                        <legend class="prestamo-detalle">ID #{{ DEUDA.ID }} <i style="float: right;"> {{ DEUDA.FECHA.date }}</i></legend>
                                        <div class="col-lg-6">
                                            <p>Importe solicitado: {{ DEUDA.CANTIDAD.dias }}d {{ DEUDA.CANTIDAD.horas }}h {{ DEUDA.CANTIDAD.minutos }}m {{ DEUDA.CANTIDAD.segundos }}s</p>
                                            <p><small>Interés aplicado: {{ DEUDA.INTERES }}</small></p>
                                            <p>Pendiente de pago: {{ DEUDA.RESTANTE.dias }}d {{ DEUDA.RESTANTE.horas }}h {{ DEUDA.RESTANTE.minutos }}m {{ DEUDA.RESTANTE.segundos }}s</p>
                                        </div>
                                        {% if DEUDA.ESTADO %}
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-xs-6 col-xs-offset-3">
                                                        <button class="btn btn-block btn-primary" onclick="liquidarPrestamo({{ DEUDA.ID }});">
                                                            LIQUIDAR AHORA
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function solicitarPrestamo() {
            var dias = parseInt($("#dias").val());
            var horas = parseInt($("#horas").val());
            var minutos = parseInt($("#minutos").val());
            var segundos = parseInt($("#segundos").val());
            tiempo = (((((dias * 24) + horas) * 60) + minutos) * 60 + segundos);
            if (tiempo <= 0) {
                mensaje = '<div class="metronomista col-lg-4">';
                mensaje += '  <center><img src="{{ asset('images/generic/personajes/Metronomista.png') }}"></center>';
                mensaje += '</div>';
                mensaje += '<div class="col-lg-8">';
                mensaje += '  <p class="texto-personaje-cita">No tengo tiempo que perder, solicita una cantidad y veremos qué podemos hacer</p>';
                mensaje += '  <p class="texto-personaje-autor">El metronomista</p>';
                mensaje += '</div>';
                mensaje += '  <div class="row">';
                mensaje += '    <div class="col-xs-4 col-xs-offset-4">';
                mensaje += '      <button class="btn btn-block btn-primary" onclick="location.reload();"> ACEPTAR </button>';
                mensaje += '    </div>';
                mensaje += '  </div>';
                $('#mensaje-texto').html(mensaje);
                $('#modal-avisos2').click();
            } else if (tiempo > {{ TIEMPO_MAX_PRESTADO }}) {
                mensaje = '<div class="metronomista col-lg-4">';
                mensaje += '  <center><img src="{{ asset('images/generic/personajes/Metronomista.png') }}"></center>';
                mensaje += '</div>';
                mensaje += '<div class="col-lg-8">';
                mensaje += '  <p class="texto-personaje-cita">No puedo ofrecerte más de {{ TIEMPO_MAX_PRESTADO_FORMATO.dias }}d {{ TIEMPO_MAX_PRESTADO_FORMATO.horas }}h {{ TIEMPO_MAX_PRESTADO_FORMATO.minutos }}m {{ TIEMPO_MAX_PRESTADO_FORMATO.segundos }}s</p>';
                mensaje += '  <p class="texto-personaje-autor">El metronomista</p>';
                mensaje += '</div>';
                mensaje += '  <div class="row">';
                mensaje += '    <div class="col-xs-4 col-xs-offset-4">';
                mensaje += '      <button class="btn btn-block btn-primary" onclick="location.reload();"> ACEPTAR </button>';
                mensaje += '    </div>';
                mensaje += '  </div>';
                $('#mensaje-texto').html(mensaje);
                $('#modal-avisos2').click();
            } else {
                var ruta = '/ciudadano/prestamos/solicitarPrestamo';
                var datos = {
                    'tiempo': tiempo
                };
                $.post(ruta, datos, function (data, status) {
                    mensaje = '<div class="metronomista col-lg-4">';
                    mensaje += '  <center><img src="{{ asset('images/generic/personajes/Metronomista.png') }}"></center>';
                    mensaje += '</div>';
                    mensaje += '<div class="col-lg-8">';
                    mensaje += '  <p class="texto-personaje-cita">' + data.message + '</p>';
                    mensaje += '  <p class="texto-personaje-autor">El metronomista</p>';
                    mensaje += '</div>';
                    mensaje += '  <div class="row">';
                    mensaje += '    <div class="col-xs-4 col-xs-offset-4">';
                    mensaje += '      <button class="btn btn-block btn-primary" onclick="location.reload();"> ACEPTAR </button>';
                    mensaje += '    </div>';
                    mensaje += '  </div>';
                    $('#mensaje-texto').html(mensaje);
                    $('#modal-avisos2').click();
                });
            }
        }
        function liquidarPrestamo(ID) {
            var ruta = '/ciudadano/prestamos/liquidarPrestamo';
            var datos = {
                'id': ID
            };
            $.post(ruta, datos, function (data, status) {
                mensaje = '<div class="metronomista col-lg-4">';
                mensaje += '  <center><img src="{{ asset('images/generic/personajes/Metronomista.png') }}"></center>';
                mensaje += '</div>';
                mensaje += '<div class="col-lg-8">';
                mensaje += '  <p class="texto-personaje-cita">' + data.message + '</p>';
                mensaje += '  <p class="texto-personaje-autor">El metronomista</p>';
                mensaje += '</div>';
                mensaje += '  <div class="row">';
                mensaje += '    <div class="col-xs-4 col-xs-offset-4">';
                mensaje += '      <button class="btn btn-block btn-primary" onclick="location.reload();"> ACEPTAR </button>';
                mensaje += '    </div>';
                mensaje += '  </div>';
                $('#mensaje-texto').html(mensaje);
                $('#modal-avisos2').click();
            });
        }

        $(document).ready(function () {
            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                $(this).removeClass("btn-default").addClass("btn-primary");
            });
        {% if info.message is defined or info.type is defined%}
                $('#box_modal_result').click();
        {% endif %}

            });
    </script>
{% endblock %}