{% extends "base.html.twig" %}

{% block header %}
    {% include "ciudadano/header.html.twig" %}
{% endblock %}

{% block stylesheets %}
    <style>
        @font-face {
            font-family: "Kimberley";
            src: url("{{ asset('font/digital-7.ttf') }}");
        }
        .detalle-fecha,
        .detalle-enunciado,
        .detalle-coste,
        .btn-pref .hidden-xs,
        .descripcion,
        .tablon-progreso,
        .detalle-boton{
            font-family: 'Kimberley';
        }

        .tarjeta-ejercicio .tarjeta-ejercicio-fecha,
        .tarjeta-ejercicio .tarjeta-ejercicio-enunciado,
        .tarjeta-ejercicio .tarjeta-ejercicio-tipo,
        .ejercicio-seccion,
        #ejercicio-calificacion,
        #texto-badge{
            font-size: 14px;
        }
        .ejercicio-seccion button{
            font-weight: 600;
        }
        #ejercicio-calificacion{
            text-align: right;
        }
        #ejercicio-calificacion img{
            width: 20px;
        }
        #texto-badge{
            background-color: #E0B831; 
            padding: 9px 9px;
        }
        .progress{
            background-color: #E1E1E1;
            margin-bottom: 0px;
            height: 40px;
        }
        .progress-bar{
            font-size: 24px;
            line-height: 35px;
        }
        .slot{
            border-style: solid;
            border-color: #000000;
            border-width: 2px;
            height: 80px;
            padding:10px;
        }
        .slot img{
            height: 60px;
            cursor: pointer;
        }
        .fila{
            border-right: 0px;
        }
        .fila-abajo{
            border-top: 0px;
        }
        .btn-pref .btn {
            -webkit-border-radius:0 !important;
        }
        .btn13{
            border-style: solid;
            border-color: #000000;
            border-width: 2px;
            border-right: 2px;
        }
        .btn4{
            border-style: solid;
            border-color: #000000;
            border-width: 2px;
        }
        .btn-pref span {
            font-size: 25px;
        }
        .descripcion{
            font-size: 25px;
        }
        .borde {
            border-radius: 50%;
            border-width: .15em;
            border-style: dashed;
            display:inline-block;
        }
        .tablon-progreso,
        .tablon-contenido{
            background-color: #FFFFFF;
            padding: 20px;
            border-style: solid;
            border-color: #000000;
        }
        .tablon-progreso{
            border-top: 2px;
        }
        .tablon-progreso h5{
            margin-top: 0px;
            text-align: center;
        }
        .btn-pref .hidden-xs,
        .tablon-progreso h5{
            font-size: 25px;
        }
        .tablon-contenido{
            border-top: 2px;
        }
        #detalle-terminado,
        #detalle-proceso,
        #detalle-tienda{
            color: black;
            border: 2px solid #000000;
            min-height: 250px;
        }
        .detalle-fecha,
        .detalle-enunciado,
        .detalle-coste{
            font-size: 25px;
        }
        .detalle-enunciado{
            min-height: 150px;
            margin: 1%;
        }
        .detalle-coste{
            text-align: right;
            margin-right: 3%;
            margin-bottom: 1%;
        }
        .detalle-boton{
            width: 98%;
            font-size: 20px;
            border: 2px solid #000000;
            margin: 1%;
        }
        .detalle-boton:hover,
        .detalle-boton:focus{
            color: #FFFFFF;
            background-color:#000000;
        }
        .opacidad img{
            opacity: 0.2;
        }
        @media only screen and (max-width: 1068px){
            .progress-bar,
            .tarjeta-ejercicio .tarjeta-ejercicio-fecha,
            .tarjeta-ejercicio .tarjeta-ejercicio-enunciado,
            .tarjeta-ejercicio .tarjeta-ejercicio-tipo,
            .ejercicio-seccion
            #ejercicio-calificacion,
            #texto-badge,
            .post-it{
                font-size: 35px;
            }
            .progress-bar{
                line-height: 45px;                
                font-weight: 600;
            }
            .progress{
                height: 50px;
            }
            .post-it{
                margin: 0 20px;
                margin-bottom: 2%;
            }
            #ejercicio-calificacion img{
                width: 100px;
            }
            .progress{
                height: 100px;
            }
            .progress-bar{
                font-size: 50px;
                line-height: 90px;
            }
            #detalle-terminado,
            #detalle-proceso,
            #detalle-tienda{
                min-height: 400px;
            }
            .btn-pref .hidden-xs{
                font-size: 40px;
            }
            .tablon-progreso h5{
                font-size: 60px;
            }
            .btn-pref span {
                font-size: 40px;
            }
            .descripcion{
                font-size: 50px;
            }
            .detalle-fecha{
                font-size: 30px;
            }
            .detalle-enunciado,
            .detalle-coste{
                font-size: 50px;
            }
            .detalle-enunciado{
                min-height: 200px;
                margin: 1%;
            }
            .detalle-boton{
                font-size: 35px;
            }
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container">
        {% if SECCION is defined %}
            {% if SECCION == 'comida'%}
                {% set SECCION_TEXTO = 'COMIDA' %}
            {% elseif SECCION == 'bebida'%}
                {% set SECCION_TEXTO = 'BEBIDA' %}
            {% endif %}
        {% else %}
            {% set SECCION_TEXTO = 'SECCIÓN NO DEFINIDA' %}
        {% endif %}
        <!--
        <div class="row">
            <div class="col-md-12 jumbotron">
                <div class="row" style="margin-top:-4%;">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li>
                                <a href="/">
                                    <i class="fa fa-home"></i>
                                    HOME
                                </a>
                                <span class="divider">/</span>
                            </li>
                            <li>
                                <a href="/ciudadano/alimentacion">
                                    <i class="fa fa-briefcase"></i>
                                    ALIMENTACION
                                </a> 
                                <span class="divider">/</span>
                            </li>
                            <li class="active">
                                <i class="fa fa-cutlery"></i> {{ SECCION_TEXTO }}
                            </li>
                            <li style="float:right;">
                                <a href="/logout">
                                    <i class="fa fa-sign-out"></i>
                                    SALIR
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" id="seccion_actividad" style="margin-bottom: 1%">
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-success" id="progress-tsc">
                        </div>
                    </div>
                </div>
                <div class="row" id="seccion_compra" style="margin-bottom: 1%;">
                    <div class="col-md-12">
        {% if EJERCICIOS is defined and EJERCICIOS|length > 0 %}
            {% set contador = 1 %}
            {% for EJERCICIO in EJERCICIOS %}
                {%if not contador is divisible by(2)%}
                    <div class="row">
                {% endif %}
                <div class="col-md-5 tarjeta-ejercicio post-it {%if contador is divisible by(2)%} col-md-offset-2 {%endif%}" 
                     style="margin-top: 1%; 
                {% if not EJERCICIO.ELEGIBLE %}
                    opacity: 0.5;
                {% endif %} ">
               <div class="row">
                {% if EJERCICIO.ESTADO == 'solicitado' %}
                    -->
                    <!--
                    <div class="col-xs-12">
                        <span style="font-size: 14px;">
                            <div class="col-xs-5">
                                TIEMPO RESTANTE: 
                            </div>
                            <div class="col-xs-7">
                                <div id="countdown-tsc">
                                    <script src="{{ asset('js/jquery.timeTo.js') }}"></script>
                                    <script>
                                        function responsive_screen() {
                                            if (window.matchMedia('screen and (max-width: 368px)').matches) {
                                                return 12;
                                            } else if (window.matchMedia('screen and (max-width: 500px)').matches) {
                                                return 17;
                                            } else if (window.matchMedia('screen and (max-width: 668px)').matches) {
                                                return 23;
                                            } else if (window.matchMedia('screen and (max-width: 868px)').matches) {
                                                return 28;
                                            } else if (window.matchMedia('screen and (max-width: 1068px)').matches) {
                                                return 33;
                                            } else {
                                                return 20;
                                            }
                                        }
                                        $('#countdown-tsc').timeTo({
                                            timeTo: new Date(new Date('{{ EJERCICIO.TSC.date }}')),
                                            displayDays: 2,
                                            theme: "white",
                                            displayCaptions: true,
                                            fontSize: responsive_screen(),
                                            captionSize: 14
                                        });
                                    </script>
                                </div>
                            </div>
                        </span>
                    </div>
                    -->
                    <!--
                {% else %}
                    <div class="col-xs-6 .ejercicio-seccion">
                    {% if not EJERCICIO.VISTO %}
                        <span class="badge" id="texto-badge">NUEVO</span>
                    {% elseif EJERCICIO.EVALUADO is defined %}
                        <span class="fa fa-eye"></span> EJERCICIO EVALUADO
                    {% endif %}
                </div>
                <div class="col-xs-6" id="ejercicio-calificacion">
                    {% if EJERCICIO.EVALUADO is defined %}
                        <img src="{{ asset('images/badges/' ~ EJERCICIO.EVALUADO.getCorrespondenciaIcono()) }}" title="{{ EJERCICIO.EVALUADO.getCorrespondenciaTexto() }}" />
                    {% endif %}

                </div>
                {% endif %}
            </div>
            <div class="row ejercicio-seccion">
                <div class="col-xs-6 tarjeta-ejercicio-tipo">
                    <span class="fa fa-check-square"> </span>
                {{ EJERCICIO.TIPO }}
            </div>
            <div class="col-xs-6 tarjeta-ejercicio-fecha" style="float:right;">
                <span class="fa fa-calendar"> </span>
                {{ EJERCICIO.FECHA.date }}
            </div>
        </div>
        <div class="row ejercicio-seccion">
            <div class="col-md-12 tarjeta-ejercicio-enunciado">
                <div class="row">
                    <div class="col-xs-1">
                        <span class="fa fa-graduation-cap"></span>
                    </div>
                    <div class="col-xs-11">
                {{ EJERCICIO.ENUNCIADO }}
            </div>
        </div>
    </div>
</div>
                {% if EJERCICIO.ELEGIBLE %}
                    <div class="row ejercicio-seccion" style="margin-top: 2%;">
                    {% if EJERCICIO.ESTADO == 'solicitado' %}
                        <div class="col-md-6 col-md-offset-6">
                            <button class="btn btn-warning btn-block" onclick="arena_ejercicio({{ EJERCICIO.ID }});"> ENTREGAR </button>
                        </div>
                    {% elseif EJERCICIO.ESTADO == 'entregado' %}
                        <div class="col-md-6 col-md-offset-6">
                            <button class="btn btn-warning btn-block" onclick="arena_ejercicio({{ EJERCICIO.ID }});"> MODIFICAR ENTREGA </button>
                        </div>
                    {% else %}
                        <div class="col-md-6 col-md-offset-6">
                            <button class="btn btn-warning btn-block" onclick="solicitar({{ EJERCICIO.ID }});"><span class="fa fa-shopping-cart"></span> COMPRAR</button>
                        </div>
                    {% endif %}
                </div>
                {% elseif SECCION_TEXTO == 'PAGA EXTRA' and not EJERCICIO.ELEGIBLE %}

                {% endif %}
            </div>
                {%if contador is divisible by(2)%}
                </div>
                {% endif %}
                {% set contador = contador + 1 %}
            {% endfor %}
        {% endif %}
    </div>
</div>
</div>
</div>
        -->
        <div class="row" style="margin-top: 1%;">
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="tienda" class="btn btn-primary btn13" href="#tab1" data-toggle="tab">
                        <span class="fa fa-shopping-cart" aria-hidden="true"></span>
                        <div class="hidden-xs">TIENDA</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="proceso" class="btn btn-default btn13" href="#tab2" data-toggle="tab">
                        <span class="fa fa-refresh" aria-hidden="true"></span>
                        <div class="hidden-xs">EN PROCESO</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="terminado" class="btn btn-default btn13" href="#tab3" data-toggle="tab">
                        <span class="fa fa-archive" aria-hidden="true"></span>
                        <div class="hidden-xs">TERMINADO</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="exit" class="btn btn-default btn4" onclick="window.history.back();" >
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        <div class="hidden-xs">ATRAS</div>
                    </button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row tablon-progreso">
                    <h5>HAMBRE</h5>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-warning" id="progress-tsc"></div>
                    </div>
                </div>
                <div class="row tablon-contenido" id="seccion_compra" style="margin-bottom: 1%;">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                            <div class="col-xs-6" id="estanteria-tienda">
                                <div class="row" style="margin-bottom: 1%;">
                                    <span class="descripcion">
                                        DEBES COMER CADA CIERTO TIEMPO PARA NO MORIR DE HAMBRE.
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="slot col-xs-2 fila" id="tienda-1"></div>
                                    <div class="slot col-xs-2 fila" id="tienda-2"></div>
                                    <div class="slot col-xs-2 fila" id="tienda-3"></div>
                                    <div class="slot col-xs-2 fila" id="tienda-4"></div>
                                    <div class="slot col-xs-2 fila" id="tienda-5"></div>
                                    <div class="slot col-xs-2" id="tienda-6"></div>
                                </div>
                                <div class="row">
                                    <div class="slot col-xs-2 fila-abajo fila" id="tienda-7"></div>
                                    <div class="slot col-xs-2 fila-abajo fila" id="tienda-8"></div>
                                    <div class="slot col-xs-2 fila-abajo fila" id="tienda-9"></div>
                                    <div class="slot col-xs-2 fila-abajo fila" id="tienda-10"></div>
                                    <div class="slot col-xs-2 fila-abajo fila" id="tienda-11"></div>
                                    <div class="slot col-xs-2 fila-abajo" id="tienda-12"></div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-xs-offset-1" id="detalle-tienda"></div>
                        </div>
                        <div class="tab-pane fade in" id="tab2">
                            <div class="col-xs-6" id="estanteria-proceso">
                                <div class="row" style="margin-bottom: 1%;">
                                    <span class="descripcion">
                                        ESTOS EJERCICIOS ESTAN PENDIENTES DE EVALUACION POR EL GUARDIAN.
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="slot col-xs-2 fila" id="proceso-1"></div>
                                    <div class="slot col-xs-2 fila" id="proceso-2"></div>
                                    <div class="slot col-xs-2 fila" id="proceso-3"></div>
                                    <div class="slot col-xs-2 fila" id="proceso-4"></div>
                                    <div class="slot col-xs-2 fila" id="proceso-5"></div>
                                    <div class="slot col-xs-2" id="proceso-6"></div>
                                </div>
                                <div class="row">
                                    <div class="slot col-xs-2 fila-abajo fila" id="proceso-7"></div>
                                    <div class="slot col-xs-2 fila-abajo fila" id="proceso-8"></div>
                                    <div class="slot col-xs-2 fila-abajo fila" id="proceso-9"></div>
                                    <div class="slot col-xs-2 fila-abajo fila" id="proceso-10"></div>
                                    <div class="slot col-xs-2 fila-abajo fila" id="proceso-11"></div>
                                    <div class="slot col-xs-2 fila-abajo" id="proceso-12"></div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-xs-offset-1" id="detalle-proceso"></div>
                        </div>
                        <div class="tab-pane fade in" id="tab3">
                            <div class="col-xs-6" id="estanteria-terminado">
                                <div class="row" style="margin-bottom: 1%;">
                                    <span class="descripcion">
                                        ESTOS EJERCICIOS HAN SIDO EVALUADOS POR 
                                        EL GUARDIAN. PUEDEN VOLVER A REALIZARSE 
                                        HASTA ALCANZAR LA MAXIMA CALIFICACION.
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="slot col-xs-2 fila" id="terminado-1"></div>
                                    <div class="slot col-xs-2 fila" id="terminado-2"></div>
                                    <div class="slot col-xs-2 fila" id="terminado-3"></div>
                                    <div class="slot col-xs-2 fila" id="terminado-4"></div>
                                    <div class="slot col-xs-2 fila" id="terminado-5"></div>
                                    <div class="slot col-xs-2" id="terminado-6"></div>
                                </div>
                                <div class="row">
                                    <div class="slot col-xs-2 fila-abajo fila" id="terminado-7"></div>
                                    <div class="slot col-xs-2 fila-abajo fila" id="terminado-8"></div>
                                    <div class="slot col-xs-2 fila-abajo fila" id="terminado-9"></div>
                                    <div class="slot col-xs-2 fila-abajo fila" id="terminado-10"></div>
                                    <div class="slot col-xs-2 fila-abajo fila" id="terminado-11"></div>
                                    <div class="slot col-xs-2 fila-abajo" id="terminado-12"></div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-xs-offset-1" id="detalle-terminado"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var ya_solicitado = false;
        $(document).ready(function () {
            obtenerTienda();
            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                $(this).removeClass("btn-default").addClass("btn-primary");
            });
        {% if info.message is defined or info.type is defined%}
                $('#box_modal_result').click();
        {% endif %}
                setTSC();

            });

            function arena_ejercicio(id) {
                var ruta = '/arena/' + id;
                window.location.replace(ruta);
            }
            function solicitar(id) {
                var ruta = '/solicitar/' + id;
                $.get(ruta, function (data, status) {
                    if (data.respuesta === 'OK') {
                        location.reload();
                    } else {
                        $('#mensaje-titulo').html('&nbsp;ERROR...');
                        $('#mensaje-texto').html(data.mensaje);
                        $('#modal-avisos2').click();
                    }
                });
            }
            $(function () {
                setInterval(function () {
                    setTSC();
                }, 5000);
            });
            function setTSC() {
                var ruta = '/getTiempoSinComer';
                $.get(ruta, function (data, status) {
                    if (data.porcentaje !== 'null') {
                        $('#progress-tsc').width(data.porcentaje + '%');
                        contenido = '';
                        if (data.porcentaje > 0) {
                            contenido += data.porcentaje.toFixed(2) + '%';
                        }
                        if (data.porcentaje <= 0) {
                            contenido += 'MURIENDO';
                        }
                        $('#progress-tsc').html(contenido);
                    }
                });
            }
            function obtenerTienda() {
                ruta = '/ciudadano/alimentacion/comida/tienda';
                $.get(ruta, function (data, status) {
                    console.log(data);
                    if (data.estado === 'OK') {
                        if (data.message.YA_SOLICITADO) {
                            ya_solicitado = true;
                        }
                        rellenarEstantes(data.message.EJERCICIOS);
                    }
                });
            }
            function rellenarEstantes(productos) {
                contador_tienda = 1;
                contador_proceso = 1;
                contador_terminado = 1;
                $.each(productos, function (k, v) {
                    if (v.ESTADO === 'no_solicitado') {
                        contenido = '<span onclick="mostrarTienda(' + v.ID + ');">';
                    }
                    if (v.ESTADO === 'solicitado') {
                        contenido = '<span onclick="mostrarProceso(' + v.ID + ');">';
                    }
                    if (v.ESTADO === 'entregado') {
                        contenido = '<span onclick="mostrarProceso(' + v.ID + ');" class="opacidad">';
                    }
                    if (v.ESTADO === 'evaluado') {
                        contenido = '<span onclick="mostrarTerminado(' + v.ID + ');">';
                    }
                    contenido += '  <img src="{{ asset('images/iconos/Comida/') }}' + v.ICONO + '" />';
                    contenido += '</span>';
                    if (v.ESTADO === 'no_solicitado') {
                        $("#tienda-" + contador_tienda).html(contenido);
                        contador_tienda++;
                    }
                    if (v.ESTADO === 'solicitado' || v.ESTADO === 'entregado') {
                        $("#proceso-" + contador_proceso).html(contenido);
                        contador_proceso++;
                    }
                    if (v.ESTADO === 'evaluado') {
                        $("#terminado-" + contador_terminado).html(contenido);
                        contador_terminado++;
                    }
                });
            }

            function mostrarTienda(id) {
                var ruta = '/ciudadano/alimentacion/comida/obtenerDetalle/' + id;
                $.get(ruta, function (data, status) {
                    if (data.estado === 'OK') {
                        contenido = '';
                        contenido += '<div class="row">';
                        contenido += '  <div class="col-md-12 detalle-fecha">';
                        contenido += '      <span class="fa fa-calendar">';
                        contenido += '          ' + data.message.FECHA.date;
                        contenido += '      </span>';
                        contenido += '  </div>';
                        contenido += '<div class="row">';
                        contenido += '  <div class="col-md-12 detalle-enunciado">';
                        contenido += '      ' + data.message.ENUNCIADO;
                        contenido += '  </div>';
                        contenido += '</div>';
                        contenido += '<div class="row">';
                        contenido += '  <div class="col-md-12 detalle-coste">';
                        contenido += '      <span class="fa fa-money"> </span>&nbsp;';
                        if (data.message.COSTE.dias !== 0) {
                            contenido += '<span style="color:red;">' + data.message.COSTE.dias + '</span>d&nbsp;';
                        }
                        if (data.message.COSTE.horas !== 0) {
                            contenido += '<span style="color:red;">' + data.message.COSTE.horas + '</span>h&nbsp;';
                        }
                        if (data.message.COSTE.minutos !== 0) {
                            contenido += '<span style="color:red;">' + data.message.COSTE.minutos + '</span>m&nbsp;';
                        }
                        if (data.message.COSTE.segundos !== 0) {
                            contenido += '<span style="color:red;">' + data.message.COSTE.segundos + '</span>s&nbsp;';
                        }
                        if (!data.message.COSTE.segundos &&
                                !data.message.COSTE.minutos &&
                                !data.message.COSTE.horas &&
                                !data.message.COSTE.dias) {
                            contenido += '<span style="color:green;">gratis</span>&nbsp;';
                        }
                        contenido += '  </div>';
                        contenido += '</div>';
                        contenido += '<div class="row">';
                        contenido += '  <div class="col-md-12">';
                        if (!ya_solicitado){
                            contenido += '      <button class="btn detalle-boton" onclick="solicitar(' + data.message.ID + ');">';
                            contenido += '          SOLICITAR';
                            contenido += '      </button>';
                        } else {
                            contenido += '      <button class="btn detalle-boton disabled" title="YA HAY UN EJERCICIO SOLICITADO">';
                            contenido += '          SOLICITAR';
                            contenido += '      </button>';
                        }
                        contenido += '  </div>';
                        contenido += '</div>';
                        $('#detalle-tienda').html(contenido);
                    } else {

                    }
                });
            }
            function mostrarProceso(id) {
                var ruta = '/ciudadano/alimentacion/comida/obtenerDetalle/' + id;
                $.get(ruta, function (data, status) {
                    if (data.estado === 'OK') {
                        contenido = '';
                        contenido += '<div class="row">';
                        contenido += '  <div class="col-md-12 detalle-fecha">';
                        contenido += '      <span class="fa fa-calendar">';
                        contenido += '          ' + data.message.FECHA.date;
                        contenido += '      </span>';
                        contenido += '  </div>';
                        contenido += '<div class="row">';
                        contenido += '  <div class="col-md-12 detalle-enunciado">';
                        contenido += '      ' + data.message.ENUNCIADO;
                        contenido += '  </div>';
                        contenido += '</div>';
                        contenido += '<div class="row">';
                        contenido += '  <div class="col-md-12 detalle-coste">';
                        contenido += '      <span class="fa fa-money"> </span>&nbsp;';
                        if (data.message.COSTE.dias !== 0) {
                            contenido += '<span style="color:red;">' + data.message.COSTE.dias + '</span>d&nbsp;';
                        }
                        if (data.message.COSTE.horas !== 0) {
                            contenido += '<span style="color:red;">' + data.message.COSTE.horas + '</span>h&nbsp;';
                        }
                        if (data.message.COSTE.minutos !== 0) {
                            contenido += '<span style="color:red;">' + data.message.COSTE.minutos + '</span>m&nbsp;';
                        }
                        if (data.message.COSTE.segundos !== 0) {
                            contenido += '<span style="color:red;">' + data.message.COSTE.segundos + '</span>s&nbsp;';
                        }
                        if (!data.message.COSTE.segundos &&
                                !data.message.COSTE.minutos &&
                                !data.message.COSTE.horas &&
                                !data.message.COSTE.dias) {
                            contenido += '<span style="color:green;">gratis</span>&nbsp;';
                        }
                        contenido += '  </div>';
                        contenido += '</div>';
                        contenido += '<div class="row">';
                        contenido += '  <div class="col-md-12">';
                        contenido += '      <button class="btn detalle-boton" onclick="arena_ejercicio(' + data.message.ID + ');">';
                        if (data.message.ESTADO === 'solicitado') {
                            contenido += '          ENTREGAR';
                        }
                        if (data.message.ESTADO === 'entregado') {
                            contenido += '          MODIFICAR ENTREGA';
                        }
                        contenido += '      </button>';
                        contenido += '  </div>';
                        contenido += '</div>';
                        $('#detalle-proceso').html(contenido);
                    } else {

                    }
                });
            }
            function mostrarTerminado(id) {
                var ruta = '/ciudadano/alimentacion/comida/obtenerDetalle/' + id;
                $.get(ruta, function (data, status) {
                    if (data.estado === 'OK') {
                        contenido = '';
                        contenido += '<div class="row">';
                        contenido += '  <div class="col-md-12 detalle-fecha">';
                        contenido += '      <span class="fa fa-calendar">';
                        contenido += '          ' + data.message.FECHA.date;
                        contenido += '      </span>';
                        contenido += '  </div>';
                        contenido += '<div class="row">';
                        contenido += '  <div class="col-md-12 detalle-enunciado">';
                        contenido += '      ' + data.message.ENUNCIADO;
                        contenido += '  </div>';
                        contenido += '</div>';
                        contenido += '<div class="row">';
                        contenido += '  <div class="col-md-12 detalle-coste">';
                        contenido += '      <span class="fa fa-money"> </span>&nbsp;';
                        if (data.message.COSTE.dias !== 0) {
                            contenido += '<span style="color:red;">' + data.message.COSTE.dias + '</span>d&nbsp;';
                        }
                        if (data.message.COSTE.horas !== 0) {
                            contenido += '<span style="color:red;">' + data.message.COSTE.horas + '</span>h&nbsp;';
                        }
                        if (data.message.COSTE.minutos !== 0) {
                            contenido += '<span style="color:red;">' + data.message.COSTE.minutos + '</span>m&nbsp;';
                        }
                        if (data.message.COSTE.segundos !== 0) {
                            contenido += '<span style="color:red;">' + data.message.COSTE.segundos + '</span>s&nbsp;';
                        }
                        if (!data.message.COSTE.segundos &&
                                !data.message.COSTE.minutos &&
                                !data.message.COSTE.horas &&
                                !data.message.COSTE.dias) {
                            contenido += '<span style="color:green;">gratis</span>&nbsp;';
                        }
                        contenido += '  </div>';
                        contenido += '</div>';
                        contenido += '<div class="row">';
                        contenido += '  <div class="col-md-12">';
                        if (!ya_solicitado){
                            contenido += '      <button class="btn detalle-boton" onclick="solicitar(' + data.message.ID + ');">';
                            contenido += '          VOLVER A SOLICITAR';
                            contenido += '      </button>';
                        } else {
                            contenido += '      <button class="btn detalle-boton disabled" title="YA HAY UN EJERCICIO SOLICITADO">';
                            contenido += '          VOLVER A SOLICITAR';
                            contenido += '      </button>';
                        }
                        contenido += '  </div>';
                        contenido += '</div>';
                        $('#detalle-terminado').html(contenido);
                    } else {

                    }
                });
            }
    </script>
{% endblock %}